{% load i18n %}

<form
  id="ngo-form-data-form"
  method="post"
  enctype="multipart/form-data"
  action=""
  class="grid gap-5">

  {% csrf_token %}

  {% trans "Form data" as title %}
  {% include "ngo-account/components/form-title.html" with hide_public_page_button=hide_public_page_button|default_if_none:True hide_public_download_button=hide_public_download_button|default_if_none:True hide_ngohub_button=hide_ngohub_button|default_if_none:True %}

  <div class="flex flex-col gap-8 lg:flex-row-reverse lg:gap-16">

    <div>
      {% blocktrans trimmed asvar banner_message %}
        For filling in the form, we will use the following organization data:
      {% endblocktrans %}

      {% url "my-organization:presentation" as banner_cta_url %}
      {% trans "See the Organization's Information" as banner_cta_message %}
      {% include "components/info-banner.html" with banner_message=banner_message banner_list=info_banner_items %}


      <fieldset>

        <legend class="sr-only">
          {% trans "Legal information" %}
        </legend>

        <div class="flex flex-col gap-8 py-4">

          {% trans "Form URL" as input_title %}
          {#        Acesta este link-ul prin care utilizatorii vor accesa formularul tău pe site-ul redirectioneaza.ro. Poate conține doar litere, cifre și cratime. Exemplu: /formular-cauza.#}
          {% blocktrans trimmed asvar slug_helptext %}
            This is the link through which users will access your form on the site.
            It can only contain letters, numbers, and hyphens.
            Example: cause-form.
          {% endblocktrans %}
          {% include "components/input/input.html" with input_id="slug" input_type="text" input_name="slug" is_required=True value=cause.slug field=django_form.slug max_length=150 placeholder="url-formular" help_text=slug_helptext %}

          {% trans "IBAN on form" as input_title %}
          {#Alege IBAN-ul pe care îl vei utiliza pentru colectarea și depunerea la ANAF. Modificarea IBAN-ului nu va actualiza formularele deja completate de contribuabili.  Află mai multe      #}
          {% if cause %}
            {% blocktrans trimmed asvar iban_helptext %}
              Changing the IBAN will not update the forms already completed by taxpayers.
            {% endblocktrans %}
          {% else %}
            {% blocktrans trimmed asvar iban_helptext %}
              Choose the IBAN you will use for collecting and submitting to ANAF.
              {{ iban_helptext }}
            {% endblocktrans %}
          {% endif %}
          {% include "components/input/input.html" with input_id="bank_account" input_type="text" input_name="bank_account" placeholder="RO00 1234 5678 1234 5678" is_required=True value=cause.bank_account field=django_form.bank_account max_length=48 help_text=iban_helptext %}

        </div>

      </fieldset>
    </div>

    <div class="flex flex-col gap-8">
      <fieldset>

        {% if not form_page_legend_title %}
          {% trans "Form page" as form_page_legend_title %}
        {% endif %}
        {# Datele din această secțiune vor fi vizibile pe pagina publică a formularului. #}
        {% blocktrans trimmed asvar form_page_info_tooltip %}
          The information in this section will be visible on the public page of the form.
        {% endblocktrans %}
        {% include "components/form/legend.html" with legend_title=form_page_legend_title info_tooltip=form_page_info_tooltip %}


        <div class="flex flex-col gap-8 py-4">

          {% if not name_input_title %}
            {% trans "Form title" as name_input_title %}
          {% endif %}
          {% include "components/input/input.html" with input_title=name_input_title help_text=name_help_text input_id="name" input_type="text" input_name="name" placeholder=name_input_title is_required=True value=cause.name field=django_form.name %}

          {% if not description_input_title %}
            {% trans "Form description" as description_input_title %}
          {% endif %}
          {% include "components/input/textarea.html" with input_title=description_input_title help_text=description_help_text input_id="description" input_type="textarea" input_name="description" is_required=True value=cause.description field=django_form.description %}

          {% if not logo_input_title %}
            {% trans "Display image" as logo_input_title %}
          {% endif %}

          {% include "components/input/image.html" with input_title=logo_input_title help_text=logo_help_text input_id="display_image" input_name="display_image" is_required=False is_disabled=disable_ngohub_fields image=cause.display_image %}

        </div>

      </fieldset>

      <fieldset>

        {% if not form_settings_legend_title %}
          {% trans "Form settings" as form_settings_legend_title %}
        {% endif %}
        {# Din această secțiune poți gestiona vizibilitatea formularului, semnarea online și notificările prin email. #}
        {% blocktrans trimmed asvar form_settings_info_tooltip %}
          From this section, you can manage the form's visibility,
          online signing,
          and email notifications.
        {% endblocktrans %}
        {% include "components/form/legend.html" with legend_title=form_settings_legend_title info_tooltip=form_settings_info_tooltip %}

        <div
          class="flex flex-col gap-8 py-4"
          x-data="{ x_allow_online_collection: document.getElementById('allow_online_collection').checked, x_allow_online_notifications: document.getElementById('allow_online_notifications').checked }"
          x-init="$watch('x_allow_online_collection', value => {
            if (!value) {
              $refs.x_allow_online_notifications.checked = false;
              x_allow_online_notifications = false;
            }
          })"
        >

          {% if is_main_cause %}
            <input type="hidden" name="visibility" value="pub">
            <input type="hidden" name="is_main" value=True>
          {% else %}
            {% if not form_visibility_input_title %}
              {% trans "Form visibility" as form_visibility_input_title %}
            {% endif %}
            {% include "components/input/select.html" with input_title=form_visibility_input_title input_id="visibility" input_name="visibility" current_value=cause.visibility field=django_form.visibility options=visibility_choices is_required=True %}
          {% endif %}


          {% if not allow_online_collection_input_title %}
            {% trans "Allow users to sign the form online" as allow_online_collection_input_title %}
          {% endif %}
          {% blocktrans trimmed asvar signing_helptext %}
            Choose the IBAN you will use for collecting and submitting to ANAF.
            Changing the IBAN will not update the forms already completed by taxpayers.
          {% endblocktrans %}
          {% include "components/input/checkbox.html" with input_title=allow_online_collection_input_title input_id="allow_online_collection" input_name="allow_online_collection" x_ref="x_allow_online_collection" x_model="x_allow_online_collection" value=cause.allow_online_collection field=django_form.allow_online_collection help_text=signing_helptext style="isolated" %}


          <div
            id="notifications_section"
            x-init="$watch('x_allow_online_notifications', value => {
              if (!value) {
                document.getElementById('notifications_email').value = '';
                document.getElementById('notifications_email').required = false;
              } else {
                document.getElementById('notifications_email').required = true;
              }
            })"
            x-cloak
            x-show="x_allow_online_collection"
            class="flex flex-col gap-8">

            {% if not allow_online_notifications_input_title %}
              {% trans "Receive notifications for each signed form" as allow_online_notifications_input_title %}
            {% endif %}
            {% blocktrans trimmed asvar notifications_helptext %}
              Choose the IBAN you will use for collecting and submitting to ANAF.
              Changing the IBAN will not update the forms already completed by taxpayers.
            {% endblocktrans %}
            {% include "components/input/checkbox.html" with input_title=allow_online_notifications_input_title input_id="allow_online_notifications" input_name="allow_online_notifications" x_model="x_allow_online_notifications" value=cause.allow_online_notifications field=django_form.allow_online_notifications help_text=notifications_helptext style="isolated" %}

            <div
              x-cloak
              x-show="x_allow_online_notifications">
              {% if not notifications_email_input_title %}
                {% trans "Notifications e-mail address" as notifications_email_input_title %}
              {% endif %}
              {% include "components/input/input.html" with input_title=notifications_email_input_title input_id="notifications_email" input_type="email" input_name="notifications_email" is_disabled=disable_ngohub_fields value=cause.notifications_email field=django_form.notifications_email max_length=254 %}
            </div>

          </div>

        </div>

      </fieldset>
    </div>

  </div>

</form>
