{% extends 'admin/base.html' %}

{% load cache humanize i18n %}

{% block breadcrumbs %}{{ block.super }}{% endblock %}

{% block title %}
  {% if subtitle %}
    {{ subtitle }} |
  {% endif %}

  {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">
      {{ site_header|default:_('Django administration') }}
    </a>
  </h1>
{% endblock %}

{% block content %}
  {% include "unfold/helpers/messages.html" %}
{% endblock %}
  
  {% if display_work_in_progress %}
    {% include "admin/announcements/work_in_progress.html" %}
  {% endif %}
