{% extends 'admin/base_admin.html' %}

{% load unfold i18n %}

{% block body %}
  {% component "unfold/components/container.html" %}

    {% if header_stats %}
      {% include "admin/dashboard_components/header_stats.html" with header_stats=header_stats %}
    {% endif %}


    {% if forms_per_month_chart %}
      {% include "admin/dashboard_components/monthly_forms_chart.html" with forms_per_month_chart=forms_per_month_chart %}
    {% endif %}


    {% if yearly_stats %}
      {% include "admin/dashboard_components/yearly_stats.html" with yearly_stats=yearly_stats %}
    {% endif %}


    {% if table_stats %}
      {% include "admin/dashboard_components/table_stats.html" with table_stats=table_stats %}
    {% endif %}

  {% endcomponent %}

{% endblock %}
