
{% extends "base.html" %}

{% block header %}
    {% include "admin/header.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for key, value in stats_dict['years'].iteritems()|reverse %}
            <div class="col-xs-2">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <p>
                        {{ key }}
                    </p>
                    <p>
                        ONG-uri: {{ value["ngos"] }}
                    </p>
                    <p>
                        Formulare: {{ value["forms"] }}
                    </p>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        
    </div>
</div>
{% endblock %}
