{% extends "emails/base.html" %}

{% load i18n %}

{% block heading %}
  {% trans "Your redirection form was removed from redirectioneaza.ro" %}
{% endblock %}


{% block content %}

  <p>
    {% blocktrans trimmed %}
      Hello,
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      Thank you for choosing to support {{ cause_name }}!
      The redirection form you filled out has been removed at the NGO's request.
      This can happen, for example,
      if there was an error in the initial form or if it was filled out multiple times.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      If you wish to find out more information about the removed form, please contact the organization directly.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      If you wish to redirect again to the same cause, please go to the following link:
    {% endblocktrans %}
  </p>

  {% trans "Redirect" as action_title %}
  {% include "emails/components/action.html" with title=action_title url=action_url %}

  <p>
    {% trans "Thank you for your involvement!" %}
  </p>

  {% include "emails/components/misdelivered.html" %}

{% endblock %}
