{% extends "email/base_email.html" %}

{% block table_content %}

    <tr>
        <td class="content-block">
            Salut {{ name }}
        </td>
    </tr>
    <tr>
        <td class="content-block">
            Pentru a-ți reseta parola poți accesa link-ul de mai jos
            <br>
            <a href="{{ url }}">{{ url }}</a>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            Dacă nu ai cerut resetarea parolei, te rugăm să ignori acest email.
        </td>
    </tr>
    <tr>
        <td class="content-block">
            Mulțumim,
            <br>
            echipa redirectioneaza.ro
        </td>
    </tr>

{% endblock %}
