{% load i18n %}

{% if redirections|length == 0 %}

  <tr class="text-sm text-gray-600">
    <td class="py-4 pl-4 pr-3 font-medium text-gray-900 sm:pl-0" colspan="8">
      {% trans "No redirections found" %}
    </td>
  </tr>

{% else %}

  {% for redirection in redirections %}
    <tr
      class="text-sm text-gray-600">

      <td class="py-4 pl-4 pr-3 font-medium text-gray-900 whitespace-nowrap sm:pl-0">
        {{ forloop.counter0|add:page_obj.start_index }}
      </td>

      <td class="px-1 py-4 whitespace-nowrap">
        {{ redirection.date_created|date:"SHORT_DATE_FORMAT" }}
        <br>
        {{ redirection.date_created|time:"TIME_FORMAT" }}
      </td>
      <td class="py-4 pl-4 pr-3 font-medium text-gray-900 whitespace-normal sm:pl-0">
        {{ redirection.f_name }} {{ redirection.l_name }}
      </td>
      <td class="px-1 py-4 whitespace-nowrap">
        {{ redirection.city }}
        <br>
        <strong>{{ redirection.county }}</strong>
      </td>
      {% if redirection.is_anonymous %}
        <td class="col-span-2 px-1 py-4 text-gray-500 whitespace-normal" colspan="2">
          {% trans "This person does not wish to share their contact details." %}
        </td>
      {% else %}
        <td class="px-1 py-4 whitespace-nowrap">
          {{ redirection.email }}
        </td>
        <td class="px-1 py-4 whitespace-nowrap">
          {{ redirection.phone }}
        </td>
      {% endif %}
      <td class="px-1 py-4 whitespace-nowrap">
        {% if redirection.two_years %}
          {% trans "Yes" %}
        {% else %}
          {% trans "No" %}
        {% endif %}
      </td>
      <td class="px-1 py-4 whitespace-nowrap">
        {% if redirection.has_signed %}
          {% trans "Signed" %}
        {% else %}
          {% trans "Unsigned" %}
        {% endif %}
      </td>

      <td>
        <div
          x-data="{ open: false }"
          @keydown.escape.stop="open = false; focusButton()"
          @click.away="open = false"
          class="relative flex-none">
          <button
            id="options-menu-0-button"
            type="button"
            {% if not redirection.has_signed %}disabled{% endif %}
            {% if not redirection.has_signed %}title="{% trans "Downloads are disabled for unsigned redirections" %}"{% endif %}
            class="-m-2.5 block p-2.5 text-gray-500 hover:text-gray-900 disabled:text-gray-400 disabled:cursor-not-allowed"
            x-ref="button"
            @click="open = !open"
            @keyup.space.prevent="onButtonEnter()"
            @keydown.enter.prevent="onButtonEnter()"
            aria-expanded="true" aria-haspopup="true"
            x-bind:aria-expanded="open.toString()"
            @keydown.arrow-up.prevent="onArrowUp()"
            @keydown.arrow-down.prevent="onArrowDown()">

              <span class="sr-only">
                {% trans "Open options" %}
              </span>
            <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path d="M10 3a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM10 8.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM11.5 15.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"></path>
            </svg>

          </button>
          <div
            class="absolute right-0 z-10 mt-2 w-64 origin-top-right rounded-md bg-white py-2 ring-1 shadow-lg ring-gray-900/5 focus:outline-hidden"
            x-show="open"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            x-ref="menu-items"
            x-description="Dropdown menu, show/hide based on menu state."
            x-bind:aria-activedescendant="activeDescendant" role="menu" aria-orientation="vertical" aria-labelledby="options-menu-0-button" tabindex="-1"
            @keydown.arrow-up.prevent="onArrowUp()"
            @keydown.arrow-down.prevent="onArrowDown()"
            @keydown.tab="open = false"
            @keydown.enter.prevent="open = false; focusButton()"
            @keyup.space.prevent="open = false; focusButton()">

            {% if redirection.has_signed %}
              <a
                {# TODO: PROPER URL #}
                href="{{ redirection.pdf_file }}"
                target="_blank"
                class="flex gap-2 px-3 py-1 text-sm/6 text-gray-900 hover:bg-gray-50 hover:cursor-pointer"
                x-state:on="Active"
                x-state:off="Not Active"
                :class="{ 'bg-gray-50 outline-hidden': activeIndex === 0 }"
                role="menuitem"
                tabindex="-1"
                id="options-menu-0-item-0"
                {#              @mouseenter="onMouseEnter($event)"#}
                {#              @mousemove="onMouseMove($event, 0)"#}
                {#              @mouseleave="onMouseLeave($event)"#}
                {#              @click="open = false">#}
              >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m.75 12 3 3m0 0 3-3m-3 3v-6m-1.5-9H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"/>
                </svg>

                {% trans "Download form" %}
                <span class="sr-only">, {{ redirection.f_name }} {{ redirection.l_name }}</span>
              </a>
            {% endif %}

          </div>
        </div>
      </td>
    </tr>
  {% endfor %}

{% endif %}
