{% load i18n action_menu %}

{% if redirections|length == 0 %}

  <tr class="text-sm text-gray-600">
    <td class="py-4 pl-4 pr-3 font-medium text-gray-900 sm:pl-0" colspan="8">
      {% trans "No redirections found" %}
    </td>
  </tr>

{% else %}

  {% for redirection in redirections %}
    <tr
      class="text-sm text-gray-600">

      <td class="py-4 pl-4 pr-3 font-medium text-gray-900 whitespace-nowrap sm:pl-0">
        {{ forloop.counter0|add:page_obj.start_index }}
      </td>

      <td class="px-1 py-4 whitespace-nowrap">
        {{ redirection.date_created|date:"SHORT_DATE_FORMAT" }}
        <br>
        {{ redirection.date_created|time:"TIME_FORMAT" }}
      </td>
      <td class="py-4 pl-4 pr-3 font-medium text-gray-900 whitespace-normal sm:pl-0">
        {{ redirection.f_name }} {{ redirection.l_name }}
      </td>
      <td class="px-1 py-4 whitespace-nowrap">
        {{ redirection.city }}
        <br>
        <strong>{{ redirection.county }}</strong>
      </td>
      {% if redirection.is_anonymous %}
        <td class="col-span-2 px-1 py-4 text-gray-500 whitespace-normal" colspan="2">
          {% trans "This person does not wish to share their contact details." %}
        </td>
      {% else %}
        <td class="px-1 py-4 whitespace-nowrap">
          {{ redirection.email }}
        </td>
        <td class="px-1 py-4 whitespace-nowrap">
          {{ redirection.phone }}
        </td>
      {% endif %}
      <td class="px-1 py-4 whitespace-nowrap">
        {% if redirection.two_years %}
          {% trans "Yes" as two_years_status_text %}
          {% include "components/badge.html" with badge_title=two_years_status_text style="success" %}
        {% else %}
          {% trans "No" as two_years_status_text %}
          {% include "components/badge.html" with badge_title=two_years_status_text %}
        {% endif %}
      </td>
      <td class="px-1 py-4 whitespace-nowrap">
        {% if redirection.has_signed %}
          {% trans "Signed" as signing_status_text %}
          {% include "components/badge.html" with badge_title=signing_status_text style="success" %}
        {% else %}
          {% trans "Unsigned" as signing_status_text %}
          {% include "components/badge.html" with badge_title=signing_status_text style="error" %}
        {% endif %}
      </td>

      <td>

        {% include "components/action-menu/main.html" with items=redirection|redirection_dropdown button_disabled=redirection|button_disabled button_title=redirection|button_title %}

      </td>
    </tr>
  {% endfor %}

{% endif %}
