{% load i18n %}

<div class="mt-8 flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-300 text-center">

        <thead>
        {% include "ngo-account/redirections/list-header.html" %}
        </thead>

        <tbody class="divide-y divide-gray-200">
        {% include "ngo-account/redirections/list-items.html" %}
        </tbody>

      </table>
    </div>

    {% trans "donations" as paginated_type %}
    {% include "public/components/pagination.html" with page_obj=page_obj paginated_type=paginated_type %}

  </div>
</div>
