{% load i18n action_menu %}

{% if causes|length == 0 %}

  <tr class="text-sm text-gray-600">
    <td class="py-4 pl-4 pr-3 font-medium text-gray-900 sm:pl-0" colspan="8">
      {% trans "No causes found" %}
    </td>
  </tr>

{% else %}

  {% for cause in causes %}
    <tr class="text-sm text-gray-600">

      <td class="py-3.5 pl-4 pr-3 text-gray-900 sm:pl-0">
        {#Cause#}

      </td>
      <td class="px-3 py-3.5 text-gray-900">
        {#IBAN#}

      </td>
      <td class="px-3 py-3.5 text-gray-900">
        {#Form URL#}

      </td>
      <td class="px-3 py-3.5 text-gray-900">
        {#Online Signing#}

      </td>
      <td class="px-3 py-3.5 text-gray-900">
        {#Visibility#}

      </td>
      <td class="px-3 py-3.5 text-gray-900">
        {#Edited at#}

      </td>
      <td class="px-3 py-3.5 text-gray-900">
        {#Contributions#}

      </td>
    </tr>
  {% endfor %}

{% endif %}
