{% extends "ngo-account/base.html" %}

{% load i18n static %}


{% block page_heading %}

  <div>

    <h1 class="text-2xl font-semibold text-gray-900">
      {% trans "Causes" %}
    </h1>

    <p class="pt-2 mt-2 text-lg text-gray-500">
      {% blocktrans trimmed %}
        Here, you can create and edit separate forms for causes or projects in your organization.
        You can manage the visibility of each form according to your needs.
      {% endblocktrans %}
    </p>

  </div>

{% endblock %}


{% block content %}

  <div class="grid mb-4 gap-x-6 gap-y-3 sm:grid-cols-2">

    <h1 class="text-base font-semibold text-gray-900">
      {% blocktranslate count counter=page_obj.paginator.count trimmed %}
        {{ counter }} cause created
        {% plural %}
        {{ counter }} causes created
      {% endblocktranslate %}
    </h1>

    <div class="grid items-center justify-end gap-2 sm:flex">
      <form action="{% url 'api-ngo-forms' %}" method="post">

        {% csrf_token %}

        <div class="inline-flex">

          <a
            {% if ngo.can_receive_forms %}
              href="{% url 'my-organization:cause-create' %}"
            {% else %}
              href="{% url 'my-organization:forms' %}"
              x-data
              x-tooltip.raw="{% trans "You need to first create the organization's form. Go to the 'Organization Form' page for this." %}"
            {% endif %}
              type="submit"
              class="inline-flex items-center gap-x-1.5 rounded-md border-gray-200 border px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-amber-200 hover:cursor-pointer focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600 disabled:border-zinc-950/20 disabled:bg-zinc-950/5 disabled:text-zinc-950/50 disabled:cursor-not-allowed">
            <svg
              class="size-5"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              aria-hidden="true"
              data-slot="icon">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"/>
            </svg>
            {% trans "Add form" %}
          </a>

        </div>

      </form>
    </div>

  </div>

  {% include "ngo-account/causes/listing.html" %}

{% endblock %}
