{% extends "ngo-account/organization-data.html" %}

{% load i18n %}

{% block organization_form %}

  <div>
    <form method="post" enctype="multipart/form-data" action="{% url 'organization-presentation' %}">
      {% csrf_token %}

      {% with disable_ngohub_fields=has_ngohub %}

        {% trans "Presentation Data" as title %}
        {% include "ngo-account/components/form-title.html" %}

        <fieldset>
          <div class="p-4 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

            {% comment %}
              TODO: Ideally, this should be two rows on the first column and one on the second, but the grid system is not allowing it.
            {% endcomment %}

            <div class="grid sm:col-span-6 sm:col-start-1 gap-6">
              {% trans "Name" as input_title %}
              {% include "components/input/input.html" with input_id="name" input_title=input_title input_type="text" input_name="name" is_required=True is_disabled=disable_ngohub_fields value=ngo.name %}
            </div>

            <div class="grid sm:col-span-6 sm:col-start-1 gap-6">
              {% trans "CUI/CIF" as input_title %}
              {% include "components/input/input.html" with input_id="cif" input_title=input_title input_type="text" input_name="cif" is_required=True is_disabled=disable_ngohub_fields value=ngo.full_registration_number %}
            </div>

            <div class="grid sm:col-span-6 sm:col-start-1 gap-6">
              {% trans "Logo" as input_title %}
              {% include "components/input/image.html" with input_id="logo" input_title=input_title input_type="file" input_name="logo" is_required=False is_disabled=disable_ngohub_fields image=ngo.logo %}
            </div>

            <div class="grid sm:col-span-6 sm:col-start-1 gap-6">
              {% trans "Organization website" as input_title %}
              {% include "components/input/input.html" with input_id="website" input_title=input_title input_type="url" input_name="website" is_required=True is_disabled=disable_ngohub_fields value=ngo.website %}
            </div>

            <div class="grid sm:col-span-4 sm:col-start-1 gap-6">
              {% trans "Organization contact e-mail" as input_title %}
              {% include "components/input/input.html" with input_id="contact-email" input_title=input_title input_type="email" input_name="contact-email" is_required=True is_disabled=disable_ngohub_fields value=ngo.email %}
            </div>

            <div class="grid sm:col-span-2 gap-6">
              {% trans "Display e-mail in the profile" as input_title %}
              <div class="mt-8 flex gap-3">
                {% include "components/input/checkbox.html" with input_id="display-email" input_title=input_title input_name="display-email" input_value=ngo.display_email %}
              </div>
            </div>

            <div class="grid sm:col-span-4 sm:col-start-1 gap-6">
              {% trans "Organization contact phone" as input_title %}
              {% include "components/input/input.html" with input_id="contact-phone" input_title=input_title input_type="tel" input_name="contact-phone" is_required=False is_disabled=disable_ngohub_fields value=ngo.phone %}
            </div>

            <div class="grid sm:col-span-2 gap-6">
              {% trans "Display phone in the profile" as input_title %}
              <div class="mt-8 flex gap-3">
                {% include "components/input/checkbox.html" with input_id="display-phone" input_title=input_title input_name="display-phone" input_value=ngo.display_phone %}
              </div>
            </div>

            <div class="grid sm:col-span-4 sm:col-start-1 gap-6">
              {% trans "Organization address" as input_title %}
              {% include "components/input/input.html" with input_id="address" input_title=input_title input_type="text" input_name="address" is_required=True is_disabled=disable_ngohub_fields value=ngo.address %}
            </div>

            <div class="grid sm:col-span-2 gap-6">
              {% trans "County" as input_title %}
              {% include "components/input/county.html" with input_id="county" input_title=input_title input_name="county" is_required=True is_disabled=disable_ngohub_fields value=ngo.county %}
            </div>

            <div class="grid sm:col-span-6 gap-6">
              {% trans "Active region" as input_title %}
              {% if has_ngohub %}
                {% include "components/input/input.html" with input_id="active-region" input_title=input_title input_type="text" input_name="active-region" is_required=True is_disabled=disable_ngohub_fields value=ngo.active_region %}
              {% else %}
                {% include "components/input/county.html" with input_id="active-region" input_title=input_title input_name="active-region" is_required=True value=ngo.active_region %}
              {% endif %}
            </div>

          </div>
        </fieldset>

      {% endwith %}
    </form>
  </div>

{% endblock %}
