{% extends "ngo-account/organization-data.html" %}

{% load i18n %}

{% block organization_form %}

  <div>
    <form method="post" enctype="multipart/form-data" action="{% url 'organization-forms' %}">
      {% csrf_token %}

      {% trans "Form Data" as title %}
      {% include "ngo-account/components/form-title.html" with hide_ngohub_button=True %}

      <fieldset>
        <div class="grid grid-cols-1 gap-12">

          <input type="hidden" name="current-tab" value="form">

          {% trans "Titlu formular" as input_title %}
          {% include "components/input/input.html" with input_id="page_name" input_type="text" input_name="page_name" placeholder="Organization name" is_required=True is_disabled=True value=ngo.name %}

          {% trans "Form description" as input_title %}
          {% include "components/input/textarea.html" with input_id="description" input_title=input_title input_type="textarea" input_name="description" is_required=True value=ngo.description %}

          {% trans "IBAN on form" as input_title %}
          {% include "components/input/input.html" with input_id="iban" input_type="text" input_name="iban" placeholder="RO001234567812345678" is_required=True %}

        </div>
      </fieldset>

    </form>
  </div>

{% endblock %}
