{% extends "base.html" %}

{% load i18n static %}

{% block content %}

  <div class="container max-w-4xl">
    {% with current_tab|default:"presentation" as active_tab %}
      <div
        x-data="{ activeTab: '{{ active_tab }}' }"
        class="max-w-none">

        <h1 class="text-2xl text-gray-900 font-semibold">
          {% trans "Organization Data" %}
        </h1>

        <p class="text-lg pt-2 mt-2 text-gray-500">
          {% blocktrans trimmed %}
            Fill out the organization's profile on redirectioneaza.ro
          {% endblocktrans %}
        </p>

        {% trans "Presentation Data" as tab_presentation %}
        {% trans "Form Data" as tab_form %}

        <div class="pt-2 mt-2">
          <nav
            class="flex space-x-4"
            aria-label="Tabs">

            {% include "ngo-account/components/tab.html" with tab_title=tab_presentation target="presentation" %}
            {% include "ngo-account/components/tab.html" with tab_title=tab_form target="form" %}

          </nav>
        </div>

        <div class="rounded-md  border-gray-600 border mt-8 p-4">
          <div
            id="presentation"
            x-show="activeTab === 'presentation'"
            class="">
            {% include "ngo-account/ngo-presentation.html" with title=tab_presentation %}
          </div>

          <div
            id="form"
            x-show="activeTab === 'form'"
            class="">
            {% include "ngo-account/ngo-form.html" with title=tab_form %}
          </div>

        </div>

      </div>
    {% endwith %}
  </div>



{% endblock %}
