{% load i18n %}

<div
  class="hidden h-screen xl:inset-y-0 xl:z-50 xl:flex xl:w-72 xl:flex-col">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 pb-4 py-10">

    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>

          {% if header_content.admin_menu %}

            <ul role="list" class="-mx-2 space-y-2">
              {% for admin_menu_item in header_content.admin_menu %}
                <li>
                  {% include "ngo-account/sidebar/item.html" with item_target=admin_menu_item.target item_url=admin_menu_item.url item_icon=admin_menu_item.icon item_title=admin_menu_item.title %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}

        </li>

        {% comment %}
          <li class="mt-auto">
            {% url "organization-presentation" as item_url %}
            {% trans "Settings" as item_title %}
            {% with item_icon="M4.5 12a7.5 7.5 0 0 0 15 0m-15 0a7.5 7.5 0 1 1 15 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077 1.41-.513m14.095-5.13 1.41-.513M5.106 17.785l1.15-.964m11.49-9.642 1.149-.964M7.501 19.795l.75-1.3m7.5-12.99.75-1.3m-6.063 16.658.26-1.477m2.605-14.772.26-1.477m0 17.726-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205 12 12m6.894 5.785-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495" %}
              {% include "ngo-account/sidebar/item.html" with item_target="archives" %}
            {% endwith %}
          </li>
        {% endcomment %}
      </ul>
    </nav>
  </div>
</div>

