{% load i18n %}

<div
  class="hidden h-screen xl:inset-y-0 xl:z-50 xl:flex xl:w-72 xl:flex-col">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div
    x-data="{ activeItem: '{{ active_item }}' }"
    class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 pb-4 py-10">

    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>

          {% if header_content.admin_menu %}

            <ul role="list" class="-mx-2 space-y-2">
              {% for admin_menu_item in header_content.admin_menu %}
                <li>
                  {% include "ngo-account/sidebar/item.html" with item_target=admin_menu_item.target item_url=admin_menu_item.url item_icon=admin_menu_item.icon item_title=admin_menu_item.title %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}

        </li>

        {% if header_content.settings_menu %}

          {% for settings_menu_item in header_content.settings_menu %}
            <li class="mt-auto">
              {% include "ngo-account/sidebar/item.html" with item_target=settings_menu_item.target item_url=settings_menu_item.url item_icon=settings_menu_item.icon item_title=settings_menu_item.title %}
            </li>
          {% endfor %}

        {% endif %}

      </ul>
    </nav>
  </div>
</div>

