root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 120
insert_final_newline = true
trim_trailing_whitespace = true


[*.html]
max_line_length = 240

[Makefile]
tab_width = 4
indent_style = tab
max_line_length = 240

[{*.py,*.md}]
indent_size = 4
tab_width = 4
