# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.13
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: data/
      - id: check-yaml
      - id: check-added-large-files
        args: [ '--maxkb=5120' ] # 5MB

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.9
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ '--select', 'I', './backend' ]

      # Run the formatter.
      - id: ruff-format
        args: [ '--check', './backend' ]
