name: redirect_base

services:
  redirect_dev_base:
    extends:
      service: redirect_base
    build:
      context: .
      dockerfile: ./docker/dockerfiles/Dockerfile.dev
    volumes:
      - ./backend:/var/www/redirect/backend
      - node_modules:/var/www/redirect/backend/node_modules
    env_file:
      - .env
    ports:
      - "${WEBAPP_PORT:-8080}:8000"
      - "${STATIC_PORT:-3000}:3000"

  redirect_base:
    container_name: redirect_dev
    env_file:
      - .env
    environment:
      - "PYTHONUNBUFFERED=1"

  db_base:
    container_name: redirect_db_dev
    env_file:
      - .env

  db_base_psql:
    extends:
      service: db_base
    image: postgres:16.10
    volumes:
      - redirect_psql:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: "${DATABASE_NAME}"
      POSTGRES_USER: "${DATABASE_USER}"
      POSTGRES_PASSWORD: "${DATABASE_PASSWORD}"
    ports:
      - "${DATABASE_PORT:-5432}:5432"
