name: redirect_dev

services:

  webapp_sqlite:
    extends:
      file: docker-compose.base.yml
      service: redirect_dev_base
    volumes:
      - ./backend/.db_sqlite:/var/www/redirect/backend/.db_sqlite
    environment:
      - "DATABASE_ENGINE=sqlite3"
