{% extends "base.html" %}

{% block assets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css" />
{% endblock %}

{% block header %}
    {% if not custom_subdomain %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">

    <div id="homepage-container" class="jumbotron text-center">
        <div class="row">
            <img class="col-xs-12 col-md-6 col-md-offset-3" src="/images/index.png">
        </div>
        {% if company_name %}
            {# we have a custom header for some companies #}
            {% if custom_header %}
                <h1>
                    Redirecționează 3.5% din impozitul tău <br>
                    către o cauză la alegere
                </h1>
            {% else %}
                <h1>
                    Redirecționează 3.5% din impozitul tău <br>
                    către unul dintre ONG-urile susținute de {{ company_name }}.
                </h1>
            {% endif %}
        {% else %}
            <h1>
                Redirecționează 3.5%<br>
                din impozitul tău către ONG-ul în care crezi
            </h1>
        {% endif %}

        <h4 class="note">
            Fără să te coste nimic în plus, redirecționând, oferi un strop de putere în plus unui ONG care să facă bine și în numele tău. 
        </h4>
        <h4>
            Poți opta pentru redistribuirea sumei până pe <strong class="deadline">{{ limit.day }} {{ months[limit.month] }} {{ limit.year }}</strong>.
        </h4>
        {% if custom_note %}
            <h4>
                Dacă ONG-ul tău preferat nu se află pe această pagină, <br>
                consultă lista completă de organizații pe <a href="{{ uri_for('home') }}">redirectioneaza.ro</a>.
            </h4>
        {% endif %}
        
        {% if not custom_subdomain %}
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 search-bar-container">
                    <input id="search-bar" type="text" placeholder="Caută un ONG" />
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row text-center">
        {% for ngo in ngos %}
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="ong-panel panel panel-default">
                    <a href="{{ ngo.key.id() }}">
                        {% set logo = ngo.logo if ngo.logo else DEFAULT_NGO_LOGO %}
                        <div class="ong-logo">
                            <img src="{{ logo }}" class="img-responsive center-block" alt="{{ ngo.name }} logo" />
                        </div>
                        <div class="panel-heading">{{ ngo.name }}</div>
                    </a>
                  <div class="panel-body">
                    {{ ngo.description|truncate(125) }}
                  </div>
                </div>
            </div>
        {% endfor %}
        {% if not custom_subdomain %}
            <div class="col-xs-12">
                <div class="text-center">
                    <a id="for-ngos" class="btn btn-info btn-lg" href="/asociatii">Vezi toate asociațiile</a>
                </div>
            </div>
        {% endif %}
    </div>

    {% if stats %}
        <div class="row margin-top">
            <div class="col-xs-12 col-md-3 col-md-offset-2">
                <h3>{{ stats["ngos"] }}</h3>
                organizații înscrise în platformă
            </div>
            <div class="col-xs-12 col-md-3">
                <h3>{{ stats["forms"] }}</h3>
                formulare completate în {{ current_year }}
            </div>
            <div class="col-xs-12 col-md-3">
                <h3>
                    <span class="h5">peste</span> 1.000.000 <span class="h5">EUR</span>
                </h3>
                redirecționați spre ONG-uri în {{ current_year }}
            </div>
        </div>
    {% endif %}

    <div class="row homepage-paragraph about-section">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h3>Cum funcționează?</h3>
            <ol class="list-unstyled">
                <li>
                    <div class="media">
                        <div class="media-left media-middle">
                            {# <i class="glyphicon glyphicon-list-alt form-icon"></i> #}
                        </div>
                        <div class="media-body">
                            <h3 class="homepage-media-title">
                                Completează formularul de pe pagina unui <a href="/asociatii">ONG</a>.
                            </h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="media-left media-middle">
                            {# <i class="glyphicon glyphicon-print form-icon"></i> #}
                        </div>
                        <div class="media-body">
                            <h3 class="homepage-media-title">
                                Alege una dintre opțiunile disponibile:
                            </h3>

                            <ul class="list">
                                <li>
                                    Fie îl semnezi online, în browser, apoi formularul este trimis din platformă direct pe adresa de e-mail a asociației.
                                </li>
                                <li>
                                    Fie îl descarci, îl printezi și îl semnezi și îl trimiți pe e-mail, prin curier sau poștă la adresa ONG-ului și se ocupă ei de depunerea lui. Adresele le vei găsi în paginile fiecărui ONG pe masură ce completezi.
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="media-left media-middle">
                            {# <i class="glyphicon glyphicon-download-alt form-icon"></i> #}
                        </div>
                        <div class="media-body">
                            <h3 class="homepage-media-title">
                                Opțional
                            </h3>
                            <h4>
                                Fii un supererou civic. Dacă tu nu poți redirecționa impozitul sau vrei să dai o mână de ajutor în plus, descarcă formularul precompletat de pe pagina ONG-ului pe care vrei să îl susții, printează-l în mai multe exemplare și transmite-l colegilor, prietenilor și familiei și încurajează-i să redirecționeze.
                            </h4>
                        </div>
                    </div>
                </li>
            </ol>            
        </div>
    </div>
    <hr/>

    <div class="homepage-paragraph row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="media form-explanation ">
                <div class="media-left media-middle">
                    <i class="glyphicon glyphicon-duplicate form-icon first-icon"></i>
                </div>
                <div class="media-body">
                    <h3>Ce reprezintă formularul numărul 230?</h3>
                    <p>
                        Formularul este o metodă prin care oricine își poate redirecționa până la 3,5% din impozitul anual sau pentru o perioadă de până la doi ani către un ONG. Acest lucru înseamnă că acea sumă nu va mai ajunge în bugetul statului ci va fi direcționată către contul ONG-ului.
                    </p>
                    <p>
                        Distribuirea sumei reprezentând până la 3,5% din impozitul pe venitul datorat poate fi solicitată prin cerere pentru aceiaşi beneficiari pentru o perioadă de cel mult 2 ani şi va putea fi reînnoită după expirarea perioadei respective.
                    </p>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="media form-explanation ">
                <div class="media-left media-middle">
                    <i class="glyphicon glyphicon-heart form-icon second-icon"></i>
                </div>
                <div class="media-body">
                    <h3>De ce este important?</h3>
                    <p>
                        Este important pentru că este dreptul tău de a decide în ce mod se pot utiliza acești bani și îți oferă posibilitatea de a susține recurent o cauză în care crezi. ONG-urile se bazează pe ajutorul comunității și au nevoie de tine să iți poată continua activitatea.
                    </p>
              </div>
            </div>
        </div>
    </div>
    <hr/>
    
    {% if not custom_subdomain %}
        {% include "components/for-ngos.html" %}
    {% endif %}

</div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
    <script src="/js/search.js"></script>
{% endblock %}