{% extends "base.html" %} 

{% block additional_headers %}
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@3.0.0-beta.4/dist/signature_pad.umd.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="signature-container">
            <div class="signature-title-wrapper text-center">
                <span>Adaugă semnătura pentru a finaliza completarea formularului</span>
            </div>
            <canvas id="signature" width="600" height="200" style="border: 1px solid #ddd;"></canvas>
            <div class="signing-line"></div>
        </div>

        <div class="signature-button-container">
            <form action="{{ uri_for('ngo-twopercent-signature', ngo_url=ngo.key.id()) }}" role="form" method="post" class="signature-form">
                <span class="reset-button">
                    <button id="clear-signature" class="btn btn-lg" type="button">
                    Resetează
                </button>
                </span>
                <input id="signature-input" type="hidden" name="signature">
                <button class="btn btn-primary btn-lg" type="submit">
                    Trimite
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/js/signature.js"></script>
{% endblock %}
