django~=5.1.0
django-environ~=0.12
django-ipware~=7.0.1
# pinned because of a bug in >=0.54.0
django-unfold==0.53.0
django-allauth~=65.4
django-vite~=3.1

# wysiwyg editor
django-tinymce~=4.1.0

# import/export data in bulk
django-import-export~=4.3

pycognito~=2024.5.1

# captcha
django-recaptcha~=4.0.0

# NGO Hub integration
ngohub~=0.1.0

# encrypting data
cryptography~=44.0.0

# django-q
django-q2~=1.7.4
blessed~=1.20.0  # optional requirement for django-q2
psutil~=6.1.0

# emails
django-ses~=4.4

# database
pymysql~=1.1
psycopg2-binary~=2.9.9

# web server
gevent~=24.11.1
gunicorn~=23.0.0

# file storage
whitenoise~=6.9
django-storages[s3]~=1.14.4

# locale data
django-localflavor @ git+https://github.com/tudoramariei/django-localflavor.git@fix-rocnpfield-xx00#egg=django-localflavor
phonenumbers~=9.0

# pdf creation
reportlab~=4.3
pypdf~=5.3
svglib~=1.5.1

# requests
requests~=2.32.3

# Sentry
sentry-sdk[django]~=2.22

pydantic[email]~=2.11
