django~=5.1.1
django-environ~=0.11.2
django-ipware~=7.0.1
django-unfold~=0.40.0
django-allauth~=65.0.2

pycognito~=2024.5.1

# captcha
django-recaptcha~=4.0.0

# NGO Hub integration
ngohub~=0.0.9

# encrypting data
cryptography~=43.0.1

# django-q
django-q2~=1.7.2
blessed~=1.20.0  # optional requirement for django-q2
psutil~=6.0.0  # optional requirement for django-q2
croniter~=3.0.3  # optional requirement for django-q2

# emails
django-ses~=4.2.0

# database
pymysql~=1.1
psycopg2-binary~=2.9.9

# Jinja2
jinja2~=3.1.4

# web server
gevent~=24.2.1
gunicorn~=23.0.0

# file storage
whitenoise~=6.7.0
django-storages[s3]~=1.14.4

# locale data
django-localflavor~=4.0.0

# pdf creation
reportlab~=4.2.5
pypdf~=5.0.1
svglib~=1.5.1

# requests
requests~=2.32.3

# Sentry
sentry-sdk[django]~=2.15.0
