pip-tools~= 7.4.1

# formatting & linting
black~=25.1.0
ruff~=0.11

faker~=37.1

# testing
pytest~=8.3.5

pytest-django~=4.11
pytest-xdist~=3.6.1
pytest-cov~=6.0.0

# debugging
debugpy~=1.8.14

-r ./requirements.txt
