django~=5.1.5
django-environ~=0.11.2
django-ipware~=7.0.1
django-unfold~=0.46.0
django-allauth~=65.3.0
django-vite~=3.0.5

# wysiwyg editor
django-tinymce~=4.1.0

# import/export data in bulk
django-import-export~=4.3

pycognito~=2024.5.1

# captcha
django-recaptcha~=4.0.0

# NGO Hub integration
ngohub~=0.0.9

# encrypting data
cryptography~=44.0.0

# django-q
django-q2~=1.7.4
blessed~=1.20.0  # optional requirement for django-q2
psutil~=6.1.0  # optional requirement for django-q2

# emails
django-ses~=4.3.1

# database
pymysql~=1.1
psycopg2-binary~=2.9.9

# web server
gevent~=24.11.1
gunicorn~=23.0.0

# file storage
whitenoise~=6.8.2
django-storages[s3]~=1.14.4

# locale data
django-localflavor~=4.0.0

# pdf creation
reportlab~=4.2.5
pypdf~=5.1.0
svglib~=1.5.1

# requests
requests~=2.32.3

# Sentry
sentry-sdk[django]~=2.19.2
