{% extends "base.html" %}

{% load i18n static %}


{% block additional_headers %}

  <meta property="og:title" content="{{ ngo.name }}"/>
  <meta property="og:description" content="{{ ngo.description }}"/>
  {% if ngo.logo %}
    <meta property="og:image" content="{{ ngo.logo.url }}"/>
    <meta property="og:image:secure_url" content="{{ ngo.logo.url }}"/>
  {% endif %}

  <meta property="og:type" content="website"/>

  <script src='https://www.google.com/recaptcha/api.js?hl=ro' async defer></script>
{% endblock %}


{% block content %}

  {% if can_donate %}

    <div class="container max-w-4xl">
      <div class="prose prose-lg max-w-none prose-headings:text-gray-900 prose-p:text-gray-700">

        <h1>
          {% trans "Redirect easily and quickly" %}
        </h1>

        <p class="text-sm text-gray-400">
          {% blocktrans trimmed %}
            Since 2022, form 230 can be submitted online.
            Fill in the form with the data from your ID,
            sign it online, and it will be automatically sent to the organization.

            Alternatively, your form will be generated, and you will be able to download the PDF,
            but it will not reach the NGO.

            We rely on you to print, sign the form by hand,
            and send it to the NGO by mail or email,
            or submit it directly to ANAF.
          {% endblocktrans %}
        </p>

        <form>

          <fieldset class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-5">

            <div class="sm:col-span-2 sm:col-start-1 mt-2">
              {% trans "Last name" as input_title %}
              {% include "form/components/input.html" with input_id="last_name" input_type="text" input_name="last_name" input_autocomplete="family-name" is_required=True %}
            </div>

            <div class="sm:col-span-2 mt-2">
              {% trans "First name" as input_title %}
              {% include "form/components/input.html" with input_id="first_name" input_type="text" input_name="first_name" input_autocomplete="given-name" is_required=True %}
            </div>

            <div class="sm:col-span-1 mt-2">
              {% trans "Father's initial" as input_title %}
              {% include "form/components/input.html" with input_id="initial" input_type="text" input_name="initial" is_required=True %}
            </div>

            <div class="sm:col-span-4 mt-2">
              {% trans "Personal identification number" as input_title %}
              {% include "form/components/input.html" with input_id="cnp" input_type="text" input_name="cnp" is_required=True %}
            </div>

            <div class="sm:col-span-2 mt-2">
              {% trans "Email" as input_title %}
              {% include "form/components/input.html" with input_id="email_address" input_type="email" input_name="email_address" input_autocomplete="email" is_required=True %}
            </div>

            <div class="sm:col-span-2 mt-2">
              {% trans "Phone number" as input_title %}
              {% include "form/components/input.html" with input_id="phone_number" input_type="tel" input_name="phone_number" input_autocomplete="tel-national" %}
            </div>

          </fieldset>

          <hr class="border-t border-gray-200 border-1">

          <fieldset class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

            <h2 class="-mt-5 col-span-full text-base/7 font-semibold text-gray-900">
              {% trans "Home address" %}
            </h2>

            <div class="sm:col-span-4 sm:col-start-1 mt-2">
              {% trans "Street name" as input_title %}
              {% include "form/components/input.html" with input_id="street_name" input_type="text" input_name="street_name" input_autocomplete="address-line1" is_required=True %}
            </div>

            <div class="sm:col-span-1 mt-2">
              {% trans "Number" as input_title %}
              {% include "form/components/input.html" with input_id="street_number" input_type="text" input_name="street_number" is_required=True %}
            </div>

            <div class="sm:col-span-1 mt-2">
              {% trans "Flat" as input_title %}
              {% include "form/components/input.html" with input_id="flat" input_type="text" input_name="flat" input_autocomplete="address-line2" %}
            </div>

            <div class="sm:col-span-2 sm:col-start-1 mt-2">
              {% trans "Entrance" as input_title %}
              {% include "form/components/input.html" with input_id="entrance" input_type="text" input_name="entrance" input_autocomplete="address-line3" %}
            </div>

            <div class="sm:col-span-2 mt-2">
              {% trans "Floor" as input_title %}
              {% include "form/components/input.html" with input_id="floor" input_type="text" input_name="floor" input_autocomplete="address-line4" %}
            </div>

            <div class="sm:col-span-2 mt-2">
              {% trans "Apartment" as input_title %}
              {% include "form/components/input.html" with input_id="apartment" input_type="text" input_name="apartment" input_autocomplete="address-line5" %}
            </div>

            <div class="sm:col-span-3 sm:col-start-1 mt-2">
              {% trans "County" as input_title %}
              {% include "form/components/input.html" with input_id="county" input_type="text" input_name="county" input_autocomplete="address-level1" is_required=True %}
            </div>

            <div class="sm:col-span-3 mt-2">
              {% trans "Locality" as input_title %}
              {% include "form/components/input.html" with input_id="locality" input_type="text" input_name="locality" input_autocomplete="address-level2" is_required=True %}
            </div>

          </fieldset>

          <div class="items-center hidden text-center xl:flex gap-x-6 py-10">

            {% if ngo.is_accepting_forms %}
              <div
                x-data="{modalIsOpen: false}"
                class="w-full">

                {% comment %}
                  When clicking the "Sign" button, check if all the required fields are filled in, then show the modal.
                {% endcomment %}
                <button
                  id="signature-open"
                  @click="modalIsOpen = true"
                  type="button"
                  class="w-full text-center outline outline-amber-300 bg-amber-300 sm:text-base text-sm sm:px-6 sm:py-2 px-2 py-1 shadow-sm rounded-full text-gray-900 hover:bg-amber-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-300">
                  {% trans "Sign" %}
                </button>


                <div
                  x-cloak
                  x-show="modalIsOpen"
                  x-transition.opacity.duration.100ms
                  x-trap.inert.noscroll="modalIsOpen"
                  @keydown.esc.window="modalIsOpen = false"
                  @click.self="modalIsOpen = false"
                  role="dialog"
                  aria-modal="true"
                  aria-labelledby="defaultModalTitle"
                  class="fixed inset-0 z-30 flex items-end justify-center bg-black/20 p-4 pb-8 backdrop-blur-md sm:items-center lg:p-8">

                  <div
                    x-show="modalIsOpen"
                    x-transition:enter="transition ease-out duration-200 delay-100 motion-reduce:transition-opacity" x-transition:enter-start="opacity-0 scale-50" x-transition:enter-end="opacity-100 scale-100"
                    class="flex max-w-lg flex-col gap-4 overflow-hidden rounded-md border border-neutral-300 bg-white text-neutral-600 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300">


                    {% include "form/signature.html" %}

                  </div>

                </div>
              </div>
            {% endif %}

            <button
              type="submit"
              class="w-full text-center outline outline-amber-300 bg-white sm:text-base text-sm sm:px-6 sm:py-2 px-2 py-1 shadow-sm rounded-full text-gray-900 hover:bg-amber-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-300">
              {% trans "Continue without signing" %}
            </button>

          </div>

        </form>

      </div>
    </div>

  {% else %}

    <div class="container text-center">
      <h1 class="font-semibold text-2xl">
        <strong>Notă!</strong>
        Formularul de donație poate fi completat doar între
        <span class="text-amber-600">1 Ianuarie</span>
        și
        <span class="text-amber-600">{{ limit.day }} {{ month_limit }}</span>
        ale anului curent.
      </h1>
    </div>

  {% endif %}

{% endblock %}
