{% extends "base.html" %}

{% load i18n %}


{% block additional_headers %}
  <meta property="og:title" content="{{ cause.name }}"/>
  <meta property="og:description" content="{{ cause.description }}"/>
  {% if cause.display_image %}
    <meta property="og:image" content="{{ cause.display_image.url }}"/>
    <meta property="og:image:secure_url" content="{{ cause.display_image.url }}"/>
  {% endif %}

  {% if not cause.is_public %}
    <meta name="robots" content="noindex, nofollow">
  {% endif %}

  <meta property="og:type" content="website"/>

  <script src="https://www.google.com/recaptcha/api.js?hl=ro" async defer></script>

{% endblock %}

{% block content_container %}

  {% include "form/header/main.html" %}

  <div class="container py-16">

    {% if donation_status == "open" %}

      {% include "form/redirection-open.html" %}

    {% elif donation_status == "closed" %}

      {% include "form/redirection-closed.html" %}

    {% endif %}

  </div>

  {% if donation_status == "open" %}
    {% include "components/cta-redirection.html" %}
  {% endif %}

{% endblock %}
