{% load i18n static %}


<div x-data="signaturePad()" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div>x</div>
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div
        class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <!-- Close button -->
        <button type="button" @click="modalIsOpen = false"
                class="absolute top-3 right-3 text-gray-400 hover:text-gray-600 focus:outline-none" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
               stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
        <div class="text-center sm:mt-5">
          <h3 class="-mt-1 text-base font-semibold text-gray-900" id="modal-title">
            {% trans "Add signature" %}
          </h3>
          <div class="mt-2">
            <p class="text-sm text-gray-500">
              {% trans "Draw your signature in the canvas below." %}
            </p>
          </div>
        </div>

        <div id="signature-pad">
          <canvas id="signatureCanvas" class="w-full h-40 border border-solid border-gray-200">
          </canvas>
        </div>

        <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button
            id="signature-reset"
            type="button"
            data-action="reset"
            @click="clearSignature"
            class="w-full text-center outline outline-amber-300 bg-white sm:text-base text-sm sm:px-6 sm:py-2 px-2 py-1 shadow-sm rounded-full text-gray-900 hover:bg-amber-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-300">
            {% trans "Reset" %}
          </button>
          <button
            id="signature-save"
            type="button"
            data-action="send"
            @click="saveSignature"
            x-on:click="modalIsOpen=false"
            aria-label="Close"
            class="w-full text-center outline outline-amber-300 bg-amber-300 sm:text-base text-sm sm:px-6 sm:py-2 px-2 py-1 shadow-sm rounded-full text-gray-900 hover:bg-amber-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-300">
            {% trans "Ok" %}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
