
<form id="ong-details-form" class="form-horizontal" action="/asociatia" role="form" method="post">
    <fieldset>
        <legend>Datele asociatiei:</legend>
        <div class="form-group">
            <div class="col-xs-12">
                <input class="form-control" type="text" id="ong-nume" name="ong-nume" placeholder="Numele Asociatiei" value="{{ ngo.name }}" required maxlength="150" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 text-center">
                <div id="upload-logo" class="{{ 'hidden' if ngo.logo }}">
                    <label for="ong-logo">
                        <i class="fa fa-picture-o fa-4x"></i>
                        <p>Logo-ul asociatiei</p>
                    </label>
                    <input type="file" id="ong-logo" class="hidden" accept="image/*" name="ong-logo" />
                </div>
                <div id="display-logo" class="text-center {{ 'hidden' if not ngo.logo }}">
                    <img id="ngo-logo" src="{{ ngo.logo }}" class="img-responsive center-block" />
                    <span id="delete-ngo-logo" class="text-danger">Sterge</span>
                    <input type="hidden" id="ong-logo-url" name="ong-logo-url" value="{{ ngo.logo }}" />
                </div>
            </div>  
            <div class="col-xs-8">
                <textarea class="form-control" name="ong-descriere" placeholder="O scurta descriere" rows="3" required >{{ ngo.description }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                <input class="form-control" type="text" name="ong-tel" placeholder="telefon (optional)" value="{{ ngo.tel if ngo.tel }}" maxlength="20" />
            </div>
            <div class="col-xs-4">
                <input class="form-control" type="email" name="ong-email" placeholder="email (optional)" value="{{ ngo.email if ngo.email }}" maxlength="100" />
            </div>
            <div class="col-xs-4">
                <input class="form-control" type="text" name="ong-website" placeholder="website (optional)" value="{{ ngo.website if ngo.website }}" maxlength="100" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-8">
                <input class="form-control" type="text" name="ong-adresa" placeholder="Adresa Asociatiei" value="{{ ngo.address }}" required maxlength="100" />
            </div>
            <div class="col-xs-4">
                <select class="form-control" id="ong-judet" name="ong-judet" required x-moz-errormessage="Judetul este obligatoriu" title="Judetul este obligatoriu">
                    <option value="">Judetul</option>
                    <option value="RO" {{ "selected" if county == ngo.county }}>Toata tara</option>
                    <optgroup label="Bucuresti">
                        {% for number in range(1, 7) %}
                            <option value="{{ number }}" {{ "selected" if number|string == ngo.county }}>Sector {{ number }}</option>
                        {% endfor %}
                    </optgroup>
                    {% for county in counties %}
                        <option value="{{ county }}" {{ "selected" if county == ngo.county }} >{{ county }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <div>Poti alege un url personalizat pentru asociatia ta:</div>
                <p class="text-muted">(acesta nu va mai putea fi schimbat ulterior)</p>
                {# this div is only used to contain the two and to add the has-warning class #}
                <div>
                    <label for="ong-url" class="control-label">donezsi.eu/</label>
                    <input id="ong-url" class="form-control" type="text" name="ong-url" placeholder="url-ul asociatiei" value="{{ ngo.key.id() if ngo.key }}" required maxlength="50" {{ "readonly" if not is_admin and ngo.key  }} />
                </div>
            </div>  
        </div>
    </fieldset>
    <fieldset>
        <legend>Date financiare</legend>
        <p>Aceste date sunt necesare pentru formularul de 2%:</p>
        <div class="form-group">
            <label for="ong-cif" class="col-xs-4 control-label">Codul Cif:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="ong-cif" value="{{ ngo.cif }}" name="ong-cif" placeholder="Codul Cif" x-moz-errormessage="Codul Cif" title="Codul Cif" required maxlength="12" />
            </div>
        </div>
        <div class="form-group">
            <label for="ong-cont" class="col-xs-4 control-label">Codul IBAN al contului:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="ong-cont" value="{{ ngo.account }}" name="ong-cont" placeholder="Codul IBAN" x-moz-errormessage="Codul IBAN" title="Codul IBAN" required maxlength="40" />
            </div>
        </div>
    </fieldset>
    {% if is_admin %}
        <fieldset>
            <legend>Admin</legend>
            <input id="old-ong-url" type="hidden" name="old-ong-url" value="{{ ngo.key.id() if ngo.key }}" />
            <div class="form-group">
                <div class="col-xs-12">
                    <label for="ong-activ" class="col-xs-3">Activ:</label>
                    <input type="checkbox" id="ong-activ" name="ong-activ" {{ "checked" if ngo.active }} />
                </div>
                <div class="col-xs-12">
                    <label for="ong-verificat" class="col-xs-3">Verificat:</label>
                    <input type="checkbox" id="ong-verificat" name="ong-verificat" {{ "checked" if ngo.verified }} />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <textarea class="form-control" name="alte-adrese-email" placeholder="Adrese de email" rows="3" >{{ other_emails }}</textarea>
                </div>
            </div>
        </fieldset>
    {% endif %}

    <div class="form-group">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary margin-top pull-right">Trimite</button>
        </div>
    </div>
</form>

{# this script is only for setting up the ngo #}
<script type="text/javascript">

    {% if not ngo.key %}
        function checkNgoUrl(){
            if(!ongUrl.val()) {
                return;
            }

            $.ajax({
                url: "{{ check_ngo_url }}" + ongUrl.val(),
                success: function(data) {
                    ongUrl.parent().removeClass("has-error");
                },
                error: function(data) {
                    // if we find it it's no good
                    ongUrl.parent().addClass("has-error");
                }
            });
        };
        function sanitizeInput(value) {
            value = value.trim().toLowerCase();

            value = value.replace(/ț|Ț+/g, "t").replace(/ș|Ș+/g, "s").replace(/î|Î+/g, "i").replace(/ă|Ă+/g, "a").replace(/â|Â+/g, "a");

            // replace all spaces with -, more than one - goes to one, replace any non alpha
            value = value.replace(/\s+/g, "-").replace(/-+/g, "-").replace(/[^-\w]/g, '');

            return value;
        };

        var ongUrl = $("#ong-url");
        $("#ong-nume").on("input propertychange", function(ev){
            var value = sanitizeInput(ev.target.value);

            ongUrl.val(value);
        }).on("blur", checkNgoUrl);
        
        ongUrl.on("input propertychange", function(ev){
            var value = sanitizeInput(ev.target.value);

            ongUrl.val(value);

            checkNgoUrl();
        });
    {% endif %}

    var uploadLogo = $("#upload-logo");
    var displayLogo = $("#display-logo");

    var aws_api_url = "{{ ngo_upload_url }}";
    var photoLogoClass = "fa-picture-o";
    var loadingLogoClass = "fa-spinner fa-pulse";

    var errors = 0;
    uploadLogo.find("#ong-logo").on("change", function(ev){
        var file = ev.target.files[0];
        function errorCallback(){
            // TODO: remove this in the future
            alert("Se pare ca a aparut o problema. Va rugam reincarcati pagina si incercati din nou!")
            return;
            
            errors++;
            if(errors<4) {
                uploadLogo.find("#ong-logo").change();
            } else {
                alert("Se pare ca a aparut o problema. Va rugam reincarcati pagina si incercati din nou!")
            }
        }

        if( file ) {
            uploadLogo.find("."  + photoLogoClass).removeClass(photoLogoClass).addClass(loadingLogoClass);

            // request upload key
            $.ajax({
                url: aws_api_url + "?file_name="+file.name + "&file_type="+file.type,
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    // return

                    // upload to s3
                    $.ajax({
                        url: data.signed_request,
                        method: "PUT",
                        data: file,
                        processData: false,
                        contentType: false,
                        headers: {
                            'x-amz-acl': 'public-read',
                            'Content-Type': file.type
                        },
                        success: function() {
                            uploadLogo.addClass("hidden").find("input").val("");
                            displayLogo.find("img").attr("src", data.url);
                            displayLogo.find("#ong-logo-url").val(data.url);
                            displayLogo.removeClass("hidden");
                        },
                        error: errorCallback
                    });

                },
                error: errorCallback
            });
        }
    });

    $("#delete-ngo-logo").on("click", function(){
        uploadLogo.find(".fa").removeClass(loadingLogoClass).addClass(photoLogoClass);
        uploadLogo.removeClass("hidden");
        // hide the disaply logo and reset the logo url
        displayLogo.addClass("hidden").find("#ong-logo-url").val("");

    });

    // var ongCif = $("#ong-cif");
    // ongCif.on("blur", function(){
    //     if(!ongCif.val()) return;
    //     $.ajax({
    //         url: "http://openapi.ro/api/validate/cif/" + ongCif.val() + ".json",
    //         dataType: "jsonp",
    //         success: function(data) {
    //             if(data.valid) {
    //                 ongCif.parent().removeClass("has-error");
    //             } else {
    //                 ongCif.parent().addClass("has-error");
    //             }
    //         }
    //     });
    // });

    // var ongCont = $("#ong-cont");
    // ongCont.on("blur", function(){
    //     if(!ongCont.val()) return;
    //     $.ajax({
    //         url: "http://openapi.ro/api/validate/iban/" + ongCont.val() + ".json",
    //         dataType: "jsonp",
    //         success: function(data) {
    //             if(data.valid) {
    //                 ongCont.parent().removeClass("has-error");
    //             } else {
    //                 ongCont.parent().addClass("has-error");
    //             }
    //         }
    //     });
    // });
</script>