
<form id="ong-details-form" class="form-horizontal" action="/asociatia" role="form" method="post">
    <fieldset>
        <legend>Datele asociatiei:</legend>
        <div class="form-group">
            <div class="col-xs-12">
                <input class="form-control" type="text" id="ong-nume" name="ong-nume" placeholder="Numele Asociatiei" value="{{ ngo.name }}" required maxlength="150" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 text-center">
                <div id="upload-logo">
                    <label for="ong-logo">
                        <i class="fa fa-picture-o fa-4x"></i>
                        <p>Logo-ul asociatiei</p>
                    </label>
                    <input type="file" id="ong-logo" class="hidden" accept="image/*" name="ong-logo" />
                </div>
                <div id="display-logo" class="hidden text-center">
                    <img id="ngo-logo" src="" class="img-responsive center-block" />
                    <span id="delete-ngo-logo" class="text-danger">Sterge</span>
                    <input type="hidden" id="ong-logo-url" name="ong-logo-url" value="" />
                </div>
            </div>  
            <div class="col-xs-8">
                <textarea class="form-control" name="ong-descriere" placeholder="O scurta descriere" rows="3" required >{{ ngo.description }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input class="form-control" type="text" name="ong-adresa" placeholder="Adresa Asociatiei" value="{{ ngo.address }}" required maxlength="100" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <div>Poti alege un url personalizat pentru asociatia ta:</div>
                <p class="text-muted">(acesta nu va mai putea fi schimbat ulterior)</p>
                <label for="ong-url" class="control-label">donezsi.eu/</label>
                <input id="ong-url" class="form-control" type="text" name="ong-url" placeholder="url-ul asociatiei" value="{{ ngo.key.id() if ngo.key }}" required maxlength="50" {{ "readonly" if ngo.key }} />
            </div>  
        </div>
    </fieldset>
    <fieldset>
        <legend>Date financiare</legend>
        <p>Aceste date sunt necesare pentru formularul de 2%:</p>
        <div class="form-group">
            <label for="ong-cif" class="col-xs-4 control-label">Codul Cif:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="ong-cif" value="{{ ngo.cif }}" name="ong-cif" placeholder="Codul Cif" x-moz-errormessage="Codul Cif" title="Codul Cif" required maxlength="10" />
            </div>
        </div>
        <div class="form-group">
            <label for="ong-cont" class="col-xs-4 control-label">Codul IBAN al contului:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="ong-cont" value="{{ ngo.account }}" name="ong-cont" placeholder="Codul IBAN" x-moz-errormessage="Codul IBAN" title="Codul IBAN" required maxlength="40" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary margin-top pull-right">Trimite</button>
            </div>
        </div>
    </fieldset>
</form>

{# this script is only for setting up the ngo #}
<script type="text/javascript">

    {% if not ngo.key %}
        function checkNgoUrl(){
            $.ajax({
                url: "{{ check_ngo_url }}" + ongUrl.val(),
                success: function(data) {
                    // if we find it it's no good
                    ongUrl.addClass("text-danger");
                },
                error: function(data) {
                    ongUrl.removeClass("text-danger");
                }
            });
        };

        var ongUrl = $("#ong-url");
        $("#ong-nume").on("input propertychange", function(ev){
            var value = ev.target.value;
            value = value.trim().toLowerCase();
            // replace all spaces with -, more than one - goes to one, replace any non alpha
            value = value.replace(/\s+/g, "-").replace(/-+/g, "-").replace(/[^-\w]/g, '');

            ongUrl.val(value);
        }).on("blur", checkNgoUrl);

    {% endif %}

    var uploadLogo = $("#upload-logo");
    var displayLogo = $("#display-logo");

    var aws_api_url = "{{ AWS_SERVER_URL }}";
    var photoLogoClass = "fa-picture-o";
    var loadingLogoClass = "fa-spinner fa-pulse";

    var errors = 0;
    uploadLogo.find("#ong-logo").on("change", function(ev){
        var file = ev.target.files[0];
        function errorCallback(){
            // TODO: remove this in the future
            return;
            errors++;
            if(errors<4) {
                uploadLogo.find("#ong-logo").change();
            } else {
                alert("Se pare ca a aparut o problema. Va rugam reincarcati pagina si incercati din nou!")
            }
        }

        if( file ) {
            uploadLogo.find("."  + photoLogoClass).removeClass(photoLogoClass).addClass(loadingLogoClass);

            // request upload key
            $.ajax({
                url: aws_api_url + "?file_name="+file.name + "&file_type="+file.type,
                dataType: "jsonp",
                success: function(data) {
                    console.log(data);
                    // return

                    $.ajax({
                        url: data.signed_request,
                        method: "PUT",
                        data: file,
                        processData: false,
                        contentType: false,
                        headers: {
                            'x-amz-acl': 'public-read',
                            'Content-Type': file.type
                        },
                        success: function() {
                            uploadLogo.hide().find("input").val("");
                            displayLogo.find("img").attr("src", data.url);
                            displayLogo.find("#ong-logo-url").val(data.url);
                            displayLogo.removeClass("hidden");
                        },
                        error: errorCallback
                    });
                },
                error: errorCallback
            });
        }
    });
    
    ongUrl.on("input propertychange", function(ev){
        checkNgoUrl();
    });

</script>