

<div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
        <h4 class="text-center">Pdf-ul se creaza.</h4>
        <p>Vrem sa-ti multumim, te rugam sa ne lasi o adresa de email sau un numar de telefon:</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <form class="form-inline text-center" action="{{ ngo.key.id() }}/doilasuta/pas-2" method="post" role="form">
            <fieldset class="form-group">
                <input class="form-control" name="email" value="{{ email }}" type="text" placeholder="email" />
                <span>sau</span>
                <input class="form-control" name="tel" type="tel" value="{{ tel }}" placeholder="telefon mobil" />
                <button type="submit" class="btn btn-primary">Salveaza</button>
            </fieldset>
        </form>
    </div>
</div>
