{% load i18n %}

{% if not field_label %}
  {% trans "Password" as field_label %}
{% endif %}

<div>
  <label>
    <span class="block text-sm/6 font-medium text-gray-900 mb-2">
      {{ field_label }} <span class='text-red-500'>*</span>
    </span>
    <input
      type="password"
      name="{{ input_name }}"
      {% if password_type == "new" %}
      autocomplete="new-password"
      {% else %}
      autocomplete="current-password"
      {% endif %}
      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-amber-400 sm:text-sm/6"
      {% if max_length %}maxlength="{{ max_length }}"{% endif %}
      required>
  </label>
</div>
