{% extends "base.html" %}







{% block content %}
<div class="container">

    <div id="homepage-container" class="jumbotron text-center">
        <h1>Asociatii pentru care poti dona</h1>
    </div>

    <div class="row text-center">
        {% for ngo in ngos %}
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="ong-panel panel panel-default">
                    <a href="{{ ngo.key.id() }}">
                        {% if ngo.logo %}
                            <img src="{{ ngo.logo }}" class="img-responsive center-block ong-logo" alt="{{ ngo.name }} logo" />
                        {% endif %}
                        <div class="panel-heading">{{ ngo.name }}</div>
                    </a>
                  <div class="panel-body">
                    {{ " ".join(ngo.description.split()[:19]) + " ..." }}
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>



    <hr>
    <div id="homepage-first-paragraph" class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h3>Reprezinti un ONG?</h3>
            <p>Afla cum <strong>donezsi.eu</strong> te poate ajuta</p>
            <a class="btn btn-link pull-right" href="/pentru-ong-uri">Pentru ONG-uri</a>
        </div>
    </div>

</div>

{% endblock %}
