<!DOCTYPE html>
<html class="no-js" lang="{{ language }}">
    <head>
        <base href="{{ base_url }}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{{ title }}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/images/favicon/site.webmanifest">

        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <meta name="description" content="redirectioneaza.ro este platforma care ajuta ONG-urile sa colecteze formularul 230 de redirectionare a pana la 3.5% din impozit pentru pana la doi ani" />
        <meta name="keywords" content="platforma, ong, formular doi la suta, formular 3.5%, redirectionare 3.5%, donatie 3.5%, doneaza doi la suta, formularul 230" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate">

        <meta property="og:locale" content="ro" />
        <meta property="og:site_name" content="redirectioneaza.ro" />

        {# block used to add additional haders to a page, eg: ok:title #}
        {% block additional_headers %}
        {% endblock %}

        {# if we are on dev load with less, if not load the css #}
        {% if DEV %}
            <script>
                less = {
                    env: "development",
                    async: false
                }
            </script>
            <link rel="stylesheet/less" type="text/css" href="/css/main.less">

            {# block used to add new less #}
            {% block less %}
            {% endblock %}

            <script src="{{bower_components}}/less/dist/less.js"></script>
        {% else %}
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            
        {% endif %}

        {% block main_scripts %}
            {# if we are on dev load with less, if not load the css #}
            {% if DEV %}
            
                <script src="{{bower_components}}/jquery/dist/jquery.min.js"></script>
                <script src="{{bower_components}}/bootstrap/dist/js/bootstrap.min.js"></script>
            {% else %}

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            {% endif %}
        {% endblock %}

        {% block assets %}
        {% endblock %}

    </head>
    <body>
        
        {# block for special css #}
        {% block css %}
        {% endblock %}

        <header>
            {% block header %}
                {% include "header.html" %}
            {% endblock %}
        </header>
        
        <main>
            {% block content %}
            {% endblock %}
        </main>
        
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}


        {% block scripts %}
        {% endblock %}
        
        {% block analytics %}
            {# load google analytics only on production #}
            {% if not DEV %}
                <script src="/js/analytics.js"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>
