<!DOCTYPE html>
<html class="no-js" lang="{{ language }}">
    <head>
        <base href="{{ base_url }}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{{ title }}</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate">

        {# if we are on dev load with less, if not load the css #}
        {% if DEV == True %}
            <script>
                less = {
                    env: "development",
                    async: false
                }
            </script>
            <link rel="stylesheet/less" type="text/css" href="/css/main.less">
            {# block used to add new less #}
            {% block less %}

            {% endblock %}
            <script src="{{bower_components}}/less.js/dist/less.js"></script>

            <script src="{{bower_components}}/jquery/dist/jquery.min.js"></script>
            <script src="{{bower_components}}/uikit/js/uikit.js"></script>

            <script src="{{bower_components}}/lodash/dist/lodash.js"></script>

        {% else %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            
            <link rel="stylesheet" href="{{bower_components}}/uikit/css/uikit.almost-flat.css">

        {% endif %}

        {% block assets %}
        {% endblock %}

    </head>
    <body>
        
    {# block for special css #}
    {% block css %}
    {% endblock %}

    <header>
        {% block header %}
        {% endblock %}
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}

    </body>
</html>
