{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="row">
        {% if errors %}
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Oops!</strong> {{ errors }}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <form class="form-horizontal" action="/cont-nou" role="form" method="post">
                <fieldset>
                    <legend>Cont nou</legend>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <input class="form-control" type="text" name="nume" placeholder="Nume" required />
                        </div>
                        <div class="col-xs-6">
                            <input class="form-control" type="text" name="prenume" placeholder="Prenume" required />
                        </div>  
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" name="email" placeholder="Email" required />
                        </div> 
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" name="parola" placeholder="Parola" required />
                        </div> 
                    </div>
                    <a href="/login" class="btn btn-link pull-left">Am deja un cont</a>
                    <button type="submit" class="btn btn-primary pull-right">Trimite</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}
