{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Despre Redirectioneaza.ro</h3>
            <p>
                În fiecare an, orice cetățean poate alege să redirecționeze <strong>3.5% din impozitul</strong> pe venit către o cauză în care crede și pe care vrea să o susțină. Cu toate aceste, majoritatea nu o fac niciodată din două motive: un proces greoi și lipsa informațiilor centralizate cu privire la ONG-urile pe care le-ar putea susține.
            </p>
            <p>
                Să facem un exercițiu de imaginație. În 2017 existau 4.875.000 de angajați în România. La un salariu mediu brut de 4162 lei, impozitul pe venit atinge suma de 1.317.481.100 lei. Ceea ce înseamnă că, în România, anual s-ar putea redirecționa către organizațiile non-profit aproximativ <strong>26.349.622 lei</strong>. Împreună putem face asta să se întâmple.
            </p>
            <p>
                Mai mult, și ONG-urile se confruntă cu dificultatea de a transmite mesajul legat de redirecționare către audiențe foarte largi, într-un mod simplu, fără consum de resurse suplimentare.
            </p>
            <p>
                Redirecționeaza.ro conține informații despre peste 1.200 de ONG-uri care pot fi susținute prin simpla redirecționare a 3.5% din impozitul pe venit. Prin digitalizarea formularului #230 eliminăm nevoia unui contact direct dintre organizații și susținători, economisind timp și resurse cheltuite pe acțiuni publice offline.
            </p>
            <p>
                Redirectioneaza.ro este dezvoltat de Code for Romania, organizație neguvernamentală independentă, neafiliată politic și apolitică. Code for Romania este un grup de peste <strong>1.100 de voluntari</strong> români din țară și din diaspora care construiesc soluții digitale pentru a rezolva blocaje si probleme sociale ale Romaniei.
            </p>
            <p>
                Pentru a ține proiecte ca acesta în viață și pentru a susține crearea unor noi aplicații de acest fel, puteți susține Code for Romania cu o <a href="https://code4.ro/ro/doneaza/" target="_blank">donație recurentă</a>. Orice ajutor contează în efortul nostru de a upgrada România.
            </p>
            <p>
                Proiect realizat în totalitate prin implicarea voluntarilor Code for Romania.
            </p>
        </div>
    </div>
</div>
{% endblock %}
