<footer>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="social">
                <li>
                  <a href="https://www.facebook.com/code4romania/" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/Code4Romania" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/code4romania/" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/code-for-romania" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </li>
            </ul>
            <p class="footer-copy">
                  © 2018 Code for Romania.<br> Organizație neguvernamentală independentă, neafiliată politic și apolitică.
            </p>
            <ul class="list-unstyled list-inline text-muted footer-links">
                <li><a class="text-muted" href="/termeni">Termeni si conditii</a></li>
                <li><a class="text-muted" href="/politica">Politica de confidentialitate</a></li>
            </ul>
            <a class="footer-brand" href="https://code4.ro/">
                <img src="images/footer-logo.png" alt="Code for Romania">
            </a>
        </div>
    </div>
  </div>
</footer>