
<div class="container">
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled list-inline">
                    <li><a href="/">Acasa</a></li>
                    <li><a href="/despre">Despre</a></li>
                    <li><a href="/cont-nou">Cont nou</a></li>
                    <li><a href="/login">Contul meu</a></li>
                    <li><a href="https://docs.google.com/forms/d/1PdigxpzW1omlTtexfu-gXEPEJmkiEltGLBaTQ8n-nk8/viewform" target="_blank">Contact</a></li>
                </ul>
                <p>donezsi.eu</p>
                <p>Cea mai noua platforma pentru ONG-uri</p>
                <ul class="list-unstyled list-inline text-muted">
                    <li><a class="text-muted" href="/termeni">Termeni si conditii</a></li>
                    <li><a class="text-muted" href="/politica">Politica de confidentialitate</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>