<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="images/logoSmaller.png" alt="Redirectioneaza logo" width="90px;" />
            </a>
        </div>

        <div id="header-menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/asociatii">Asociații</a></li>
                <li><a href="/ong">Înregistrează ONG</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Log In</a></li>
            </ul>
        </div>
        <div id="sponsor-container">
            <a href="http://www.patriabank.ro" target="_blank">
                <img src="images/logo-patria-bank.png">
            </a>
        </div>
        <div id="creator-container">
            <p>Aplicație realizată de</p>
            <a href="https://code4.ro/" target="_blank">
                <img src="images/code4-header-logo.png">
            </a>
        </div>
    </div>
</nav>