{% extends "base.html" %}
z
{% block header %}
    <div class="home-container">
        {% include "navbar.html" %}
        <div class="container home-banner">
            <div class="row">
                <div class="col-xs-10 col-md-8">
                    <h2>{{ header.title }}</h2>
                    <h4>{{ header.description }}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <ul class="list">
                {% for course in list_of_ngo %}
                    <div class="col-xs-6 col-md-4">
                        {{ course_panel(course) }}
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="app-description">
        <div class="row">

        </div>
    </div>

</div>

{% endblock %}
