{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Acest website folosește cookie-uri pentru a furniza vizitatorilor o experiență mult mai bună de navigare și servicii adaptate nevoilor și interesului fiecăruia.
            </p>

            <p>
                "Cookie"-urile au rolul de a facilita accesul și livrarea serviciilor folosite de utilizatorul de internet, cum ar fi personalizarea anumitor setări (limbă, țară, prețuri afișante în moneda națională). "Cookie"-urile, pe baza informațiilor pe care le adună despre utilizatori, îi ajută pe deținătorii de site-uri să își eficientizeze produsul astfel încât acesta să fie cât mai usor accesat de catre utilizatori, de asemenea cresc gradul de eficiență a publicității online și nu in ultimul rând pot permite aplicațiilor multimedia sau de alt tip de pe alte site-uri să fie incluse într-un anumit site pentru a face navigarea mai utilă.
            </p>

            <h4>
                Ce este un "cookie"?
            </h4>
            <p>
                Cookie ("browser cookie" sau "HTTP cookie") este un fișier de mici dimensiuni, format din litere și numere, care este stocat pe orice terminal cu acces la internet (computer, telefon mobil, tabletă etc.) și este instalat prin solicitara emisă de către un web-server unui browser (ex: Internet Explorer, Chrome). De reținut: "Cookie"-urile nu conțin programe software, viruși sau spyware și nu pot accesa informațiile de pe hard drive-ul utilizatorului.
            </p>
            <p>
                Un cookie este format din nume și continut, durata de existență a acestuia fiind determinată, putând fi accesat din nou de webserver în momentul în care un utilizator se întoarce pe website-ul asociat webserverului respectiv.
            </p>
            <p>
                Cookie-urile nu solicită informații cu caracter personal și nu identifică personal utilizatorii de internet.
            </p>
            <p>
                Cookieuri de sesiune - acestea sunt stocate temporar în istoricul browser-ului care le memorează până când utilizatorul iese de pe web-siteul respectiv sau inchide fereastra browserului.
            </p>
            <p>
                Cookieuri Persistente - Acestea sunt stocate, în funcție de durata prestabilită, pe hard-drive-ul unui computer sau echipament. Cookie-urile persistente le includ ăi pe cele plasate de un alt website decât cel pe care îl vizitează utilizatorul la momentul respectiv - cunoscute sub numele de "third party cookies" - care pot fi folosite în mod anonim pentru a memora interesele unui utilizator, astfel încât sâ fie livratâ publicitate cât mai relevantă pentru utilizatori.
            </p>

            <h4>
                Care sunt avantajele cookie-urilor?
            </h4>
            <p>
                Un cookie conține informații care fac legatura între utilizatori și un anume website. Dacă un browser accesează acel web-server din nou, acesta poate citi informația deja stocată și reacționa în consecință.
            </p>

            <h4>
                Care este durata de viață a unui cookie?
            </h4>
            <p>
                Există cookie-uri folosite exclusiv pentru o singură sesiune - acestea nu mai sunt reținute dupa ce utilizatorul iese de pe website. Cookie-uri permanente - sunt reținute și refolosite de fiecare dată când utilizatorul revine pe acel website, însă pot fi șterse oricând de utilizator
            </p>

            <h4>
                Ce sunt cookie-urile plasate de terti?
            </h4>
            <p>
                Părți de conținut sau servicii pot fi plasate pe website-ul accesat, de către terțe părți prin intermediul bannerelor, boxurilor sau linkurilor - iar toate aceste instrumente pot conține cookie-uri. Ele se numesc "third party cookies" pentru că nu sunt plasate de proprietarul website-ului respectiv, iar furnizorii terți se supun legilor în vigoare și politicilor de confidențialitate ale deținătorului site-ului.
            </p>

            <h4>
                Cum sunt folosite cookie-urile de către acest site?
            </h4>
            <p>
                O vizită pe acest site poate plasa următoarele tipuri de cookie-uri:
            </p>
            <ul>
                <li>
                    Cookie-uri folosite pentru finalizarea unei donații
                </li>
                <li>
                    Cookie-uri de analiză a vizitatorilor
                </li>
                <li>
                    Cookie-uri de înregistrare
                </li>
            </ul>

            <p class="text-muted">
                Unele cookie-uri pot proveni de la terti.
            </p>

            <h5>
                Cookie-uri folosite pentru finalizarea unei donații
            </h5>
            <p>
                Completarea formularului de donație cuprinde mai multi pași. Pentru a ține evidența unei persoane și pentru a-i oferi documentul necesar vom salva un fișier cookie ce ne ofera o metodă de a-l identifica (precum un numar de ordine). Pentru fiecare completare a formularului se va crea un cookie nou sau se va suprascrie cel deja existent.
            </p>

            <h5>
                Cookie-uri pentru analiza vizitatorilor
            </h5>
            <p>
                De fiecare dată cand un utilizator vizitează acest site softul de analytics furnizat de o terță parte generează un cookie de analiză a utilizatorului. Acest cookie ne spune daca ați mai vizitat acest site până acum. Browser-ul ne va spune daca aveți acest cookie, iar dacă nu, vom genera unul. Acesta permite monitorizarea utilizatorilor unici care ne viziteaza și cât de des o fac. Acest cookie nu poate fi folosit pentru a identifica persoanele fizice, ele sunt folosite doar in scop statistic.
            </p>

            <h5>
                Cookie-uri pentru inregistrare
            </h5>
            <p>
                Atunci când va înregistrați pe acest site, generăm un cookie cu datele de pe acesta. Cookie-ul ne ajută în pașii următori pentru a comunica cu server-ul. Este posibil ca acesta să rămână dacă nu urmați toți pașii înregistrării, dar el va fi rescris data urmatoare când vă veți înregistra din nou.
            </p>

            <h5>
                Alte cookie-uri ale tertelor parti
            </h5>
            <p>
                Pe unele pagini, terții pot seta propriile cookie-uri anonime, în scopul de a urmari succesul unei aplicatii, sau pentru a customiza o aplicație. Datorită modului de utilizare, acest site nu poate accesa aceste cookie-uri, la fel cum terțele părti nu pot accesa cookie-urile deținute de acest site. De exemplu, când distribuiti o pagină folosind butonul pentru rețelele sociale aflat pe acest site, acea rețea socială va înregistra activitatea dvs.
            </p>

            <h4>
                Ce tip de informatii sunt stocate ăi accesate prin intermediul cookie-urilor?
            </h4>
            <p>
                Cookie-urile păstrează informații într-un fisier text de mici dimensiuni care permit unui website să recunoască un browser. Webserver-ul va recunoaște browserul până când cookie-ul expiră sau este sters. Cookie-ul stochează informații importante care îmbunatatesc experiența de navigare pe Internet (ex: un număr de ordine pentru donația ta).
            </p>

            <h4>
                De ce sunt cookie-urile importante pentru Internet?
            </h4>
            <p>
                Cookie-urile reprezintă punctul central al funcționării eficiente a Internetului, ajutând la generarea unei experiențe de navigare prietenoase și adaptată preferințelor și intereselor fiecarui utilizator. Refuzarea sau dezactivarea cookieurilor poate face unele site-uri imposibil de folosit.
            </p>
            <p>
                Refuzarea sau dezactivarea cookie-urilor nu înseamna că nu veți mai primi publicitate online - ci doar că aceasta nu va mai putea ține cont de preferințele și interesele dvs, evidențiate prin comportamentul de navigare.
            </p>

            <h4>
                Securitate și probleme legate de confidentialitate
            </h4>
            <p>
                Cookie-urile NU sunt viruși! Ele folosesc formate tip plain text. Nu sunt alcătuite din bucăți de cod așa ca nu pot fi executate nici nu pot auto-rula. În consecință, nu se pot duplica sau replica pe alte rețele pentru a se rula sau replica din nou. Deoarece nu pot îndeplini aceste funcții, nu pot fi considerate virusi.
            </p>
            <p>
                Cookie-urile pot fi totuși folosite pentru scopuri negative. Deoarece stochează informații despre preferințele și istoricul de navigare al utilizatorilor, atât pe un anume site cât și pe mai multe alte siteuri, cookieurile pot fi folosite ca o formă de Spyware. Multe produse anti-spyware sunt conștiente de acest fapt și în mod constant marcheaza cookie-urile pentru a fi șterse în cadrul procedurilor de ștergere/scanare anti-virus/anti-spyware.
            </p>
            <p>
                În general browserele au integrate setări de confidențialitate care furnizează diferite nivele de acceptare a cookieurilor, perioada de valabilitate și ștergere automată după ce utilizatorul a vizitat un anumit site.
            </p>

            <h4>
                Alte aspecte de securitate legate de cookie-uri
            </h4>
            <p>
                Deoarece protecția identității este foarte valoroasă și reprezintă dreptul fiecarui utilizator de internet, este indicat să se știe ce eventuale probleme pot crea cookieurile. Pentru că prin intermediul lor se transmit în mod constant în ambele sensuri informații între browser și website, dacă un atacator sau o persoana neautorizată intervine în parcursul de transmitere a datelor, informațiile conținute de cookie pot fi interceptate. Deși foarte rar, acest lucru se poate întampla dacă browserul se conecteaza la server folosind o rețea necriptată (ex: o rețea WiFi nesecurizată).
            </p>
            <p>
                Alte atacuri bazate pe cookie implică setări greșite ale cookieurilor pe servere. Dacă un website nu solicită browserului să foloseasca doar canale criptate, atacatorii pot folosi această vulnerabilitate pentru a păcăli browserele în a trimite informații prin intermediul canalelor nesecurizate. Atacatorii utilizează apoi informațiile în scopuri de a accesa neautorizat anumite site-uri. Este foarte important să fiți atenti în alegerea metodei celei mai potrivite de protectie a informatiilor personale.
            </p>

            <h4>
                Sfaturi pentru o navigare sigură și responsabila, bazata pe cookies
            </h4>
            <p>
                Datorită flexibilitatii lor și a faptului că majoritatea dintre cele mai vizitate site-uri și cele mai mari folosesc cookieuri, acestea sunt aproape inevitabile. Dezactivarea cookie-urilor nu va permite accesul utilizatorului pe site-urile cele mai răspândite și utilizate printre care Youtube, Gmail, Yahoo și altele. Iată cateva sfaturi care vă pot asigura că navigați fără griji însă cu ajutorul cookie-urilor:
            </p>
                <ul>
                    <li>
                        Particularizați-vă setarile browserului în ceea ce privește cookie-urile pentru a reflecta un nivel confortabil pentru voi al securitații utilizării cookie-urilor. Dacă nu vă deranjează cookie-urile și sunteți singura persoană care utilizaează computerul, puteți seta termene lungi de expirare pentru stocarea istoricului de navigare și al datelor personale de acces. Dacă împarțiți accesul la calculator, puteți lua în considerare setarea browserului pentru a sterge datele individuale de navigare de fiecare dată când închideți browserul. Aceasta este o variantă de a accesa site-urile care plasează cookie-uri și de a șterge orice informație de vizitare la închiderea sesiunii navigare.
                    </li>
                    <li>
                        Instalați-vă și updatați-vă constant aplicații antispyware.
                    </li>
                </ul>
            <p>
                Multe dintre aplicațiile de detectare și prevenire a spyware-ului includ detectarea atacurilor pe site-uri. Astfel, împiedică browserul de la a accesa website-uri care ar putea să exploateze vulnerabilitatile browserului sau să descarce software periculos. Asigurați-vă că aveți browserul mereu updatat. Multe dintre atacurile bazate pe cookies se realizează exploatând punctele slabe ale versiunilor vechi ale browserelor.
            </p>
            <p>
                Cookie-urile sunt pretutindeni și nu pot fi evitate dacă doriți să vă bucurați de acces pe cele mai bune și cele mai mari site-uri de pe Internet - locale sau internaționale. Cu o intelegere clară a modului lor de operare și a beneficiilor pe care le aduc, puteți lua mșsurile necesare de securitate astel încat să puteți naviga cu încredere pe internet.
            </p>

            <h4>
                Cum pot opri cookie-urile?
            </h4>
            <p>
                Dezactivarea și refuzul de a primi cookie-uri pot face anumite site-uri impracticabile sau dificil de vizitat și folosit. De asemenea, refuzul de a accepta cookie-uri nu înseamnă că nu veți mai primi/vedea publicitate online.
            </p>
            <p>
                Este posibilă setarea din browser pentru ca aceste cookie-uri să nu mai fie acceptate sau poți seta browserul să accepte cookie-uri de la un site anume. Dar, de exemplu, dacă nu dorești sa folosesti cookie-urile nu poți sa urmezi și pașii urmatori după înregistrarea completarea formularului.
            </p>
            <p>
                Toate browserele moderne oferă posibilitatea de a schimba setările cookie-urilor. Aceste setari se găsesc de regula în "opțiuni" sau în meniul de "preferințe" al browserului tău.
            </p>
            <p>
                Pentru setările cookie-urilor generate de terți, și pentru mai multe informații privind confidențialitatea legata de publicitatea online, IAB Romania pune la dispoziție următorul site: <a href="http://www.youronlinechoices.com/ro/">http://www.youronlinechoices.com/ro/</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
