{% extends "base.html" %}


{% block header %}
    {% include "components/ngo-header.html" %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <img class="" src="/img/succes.jpg" alt="">
            
            <h1>Multumim mult, {{ person.first_name }}</h1>
            <h2>Gasesti mai jos pdf-ul pentru download:</h2>
            <a href="{{ person.pdf_url }}" download>Descarca</a>
        </div>
    </div>
    
    {# if the ngo allows the donor to upload the signed and scaned pdf  #}
    {% if ngo.allow_upload %}
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <h3>Daca doresti, poti printa, scana si incarca formularul pentru a fi expediat de ONG catre ANAF in numele tau:</h3>
                <form action="{{ ngo.key.id()/succes }}" class="form" enctype="multipart/form-data">
                    <div class="form-group text-center">
                        <label for="signed-pdf" class="btn btn-default btn-lg">
                            Alege un fisier
                        </label>
                        <input id="signed-pdf" name="signed-pdf" type="file" accept="image/*, application/pdf" class="hidden" required title="Va rugam alegeti un fisier" x-moz-errormessage="Va rugam alegeti un fisier" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary margin-top pull-right">Incarca</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}
