{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Politica de confidentialitate donezsi.eu:</p>
            <ol>
              <li>
                Introducere
                <p>
                  Prezentele Conditii Generale definesc conditiile de utilizare a site-ului donezsi.eu, denumite in continuare Site-ul, de catre potentialii vizitatori sau clienti. Accesand si navigand pe acest site, acceptati, de facto, termenii de utilizare descrisi in continuare. In cazul in care nu sunteti de acord cu prezenta nota, va rugam sa parasiti acest website.
                </p>
              </li>

              <li>
                NEANGAJAREA RASPUNDERII
                <p>
                  Continutul informatiilor se refera la descrierea intr-un anumit grad de detaliere a activitatilor, produselor si serviciilor donezsi.eu.
                </p>
                <p>
                  donezsi.eu nu va acorda nici o garantie referitoare la:
                  </p><ul>
                    <li>
                      evitarea utilizarii anevoioase sau intreruperii in utilizare a site-ului;
                    </li>
                    <li>
                      neafectarea in sens negativ a altor sisteme prin utilizarea site-ului;
                    </li>
                  </ul>
                <p></p>
                <p>
                  Astfel donezsi.eu nu poate fi responsabila pentru nici un fel de daune directe sau indirecte produse prin utilizarea site-ului sau.
                </p>
              </li>

              <li>
                Marca si dreptul de autor
                <p>
                  Dreptul de autor pentru toate informatiile existente pe acest site este detinut de donezsi.eu sau de afiliatii sai. Nici un material de pe acest site nu poate fi reprodus partial, integral sau modificat fara acordul expres exprimat de catre donezsi.eu ori de titularul acestui drept.
                </p>
                <p>
                  Toate drepturile sunt rezervate donezsi.eu.
                </p>
                <p>
                  Este strict interzisa folosirea acestui site in scopul distrugerii sau alterarii lui, a continutului sau a securitatii acestuia ori pentru discreditarea sau hartuirea donezsi.eu sau a afiliatiilor sai.
                </p>
                <p>
                  donezsi.eu va aplica toate masurile de securitate tehnica si organizatorica pentru protejarea datelor asupra carora detine controlul impotriva oricarei situatii de manipulare accidentala sau intentionata, pierdere, distrugere sau impotriva accesului unei persoane neautorizate.
                </p>

              </li>

              <li>
                Obiectivul site-ului
                <p>
                  Obiectivul Site-ului este de a facilita colectarea formularelor de tip 230, formulare ce permit redirectionarea sumei reprezentand pana la 2% din impozitul anual pe venit.
                </p>
              </li>

              <li>
                Confidentialitate
                <p>
                  Protectia informatiilor in cursul prelucrarii datelor dumneavoastra personale este o preocupare majora a donezsi.eu, de aceea toate datele colectate in cursul vizitelor pe site-ul nostru web sunt prelucrate conform prevederilor legale valabile in Romania. Site-ul nostru web poate include legaturi cu alte site-uri al caror continut nu se afla sub controlul nostru, de aceea donezsi.eu nu isi asuma si nu poate accepta nici un fel de responsabilitate pentru continutul acestor site-uri web. 
                </p>
                <p>
                  donezsi.eu se angajeaza sa nu dezvaluie nici o informatie cu privire la vizitele dumneavoastra pe acest site, exceptand situatiile legale. 
                </p>
              </li>

              <li>
                Colectarea si prelucrarea datelor cu caracter personal
                <p>
                  Cand vizitati site-ul web al donezsi.eu, serverul de web inregistreaza automat numele furnizorului dumneavoastra de servicii internet si site-ul web de pe care ne vizitati. Alte date personale vor fi memorate numai daca sunt oferite voluntar de dumneavoastra, de exemplu, in contextul unei inregistrari sau participarii la concurs.
                </p>
                <p>
                  Cand prin intermediul prezentului Site va sunt solicitate informatii, aceasta are ca scop identificarea dumneavoastra sau posibilitatea de a va contacta.
                </p>
                <p>
                  Cu scopul de a raspunde mai bine nevoilor si intrebarilor utilizatorilor site-ului, informatiile solicitate prin intermediul acestui site vor face obiectul unei stocari si prelucrari electronice.
                </p>
              </li>

              <li>
                Utilizarea si dezvaluirea datelor personale si specificarea scopului
                <p>
                  Datele dumneavoastra vor fi tratate in conformitate cu legislatia actuala privind Protectia Datelor cu Caracter Personal si vor fi utilizate de catre donezsi.eu in urmatoarele scopuri:
                </p>
                <ul>
                  <li>
                    de marketing direct, respectiv informare prin mesaje transmise prin e-mail si/sau SMS cu privire la produse si servicii, promotii, concursuri sau orice alte actiuni de marketing desfasurate de catre donezsi.eu si de partenerii sai si administrare a bazei de date clienti (consumatori, numai in masura in care persoana vizata si-a exprimat acordul expres si neechivoc pentru prelucrarea e-mail-ului si/sau telefonului in acest scop;
                  </li>
                  <li>
                    in scopul prelucrarii solicitarii dumneavoastra, inclusiv pentru asistenta clienti. 
                  </li>
                </ul>
                <p>
                  donezsi.eu se obliga sa nu faca publice datele cu caracter personal transmise de catre dumneavoastra prin intermediul Site-ului si sa nu le dezvaluie catre terte parti, cu exceptia situatiei in care nu se afla intre partenerii agreati in mod expres de catre donezsi.eu. Intr-o asemenea situatie, donezsi.eu se va asigura ca partenerul colaborator, ales cu atentie, va indeplini cerintele legale cu privire la protectia datelor cu caracter personal.
                </p>
              </li>

              <li>
                  Informatii pentru utilizatori (vizitatori)
                  <p>
                    Ca utilizator (vizitator) aveti urmatoarele responsabilitati:
                  </p>
                  <ul>
                    <li>
                      sa furnizati date adevarate, exacte si complete, asa cum este cerut de formularul de inregistrare;
                    </li>
                  </ul>
                  <p>
                    Totodata va asumati obligativitatea de a nu face urmatoarele:
                  </p>
                  <ul>
                    <li>
                      sa publicati materiale care contin virusi sau alte programe cu intentia de a distruge acest sistem cat si orice sistem sau informatie;
                    </li>
                    <li>
                      sa publicati material cu drept de autor, daca nu sunteti autorul sau daca nu aveti permisiunea autorului de a publica materialul respectiv;
                    </li>
                    <li>
                      sa publicati materiale obscene, defaimatoare, de amenintare sau rauvoitoare fata de un alt utilizator, persoana fizica sau juridical, materiale ori informatii prohibite de prevederile legale in vigoare;
                    </li>
                  </ul>
                  <p>
                    In caz de nerespectare a acestor conditii, donezsi.eu si afiliatii sai se disociaza de autorul acestora, va sterge informatiile respective si poate actiona pe cale legala.
                  </p>
              </li>
                 
              <li>
                  Informatiile oferite prin intermediul site-ului
                  <p>
                    Orice persoana care viziteaza Site-ul www.donezsi.eu si care ii ofera date sau informatii cu caracter personal prin intermediul acestui site isi manifesta acordul in mod expres si neechivoc pentru urmatoarele:
                  </p>
                  <ul>  
                    <li>
                      prelucrarea acestor date si informatii personale de catre donezsi.eu in vederea efectuarii de studii de piata;
                    </li>
                    <li>
                      transmiterii de materiale promotionale specifice operatiunilor de marketing direct, numai in masura in care persoana in cauza si-a exprimat acordul cu privire la primirea unor asemenea informatii, prin bifarea in mod corespunzator a casutei indicate;
                    </li>
                    <li>
                      solutionarea de catre donezsi.eu a cererilor, intrebarilor si reclamatiilor adresate;
                    </li>
                    <li>
                      alte activitati intreprinse de donezsi.eu si permise de lege, ce nu fac obiectul unei aprobari din partea destinatarului.
                    </li>
                  </ul>
                  <p>
                    donezsi.eu va pastra confidentialitatea acestor informatii.
                  </p>
              </li>

              <li>
                  Informarea persoanelor vizate asupra drepturilor lor
                  <p>
                    Tuturor persoanelor care transmit catre site-ul www.donezsi.eu datele lor personale le sunt garantate drepturile in conformitate cu Legea 677/2001, urmand a fi informati prin anuntul facut public de catre donezsi.eu prin acest sistem asupra drepturilor lor:
                  </p>
                  <ul>
                    <li>
                      dreptul de acces, respectiv donezsi.eu are obligatia sa ii confirme solicitantului daca prelucreaza sau nu date personale, in mod gratuit, pentru o solicitare pe an, pe baza unei cereri scrise, datate, semnate si expediata la adresa contact@donezsi.eu;
                    </li>
                    <li>
                      dreptul de interventie asupra datelor, respectiv donezsi.eu are obligatia sa rectifice, actualizeze, blocheze, stearga sau transforme in date anonime, in mod gratuit, datele a caror prelucrare nu este conforma dispozitiilor Legii nr. 677/2001 privind protectia persoanelor cu privire la prelucrarea datelor cu caracter personal si libera circulatie a acestor date;
                    </li>
                    <li>
                      dreptul de a va adresa justitiei
                    </li>
                  </ul>
                  <p>
                    Observatie:
                  </p>
                  <p>
                    Pe langa termenii si conditiile care sunt reglementate in politica site-ului, dumneavoastra intelegeti si acceptati faptul ca donezsi.eu poate culege si pastra date despre persoanele care viziteaza acest site.
                  </p>
              </li>

              <li>
                  Modificari ale politicii de confidentialitate
                  <p>
                    Modificari ale prezentei politici de confidentialitate ce vor aparea pe parcurs vor fi publicate in aceasta pagina web fara a va informa anterior.
                  </p>
                  <p>
                    "Termeni si Conditii" constituie, in intregime, un acord incheiat intre dumneavoastra si donezsi.eu in privinta utilizarii site-ului www.donezsi.eu
                  </p>
              </li>

              <p>
                donezsi.eu isi rezerva dreptul de a revizui si aduce la zi aceste reguli in orice moment, fara o anuntare sau o acceptare prealabila a utilizatorilor.
              </p>
            </ol>
            <p>
              Daca aveti intrebari cu privire la informatiile cuprinse in aceasta pagina va rugam sa ne scrieti la adresa contact@donezsi.eu
            </p>
        </div>
    </div>
</div>
{% endblock %}
