{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Termeni si conditii de utilizare</h3>
            <ul class="list-unstyled">
              
              <li>
                <h4>Introducere</h4>
                <p>
                  Prezentele Conditii Generale definesc conditiile de utilizare a site-ului donezsi.eu, denumit in continuare Site-ul, de catre potentialii vizitatori sau beneficiari.
                </p>
                <p>Accesand si navigand pe acest site, acceptati, de facto, termenii de utilizare descrisi in continuare.</p>
              </li>

              <li>
                <p>
                  donezsi.eu este o platforma online dezvoltata de Andrei Onel ce poate fi folosita de o organizatie non-profit din Romania pentru a colecta formularul de 2%.
                </p>
                <p>
                  Aceasta permite unei organizatii sa se inregistreze si sa creeze echivalentul unui profil online. Pe acest profil asociatia poate prezenta un formular care va fi folosit pentru generarea fisierului PDF tip 230 (<a href="https://static.anaf.ro/static/10/Anaf/formulare/cerere_230_2014.pdf" target="_blank">exemplu necompletat</a>).
                </p>
              </li>

              <li>
                <h4>Obiectivul site-ului</h4>
                <p>
                  Obiectivul Site-ului este de a facilita colectarea formularelor de tip 230, formulare ce permit redirectionarea sumei reprezentand pana la 2% din impozitul anual pe venit.
                </p>
                <p>
                  Site-ul permite inregistrarea unui ONG pentru a crea un profil online prin care acesta se poate prezenta.
                </p>
                <p>
                  De asemenea, Site-ul ofera un formular pentru cei ce doresc sa redirectioneze 2% catre un ONG. Datele din acest formular sunt folosite pentru a completa documentul de tip 230, cu datele organizatiei dar si datele celui ce doneaza.
                </p>
              </li>

              <li>
                <h4>Confidentialitate</h4>
                <p>
                  Protectia informatiilor in cursul prelucrarii datelor dumneavoastra personale este o preocupare majora a site-ului, de aceea toate datele colectate in cursul vizitelor pe site sunt prelucrate conform prevederilor legale valabile in Romania. Site-ul foloseste o legatura sigura pentru transmiterea datelor (de tip https) ceea ce asigura ca datele nu pot ajunge la terti.
                </p>
                <p>
                  Toate datele de pe Site sunt stocate si procesate pe servere situate in Irlanda, ce cad sub legile europene de protectie a datelor. Nici o informatie oferita pe acest site nu paraseste UE.
                </p>
                <p>
                  donezsi.eu se angajeaza sa nu dezvaluie nici o informatie cu privire la vizitele dumneavoastra pe acest site, exceptand situatiile legale. 
                </p>
              </li>

              <li>
                <h4>Colectarea si prelucrarea datelor cu caracter personal</h4>
                <p>
                  Cand vizitati site-ul web al donezsi.eu, serverul de web inregistreaza automat numele furnizorului dumneavoastra de servicii internet si site-ul web de pe care ne vizitati. Alte date personale vor fi memorate numai daca sunt oferite voluntar de dumneavoastra, de exemplu, in contextul unei inregistrari sau oferirea datelor prin formularul de donatii.
                </p>
                <p>
                  Daca va decideti sa redirectionati 2% catre un ONG, datele ce trebuie oferite sunt: nume, prenume, initiala tatalui, strada, numar, oras, judet, email sau telefon si optional CNP, bloc, scara, apartament si etaj.
                </p>
                <p>
                  Aceste date sunt folosite pentru a genera fisierul PDF, fiind stocate doar in memorie. Singurele date care sunt stocate permanent in baza de date sunt: nume, prenume, oras, judet, email, telefon. Acestea sunt folosite pentru a permite organizatiilor non profit sa va contacteze.
                </p>
              </li>

              <li>
                <h4>Utilizarea si dezvaluirea datelor personale si specificarea scopului</h4>
                <p>
                  Datele dumneavoastra vor fi utilizate de catre donezsi.eu in urmatoarele scopuri:
                </p>
                <ul>
                  <li>
                    pentru creare formularul 230 in format PDF (stocate temporar)
                  </li>
                  <li>
                    pentru a crea o lista cu donatori pentru asociatiile ONG. Fiecare asociatie poate vedea numele, prenumele, orasul, judetul, email/telefon a tuturor celor care au ales sa redirectioneze catre ea. 
                  </li>
                </ul>
              </li>

              <li>
                  <h4>Informatii pentru utilizatori (vizitatori)</h4>
                  <p>
                    Ca utilizator (vizitator) aveti urmatoarele responsabilitati:
                  </p>
                  <ul>
                    <li>
                      sa furnizati date adevarate, exacte si complete, asa cum este cerut de formularul de inregistrare;
                    </li>
                  </ul>
                  <p>
                    Totodata va asumati obligativitatea de a nu face urmatoarele:
                  </p>
                  <ul>
                    <li>
                      sa publicati materiale care contin virusi sau alte programe cu intentia de a distruge acest sistem cat si orice sistem sau informatie;
                    </li>
                    <li>
                      sa publicati material cu drept de autor, daca nu sunteti autorul sau daca nu aveti permisiunea autorului de a publica materialul respectiv;
                    </li>
                    <li>
                      sa publicati materiale obscene, defaimatoare, de amenintare sau rauvoitoare fata de un alt utilizator, persoana fizica sau juridical, materiale ori informatii prohibite de prevederile legale in vigoare;
                    </li>
                  </ul>
                  <p>
                    In caz de nerespectare a acestor conditii, donezsi.eu si afiliatii sai se disociaza de autorul acestora, va sterge informatiile respective si poate actiona pe cale legala.
                  </p>
              </li>
                 
              <li>
                  <h4>Informatiile oferite prin intermediul site-ului</h4>
                  <p>
                    Orice persoana care viziteaza Site-ul www.donezsi.eu si care ii ofera date sau informatii cu caracter personal prin intermediul acestui site isi manifesta acordul in mod expres si neechivoc pentru urmatoarele:
                  </p>
                  <ul>  
                    <li>
                      prelucrarea acestor date si informatii personale de catre donezsi.eu in vederea efectuarii de studii de piata;
                    </li>
                    <li>
                      solutionarea de catre donezsi.eu a cererilor, intrebarilor si reclamatiilor adresate;
                    </li>
                    <li>
                      alte activitati intreprinse de donezsi.eu si permise de lege, ce nu fac obiectul unei aprobari din partea destinatarului.
                    </li>
                  </ul>
              </li>

              <li>
                  <h4>Informarea persoanelor vizate asupra drepturilor lor</h4>
                  <p>
                    Tuturor persoanelor care transmit catre site-ul www.donezsi.eu datele lor personale le sunt garantate drepturile in conformitate cu Legea 677/2001, urmand a fi informati prin anuntul facut public de catre donezsi.eu prin acest sistem asupra drepturilor lor:
                  </p>
                  <ul>
                    <li>
                      dreptul de acces, respectiv donezsi.eu are obligatia sa ii confirme solicitantului daca prelucreaza sau nu date personale, in mod gratuit, pentru o solicitare pe an, pe baza unei cereri scrise, datate, semnate si expediata la adresa contact@donezsi.eu;
                    </li>
                    <li>
                      dreptul de interventie asupra datelor, respectiv donezsi.eu are obligatia sa rectifice, actualizeze, blocheze, stearga sau transforme in date anonime, in mod gratuit, datele a caror prelucrare nu este conforma dispozitiilor Legii nr. 677/2001 privind protectia persoanelor cu privire la prelucrarea datelor cu caracter personal si libera circulatie a acestor date;
                    </li>
                    <li>
                      dreptul de a va adresa justitiei
                    </li>
                  </ul>
                  <p>
                    Observatie:
                  </p>
                  <p>
                    Pe langa termenii si conditiile care sunt reglementate in politica site-ului, dumneavoastra intelegeti si acceptati faptul ca donezsi.eu poate culege si pastra date despre persoanele care viziteaza acest site.
                  </p>
              </li>

              <li>
                <h4>Marca si dreptul de autor</h4>
                <p>
                  Dreptul de autor pentru toate informatiile existente pe acest site este detinut de Andrei Onel. Nici un material de pe acest site nu poate fi reprodus partial, integral sau modificat fara acordul expres exprimat de catre donezsi.eu ori de titularul acestui drept.
                </p>
                <p>
                  Toate drepturile sunt rezervate.
                </p>
                <p>
                  Este strict interzisa folosirea acestui site in scopul distrugerii sau alterarii lui, a continutului sau a securitatii acestuia ori pentru discreditarea sau hartuirea donezsi.eu sau a afiliatiilor sai.
                </p>
                <p>
                  donezsi.eu va aplica toate masurile de securitate tehnica si organizatorica pentru protejarea datelor asupra carora detine controlul impotriva oricarei situatii de manipulare accidentala sau intentionata, pierdere, distrugere sau impotriva accesului unei persoane neautorizate.
                </p>

              </li>

              <li class="text-muted">
                NEANGAJAREA RASPUNDERII
                <p>
                  Continutul informatiilor se refera la descrierea intr-un anumit grad de detaliere a activitatilor, produselor si serviciilor donezsi.eu.
                </p>
                <p>
                  donezsi.eu nu va acorda nici o garantie referitoare la:
                  </p><ul>
                    <li>
                      evitarea utilizarii anevoioase sau intreruperii in utilizare a site-ului;
                    </li>
                    <li>
                      neafectarea in sens negativ a altor sisteme prin utilizarea site-ului;
                    </li>
                  </ul>
                <p></p>
                <p>
                  Astfel donezsi.eu nu poate fi responsabila pentru nici un fel de daune directe sau indirecte produse prin utilizarea site-ului sau.
                </p>
              </li>

              <li>
                  <h4>Modificari ale politicii de confidentialitate</h4>
                  <p>
                    Modificari ale prezentei politici de confidentialitate ce vor aparea pe parcurs vor fi publicate in aceasta pagina web fara a informa anterior.
                  </p>
                  <p>
                    "Termeni si Conditii" constituie, in intregime, un acord incheiat intre dumneavoastra si donezsi.eu in privinta utilizarii site-ului www.donezsi.eu
                  </p>
              </li>

              <p>
                donezsi.eu isi rezerva dreptul de a revizui si aduce la zi aceste reguli in orice moment, fara o anuntare sau o acceptare prealabila a utilizatorilor.
              </p>
            </ul>
            <p>
              Daca aveti intrebari cu privire la informatiile cuprinse in aceasta pagina va rugam sa ne scrieti la adresa <a href="mailto:contact@donezsi.eu">contact@donezsi.eu</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
