{% extends "base.html" %}


{% block header %}
    {% include "components/ngo-header.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form class="form-horizontal donation-form" action="{{ ngo.key.id() }}/doilasuta/pas-2" role="form">
                <fieldset>
                    <legend>Date personale</legend>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <input type="text" class="form-control text-capitalize" id="first-name" name="first-name" placeholder="Nume" autofocus required title="Numele este obligatoriu" />
                        </div>
                        <div class="col-xs-5">
                            <input type="text" class="form-control text-capitalize" id="last-name" name="last-name" placeholder="Prenume" required title="Prenumele este obligatoriu" />
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control text-uppercase text-center" id="father" name="father" maxlength="1" data-toggle="tooltip" data-placement="right" title="" data-original-title="Initiala tatalui" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="number" class="form-control text-center" id="cnp" name="cnp" placeholder="CNP" title="CNP-ul este obligatoriu" >
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Adresa</legend>
                    <div class="form-group">
                        <div class="col-xs-8">
                            <input type="text" class="form-control text-capitalize" id="street" placeholder="Strada" required title="Strada este obligatorie" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="first-name" placeholder="Numar" required title="Numarul este obligatoriu"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="first-name" placeholder="Bloc">
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="first-name" placeholder="Scara">
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="first-name" placeholder="Etaj">
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="first-name" placeholder="Ap.">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <input type="text" class="form-control text-capitalize" id="first-name" placeholder="Localitate" required title="Orasul este obligatoriu" />
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="first-name" placeholder="Judet/Sector" required title="Judetul este obligatoriu" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary pull-right">Trimite</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="row hidden">
        <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
            <h4 class="text-center">Pdf-ul se creaza.</h4>
            <p>Pentru ca sa iti putem multumi lasa-ne o adresa de email sau un numar de telefon:</p>
        </div>

        {% include "components/second-step.html" %}
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}