{% extends "base.html" %}


{% block header %}
    {% include "components/ngo-header.html" %}
{% endblock %}


{% block content %}
<div class="container">
    {% if errors %}
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Oops!</strong> 
                    {% if errors["missing_values"] %}
                        Te rugam sa completezi cu o adresa de email sau un numar de telefon.
                    {% elif errors["invalid_email"] %}
                        Te rugam sa introduci o adresa de email valida.
                    {% elif errors["invalid_tel"] %}
                        Te rugam sa introduci un numar de telefon mobil valid.
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% include "components/second-step.html" %}
</div>

{% endblock %}
