{% extends "base.html" %}


{% block header %}
<div class="container">
    {% include "components/ngo-header.html" %}
</div>
{% endblock %}

{% block content %}
<div class="container donation-form-container">

    {% if errors %}
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Oops!</strong> 
                    {% if errors["fields"] %}
                        se pare ca urmatoarele date sunt invalide: 
                        <span>
                        {% for error in errors["fields"] %}
                            {{ error + ", " if not loop.last else error }}
                        {% endfor %}
                        </span>
                    {% elif errors["server"] %}
                        Se pare ca am intampinat o eroare pe server. Va rugam incercati din nou.
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            {% if ngo.account and ngo.cif %}
            <form class="form-horizontal" action="{{ ngo.key.id() }}/doilasuta" role="form" method="post">
                <fieldset>
                    <legend>Date personale</legend>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <input type="text" class="form-control text-capitalize" id="nume" value="{{ nume }}" name="nume" placeholder="Nume" maxlength="50" autofocus x-moz-errormessage="Numele este obligatoriu" title="Numele este obligatoriu" />
                        </div>
                        <div class="col-xs-5">
                            <input type="text" class="form-control text-capitalize" id="prenume" value="{{ prenume }}" name="prenume" placeholder="Prenume" maxlength="50" x-moz-errormessage="Prenumele este obligatoriu" title="Prenumele este obligatoriu" />
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control text-uppercase text-center" id="tatal" value="{{ tatal }}" name="tatal" maxlength="1" data-toggle="popover" data-placement="right" x-moz-errormessage="" title="" x-moz-errormessage="" data-content="Initiala tatalui" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="number" class="form-control text-center" id="cnp" value="{{ cnp }}" name="cnp" placeholder="CNP" x-moz-errormessage="CNP-ul este obligatoriu" title="CNP-ul este obligatoriu" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Adresa</legend>
                    <div class="form-group">
                        <div class="col-xs-8">
                            <input type="text" class="form-control text-capitalize" id="strada" value="{{ strada }}" name="strada" placeholder="Strada" x-moz-errormessage="Strada este obligatorie" title="Strada este obligatorie" maxlength="70" />
                        </div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="numar" value="{{ numar }}" name="numar" placeholder="Numar" x-moz-errormessage="Numarul este obligatoriu" title="Numarul este obligatoriu" maxlength="5" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="bloc" value="{{ bloc }}" name="bloc" placeholder="Bloc" maxlength="5">
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="scara" value="{{ scara }}" name="scara" placeholder="Scara" maxlength="5">
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="etaj" value="{{ etaj }}" name="etaj" placeholder="Etaj" maxlength="5">
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="ap" value="{{ ap }}" name="ap" placeholder="Ap." maxlength="5">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <input type="text" class="form-control text-capitalize" id="localitate" value="{{ localitate }}" name="localitate" placeholder="Localitate" x-moz-errormessage="Orasul este obligatoriu" title="Orasul este obligatoriu" maxlength="40" />
                        </div>
                        <div class="col-xs-6">
                            {% include "components/county.html" %}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-12 checkbox">
                            <label class="agree-label" for="agree">
                                <input type="checkbox" name="agree" id="agree" required />
                                Sunt de acord cu <a href="#">Termenii aplicatiei</a> si cu <a href="#">Politica de confidentialitate</a>.
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary pull-right">Trimite</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            {% else %}
                <h3>Se pare ca asociatia inca nu si-a activat aceasta forma de donatie.</h3>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% if not errors and ngo.account and ngo.cif %}
            {# info about saved data #}
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Nota!</strong> Toate datele de pe aceasta pagina sunt transmise folosind o conexiune sigura. Singurele date salvate separat sunt: numele, prenumele, orasul si judetul.
                </div>
            </div>
        {% endif %}
    </div>

    <div id="second-step" class="hidden">
        {% include "components/second-step.html" %}
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover({trigger: "focus"});
        });
    </script>
{% endblock %}