{% extends "base.html" %}


{% block header %}
    <div class="container">
        <div class="row">
            {# ngo details #}
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="media ngo-details">
                    <div class="media-left">
                        <a>
                            <img class="media-object img-rounded" src="{{ ngo.logo }}" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h2>{{ ngo.name }}</h2>
                        <p>
                            {{ ngo.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form class="form-horizontal donation-form" action="/doilasuta/pas-2">
                <fieldset>
                    <legend>Date personale</legend>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <input type="text" class="form-control text-capitalize" id="first-name" placeholder="Nume" autofocus tabindex="0">
                        </div>
                        <div class="col-xs-5">
                            <input type="text" class="form-control text-capitalize" id="last-name" placeholder="Prenume">
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control" id="father" maxlength="1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="number" class="form-control text-center" id="cnp" placeholder="CNP">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Adresa</legend>
                    <div class="form-group">
                        <div class="col-xs-8">
                            <input type="text" class="form-control text-capitalize" id="first-name" placeholder="Strada">
                        </div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="first-name" placeholder="Numar">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="first-name" placeholder="Bloc">
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="first-name" placeholder="Scara">
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="first-name" placeholder="Etaj">
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="first-name" placeholder="Ap.">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <input type="text" class="form-control text-capitalize" id="first-name" placeholder="Localitate">
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="first-name" placeholder="Judet/Sector">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary pull-right">Trimite</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row hidden">
        {% include "second-step.html" %}
    </div>
</div>

{% endblock %}
