{% load i18n static %}

{% if item.url %}

  <a
    {% if item.style == "auth-highlight" %}
      class="px-2 py-1 text-sm text-gray-900 rounded-full shadow-sm bg-amber-300 sm:text-base sm:px-6 sm:py-2 hover:bg-amber-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-300"
    {% else %}
      class="text-gray-900 hover:text-cyan-600 active:text-cyan-700"
    {% endif %}
      href="{{ item.url }}">

    {{ item.title }}

  </a>

{% elif item.content %}

  {% include "redirect/header/dropdown-item.html" with item=item %}

{% endif %}
