{% extends "ngo-account/my-organization/base.html" %}

{% load i18n %}

{% block content %}
  {% include "ngo-account/components/ngo-switch-tab-script.html" with form_id="ngo-form-data-form" %}

  <div x-data="ngoForm()" x-init="init()">

    {% trans "Organization name" as name_input_title %}
    {% trans "Organization description" as description_input_title %}
    {% trans "Organization logo" as logo_input_title %}

    {% blocktrans trimmed asvar name_help_text %}
      This is the name of your organization.
      It will be displayed on the public page of the main form
      as well as all the other forms created by your organization.
    {% endblocktrans %}

    {% blocktrans trimmed asvar description_help_text %}
      Choose a text that best describes your organization.
      This will be displayed on the public page of the main form
      as well as all the other forms created by your organization.
    {% endblocktrans %}

    {% blocktrans trimmed asvar logo_help_text %}
      The logo of the organization will be displayed on the public page of the main form
      as well as all the other forms created by your organization.
    {% endblocktrans %}

    {% include "ngo-account/cause/form.html" with hide_public_page_button=False hide_public_download_button=False disable_ngo_hub_fields=ngo.has_ngo_hub %}

  </div>

{% endblock %}
