{% extends "ngo-account/my-organization/base.html" %}

{% load i18n %}

{% block content %}
  {% include "ngo-account/components/ngo-switch-tab-script.html" with form_id="ngo-presentation-form" %}

  {% if has_ngohub and not hide_ngohub_button %}
    <form id="refresh-ngohub-form" method="post" action="{% url 'api-ngohub-refresh' %}" hidden>
      {% csrf_token %}
    </form>
  {% endif %}

  <div x-data="ngoForm()" x-init="init()">

    <form
      id="ngo-presentation-form"
      method="post"
      enctype="multipart/form-data"
      action="{% url 'my-organization:presentation' %}"
      class="grid gap-5">

      {% if has_ngohub %}
        {% include "ngo-account/banners/form-ngohub.html" %}
      {% endif %}

      {% csrf_token %}

      {% with disable_ngohub_fields=has_ngohub %}

        {% trans "Presentation Data" as title %}
        {% include "ngo-account/components/form-title.html" %}

        <fieldset>
          <div class="flex flex-col gap-8 py-4">

            <div>
              {% trans "Name" as input_title %}
              {% include "components/input/input.html" with input_id="name" input_type="text" input_name="name" is_required=True is_disabled=disable_ngohub_fields value=ngo.name field=ngo_presentation.name max_length=200 %}
            </div>

            <div>
              {% trans "CUI/CIF" as input_title %}
              {% include "components/input/input.html" with input_id="cif" input_type="text" input_name="cif" is_required=True is_disabled=disable_ngohub_fields value=ngo.full_registration_number field=ngo_presentation.cif max_length=100 %}
            </div>

            <div>
              {% trans "Logo" as input_title %}
              {% include "components/input/image.html" with input_id="logo" input_name="logo" is_required=False is_disabled=disable_ngohub_fields image=ngo.logo %}
            </div>

            <div>
              {% trans "Organization website" as input_title %}
              {% include "components/input/input.html" with input_id="website" input_type="url" input_name="website" is_disabled=disable_ngohub_fields value=ngo.website field=ngo_presentation.website max_length=200 %}
            </div>

            <div class="grid gap-x-6 gap-y-2 md:gap-y-8 md:grid-cols-6">
              <div class="md:col-span-4">
                {% trans "Organization contact e-mail" as input_title %}
                {% include "components/input/input.html" with input_id="contact_email" input_type="email" input_name="contact_email" is_required=True is_disabled=disable_ngohub_fields value=ngo.email field=ngo_presentation.contact_email max_length=254 %}
              </div>

              <div class="md:col-span-2 md:mt-8">
                {% trans "Display e-mail in the profile" as input_title %}
                <div class="flex gap-3">
                  {% include "components/input/checkbox.html" with input_id="display_email" input_name="display_email" value=ngo.display_email field=ngo_presentation.display_email %}
                </div>
              </div>
            </div>

            <div class="grid gap-x-6 gap-y-2 md:gap-y-8 md:grid-cols-6">
              <div class="md:col-span-4">
                {% trans "Organization contact phone" as input_title %}
                {% include "components/input/input.html" with input_id="contact_phone" input_type="tel" input_name="contact_phone" is_disabled=disable_ngohub_fields value=ngo.phone field=ngo_presentation.contact_phone max_length=30 %}
              </div>

              <div class="md:col-span-2 md:mt-8">
                {% trans "Display phone in the profile" as input_title %}
                <div class="flex gap-3">
                  {% include "components/input/checkbox.html" with input_id="display-phone" input_name="display_phone" value=ngo.display_phone field=ngo_presentation.display_phone %}
                </div>
              </div>
            </div>

            <div class="grid gap-x-6 gap-y-2 md:gap-y-8 md:grid-cols-8">
              <div class="sm:col-span-4">
                {% trans "Organization address" as input_title %}
                {% include "components/input/input.html" with input_id="address" input_type="text" input_name="address" is_required=True is_disabled=disable_ngohub_fields value=ngo.address field=ngo_presentation.address %}
              </div>

              <div class="sm:col-span-2">
                {% trans "Locality" as input_title %}
                {% include "components/input/input.html" with input_id="locality" input_type="text" input_name="locality" is_disabled=disable_ngohub_fields value=ngo.locality field=ngo_presentation.locality %}
              </div>

              <div class="sm:col-span-2">
                {% trans "County" as input_title %}
                {% if has_ngohub %}
                  {% include "components/input/input.html" with input_id="county" input_type="text" input_name="county" is_required=True is_disabled=disable_ngohub_fields value=ngo.county field=ngo_presentation.county max_length=100 %}
                {% else %}
                  {% include "components/input/county.html" with input_id="county" input_name="county" is_required=True is_disabled=disable_ngohub_fields value=ngo.county field=ngo_presentation.county %}
                {% endif %}
              </div>
            </div>

            <div>
              {% trans "Active region" as input_title %}
              {% if has_ngohub %}
                {% include "components/input/input.html" with input_id="active_region" input_type="text" input_name="active_region" is_required=True is_disabled=disable_ngohub_fields value=ngo.active_region field=ngo_presentation.active_region max_length=100 %}
              {% else %}
                {% include "components/input/county.html" with input_id="active_region" input_name="active_region" is_required=True value=ngo.active_region field=ngo_presentation.active_region counties=active_regions %}
              {% endif %}
            </div>

          </div>
        </fieldset>

      {% endwith %}
    </form>
  </div>

{% endblock %}
