{% extends "ngo-account/my-organization/base.html" %}

{% load i18n %}

{% block content %}
  {% include "ngo-account/components/ngo-switch-tab-script.html" with form_id="ngo-presentation-form" %}

  <div x-data="ngoForm()" x-init="init()">
    <form
      id="ngo-presentation-form"
      method="post"
      enctype="multipart/form-data"
      action="{% url 'my-organization:presentation' %}">

      {% if not ngo.is_accepting_forms %}
        {% blocktranslate trimmed asvar banner_message %}
          <p>
            Your organization is not accepting forms by e-mail.
            This means that users will have to download and print the form, fill it in,
            and send it to the organization's address or to their ANAF office.
          </p>
        {% endblocktranslate %}
        {% include "components/info-banner.html" with style="warning" banner_message=banner_message %}
      {% endif %}

      {% if has_ngohub %}
        {% blocktranslate trimmed asvar banner_message %}
          <p>
            The information below is displayed on your organization's page on redirectioneaza.ro.
          </p>
          <p>
            Some information (marked with **) is automatically taken from your organization's account on NGO HUB,
            and can be edited from your organization's administrator account,
            in NGO HUB.
          </p>
        {% endblocktranslate %}
        {% trans "Go to NGO Hub" as banner_cta_message %}
        {% include "components/info-banner.html" with style="info" banner_message=banner_message banner_cta_message=banner_cta_message banner_cta_url=ngohub_url %}
      {% endif %}

      {% csrf_token %}

      {% with disable_ngohub_fields=has_ngohub %}

        {% trans "Presentation Data" as title %}
        {% include "ngo-account/components/form-title.html" %}

        <div class="flex flex-col gap-8 p-4">
          <div class="px-6 py-4 border border-gray-200 rounded bg-gray-50">
            <div class="flex gap-3">
              {% trans "I want to receive the completed forms by email" as input_title %}
              {% include "components/input/checkbox.html" with input_id="is_accepting_forms" input_title=input_title input_name="is_accepting_forms" value=ngo.is_accepting_forms %}
            </div>

            <p class="pt-2 text-xs text-gray-500">
              {% trans "By selecting this option, I confirm that the NGO has an SPV account to submit the forms" %}
            </p>
          </div>

          <!-- <hr class="w-full border-gray-400"> -->

          {% comment %}
            TODO: Ideally, this should be two rows on the first column and one on the second, but the grid system is not allowing it.
          {% endcomment %}

          <div>
            {% trans "Name" as input_title %}
            {% include "components/input/input.html" with input_id="name" input_title=input_title input_type="text" input_name="name" is_required=True is_disabled=disable_ngohub_fields value=ngo.name max_length=200 %}
          </div>

          <div>
            {% trans "CUI/CIF" as input_title %}
            {% include "components/input/input.html" with input_id="cif" input_title=input_title input_type="text" input_name="cif" is_required=True is_disabled=disable_ngohub_fields value=ngo.full_registration_number max_length=100 %}
          </div>

          <div>
            {% trans "Logo" as input_title %}
            {% include "components/input/image.html" with input_id="logo" input_title=input_title input_type="file" input_name="logo" is_required=False is_disabled=disable_ngohub_fields image=ngo.logo %}
          </div>

          <div>
            {% trans "Organization website" as input_title %}
            {% include "components/input/input.html" with input_id="website" input_title=input_title input_type="url" input_name="website" is_disabled=disable_ngohub_fields value=ngo.website max_length=200 %}
          </div>

          <div class="grid gap-x-6 gap-y-2 md:gap-y-8 md:grid-cols-6">
            <div class="md:col-span-4">
              {% trans "Organization contact e-mail" as input_title %}
              {% include "components/input/input.html" with input_id="contact-email" input_title=input_title input_type="email" input_name="contact-email" is_required=True is_disabled=disable_ngohub_fields value=ngo.email max_length=254 %}
            </div>

            <div class="md:col-span-2 md:mt-8">
              {% trans "Display e-mail in the profile" as input_title %}
              <div class="flex gap-3">
                {% include "components/input/checkbox.html" with input_id="display-email" input_title=input_title input_name="display-email" value=ngo.display_email %}
              </div>
            </div>
          </div>

          <div class="grid gap-x-6 gap-y-2 md:gap-y-8 md:grid-cols-6">
            <div class="md:col-span-4">
              {% trans "Organization contact phone" as input_title %}
              {% include "components/input/input.html" with input_id="contact-phone" input_title=input_title input_type="tel" input_name="contact-phone" is_disabled=disable_ngohub_fields value=ngo.phone max_length=30 %}
            </div>

            <div class="md:col-span-2 md:mt-8">
              {% trans "Display phone in the profile" as input_title %}
              <div class="flex gap-3">
                {% include "components/input/checkbox.html" with input_id="display-phone" input_title=input_title input_name="display-phone" value=ngo.display_phone %}
              </div>
            </div>
          </div>

          <div class="grid gap-x-6 gap-y-2 md:gap-y-8 md:grid-cols-6">
            <div class="sm:col-span-4">
              {% trans "Organization address" as input_title %}
              {% include "components/input/input.html" with input_id="address" input_title=input_title input_type="text" input_name="address" is_required=True is_disabled=disable_ngohub_fields value=ngo.address %}
            </div>

            <div class="sm:col-span-2">
              {% trans "County" as input_title %}
              {% include "components/input/county.html" with input_id="county" input_title=input_title input_name="county" is_required=True is_disabled=disable_ngohub_fields value=ngo.county %}
            </div>
          </div>

          <div>
            {% trans "Active region" as input_title %}
            {% if has_ngohub %}
              {% include "components/input/input.html" with input_id="active-region" input_title=input_title input_type="text" input_name="active-region" is_required=True is_disabled=disable_ngohub_fields value=ngo.active_region max_length=100 %}
            {% else %}
              {% include "components/input/county.html" with input_id="active-region" input_title=input_title input_name="active-region" is_required=True value=ngo.active_region %}
            {% endif %}
          </div>
        </div>

      {% endwith %}
    </form>
  </div>

{% endblock %}
