{% extends "ngo-account/my-organization/base.html" %}

{% load i18n %}



{% block content %}
<script>
  let ngoFormDataForm = function () {
    return {
      form: undefined,
      pristine: undefined,
      isFormSubmitting: false,
      init() {
        this.form = document.getElementById("ngo-form-data-form");

        this.pristine = new Pristine(this.form, {
          errorTextClass: "mt-2 text-sm text-red-600",
          errorClass: "has-error",
          successClass: "has-success"
        });

        this.form.addEventListener('submit', (e) => {
          e.preventDefault();

          this.isFormSubmitting = true;
          var valid = this.pristine.validate();

          if(valid){
            this.form.submit();
          }
        });

        // Event listener for the
        // 'beforeunload' event
        window.addEventListener('beforeunload', (event) => {
          // Check if the form is being submitted
          if (this.isFormSubmitting) {
            return; // Allow navigation without showing the confirmation dialog
          }
          
          if(hasChangedFields(this.pristine.fields.map(field => field.input))){
            if(!confirm('Are you sure you want to leave?')){
              event.preventDefault();
            }
          }
        });
      }
    };
  };

  </script>
  <div x-data="ngoFormDataForm()" x-init="init()">
    <form
      id="ngo-form-data-form"
      method="post"
      enctype="multipart/form-data"
      action="{% url 'my-organization:forms' %}">

      {% csrf_token %}

      {% trans "Form Data" as title %}
      {% include "ngo-account/components/form-title.html" with hide_ngohub_button=True %}

      <fieldset>
        <div class="p-4 grid grid-cols-1 gap-x-6 gap-y-8">

          {% trans "Organization URL" as input_title %}
          {% include "components/input/input.html" with input_id="organization-slug" input_title=input_title input_type="text" input_name="organization-slug" is_required=True value=ngo.slug max_length=150 %}

          <hr class="w-full border-gray-400">

          {% trans "Form title" as input_title %}
          {% include "components/input/input.html" with input_id="page_name" input_type="text" input_name="page_name" placeholder="Organization name" is_required=True is_disabled=True value=ngo.name %}

          {% trans "Form description" as input_title %}
          {% include "components/input/textarea.html" with input_id="description" input_title=input_title input_type="textarea" input_name="description" is_required=True value=ngo.description %}

          {% trans "IBAN on form" as input_title %}
          {% include "components/input/input.html" with input_id="iban" input_type="text" input_name="iban" placeholder="RO001234567812345678" is_required=True value=ngo.bank_account max_length=100 %}

        </div>
      </fieldset>

    </form>
  </div>

{% endblock %}
