{% extends "emails/base.html" %}

{% load i18n %}

{% block heading %}
  {% trans "Hello," %}
  {{ first_name }},
{% endblock %}

{% block content %}

  <p>
    {% blocktrans trimmed %}
      We received a request to reset your password on redirectioneaza.ro.
      Your account is managed through the NGO Hub platform.
      To log in or manage your password,
      please use your NGO Hub account credentials
      and log in to redirectioneaza.ro through NGO Hub.
    {% endblocktrans %}
  </p>

  {% trans "Continue with NGO Hub" as action_title %}
  {% include "emails/components/action.html" with title=action_title url=action_url %}

  {% include "emails/account/ignore-email.html" %}

{% endblock %}
