

@import "../bower_components/bootstrap/less/bootstrap.less";

@import "../bower_components/bootswatch/readable/variables.less";
@import "../bower_components/bootswatch/readable/bootswatch.less";


@brand-primary:         #1E88E5; // #4582EC;
@brand-success:         #4CAF50; // #3FAD46;
@brand-info:            #03A9F4; // #5bc0de;
@brand-warning:         #FF9800; // #f0ad4e;
@brand-danger:          #d9534f;


// override bootstrap vars
@font-family-base:        @font-family-sans-serif;
@navbar-default-border:   transparent;
@navbar-border-radius:    0px;
@icon-font-path:          "/bower_components/bootstrap/fonts/";

//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-padding:               15px;
@alert-border-radius:         @border-radius-base;
@alert-link-font-weight:      bold;

@alert-info-bg:               #fff;
@alert-info-text:             @gray-dark;
@alert-info-bold-text:        @state-info-border;
@alert-info-border:           @state-info-border;


@alert-success-bg:            #fff;
@alert-success-text:          @gray-dark;
@alert-success-bold-text:     @state-success-border;
@alert-success-border:        @state-success-border;


@alert-warning-bg:            #fff;
@alert-warning-text:          @gray-dark;
@alert-warning-bold-text:     @state-warning-border;
@alert-warning-border:        @state-warning-border;

@alert-danger-bg:             #fff;
@alert-danger-text:           @gray-dark;
@alert-danger-bold-text:      @state-danger-border;
@alert-danger-border:         @state-danger-border;


@import "alert.less";

@import "my-account.less";
@import "twopercent.less";

@import "login.less";
@import "homepage.less";

@import "form.less";


// general css
.margin-top { 
    margin-top:20px; 
}


// ngo header
.ngo-details {

    // this is to override media:first-child margin top
    &:first-child {
        margin-top: 70px;
    }
    
    .media-object {
        max-width: 100px;
        max-height: 100px;
    }

    h1 {
        font-size: 25px;
        font-weight: normal;
        margin: 0;
    }
}

footer {
    background: #fcfcfc;
    margin: 0;
    padding: 50px 0;
    text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
