




// css for the twopercent donation page

#donation-page-title {
    font-size: 32px;
    font-weight: normal;
}

// first step
.second-form-row {
    margin-top: @form-group-margin-bottom;
    @media (min-width: @screen-sm-min) {
        margin-top: 0;
    }
}
.donation-form-container {

    margin-top: 50px;

    #cnp {
        -moz-appearance: textfield;
        
        // &:focus {
        //     letter-spacing: 10px;
            
        // }
        
        // &:focus::-webkit-input-placeholder,
        // &:focus::-moz-placeholder,
        // &:focus:-moz-placeholder,
        // &:focus:-ms-input-placeholder {
        //     color: white;
        // }
    
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .agree-label {
        font-weight: normal;
    }
}


// second step
#twopercent-2-container,
#second-step-container {
    margin: 4em auto;
}


// explanation list
#donation-form-explanation {
    h3 {
        font-weight: normal;
        font-size: 25px;
    }
}