{% extends "base.html" %}

{% block additional_headers %}
    <meta property="og:title" content="{{ ngo.name }}" />
    <meta property="og:description" content="{{ ngo.description }}" />
    {% if ngo.logo %}
        <meta property="og:image" content="{{ ngo.logo }}" />
        <meta property="og:image:secure_url" content="{{ ngo.logo }}" />
    {% endif %}

    <meta property="og:type" content="website" />

    {# load the recaptcha api #}
    <script src='https://www.google.com/recaptcha/api.js?hl=ro' async defer></script>
{% endblock %}

{# error messages, also found in the js file twopercent.js #}
{% set server_error = "Se pare ca am intampinat o eroare pe server. Va rugam incercati din nou." %}
{% set fields_error = "Se pare ca urmatoarele date sunt invalide: " %}

{% block content %}

<div class="container donation-form-container">

    {% include "components/ngo-header.html" %}

    {% if errors %}
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Oops! </strong> 
                    {% if errors["fields"] %}
                        {{ fields_error }}
                        <span>
                        {% for error in errors["fields"] %}
                            {{ error + ", " if not loop.last else error }}
                        {% endfor %}
                        </span>
                    {% elif errors["server"] %}
                        {{ server_error }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {# if we are in the correct timerame: 1 Jan to 25 May, allow the donation, else display a message #}
    {% if can_donate %}

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <h2 id="donation-page-title">Redirecționează în 3 pași simpli</h2>
                <h3 class="donation-page-subtitle">1. Completează și descarcă formularul</h3>
                {% if ngo.account and ngo.cif %}
                    <form id="twopercent" class="form form-horizontal" action="{{ ngo.url }}/doilasuta" role="form" method="post">
                        
                        <fieldset class="margin-bottom">
                            <legend>Date personale</legend>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-5">
                                    <input type="text" class="form-control text-capitalize" id="nume" value="{{ nume }}" name="nume" placeholder="Nume" maxlength="50" x-moz-errormessage="Numele este obligatoriu" autocomplete="family-name" required />
                                </div>
                                <div class="col-xs-12 col-sm-7">
                                    <div class="row second-form-row">
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control text-capitalize" id="prenume" value="{{ prenume }}" name="prenume" placeholder="Prenume" maxlength="50" x-moz-errormessage="Prenumele este obligatoriu" autocomplete="given-name" required />
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="text" class="form-control text-capitalize text-center" id="tatal" value="{{ tatal }}" name="tatal" placeholder="Iniț. T." maxlength="1" data-toggle="popover" data-placement="right" x-moz-errormessage="" data-content="Inițiala tatălui" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="number" class="form-control text-center" id="cnp" value="{{ cnp }}" name="cnp" placeholder="CNP (opțional online)" x-moz-errormessage="Introdu un CNP valid" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <input id="email" class="form-control" name="email" type="email" value="{{ email }}" placeholder="Email" autocomplete="email" x-moz-errormessage="Te rugam sa introduci o adresa de email valida" required />
                                </div>
                                <div class="col-xs-6">
                                    <input id="telefon" class="form-control" name="tel" type="tel" value="{{ tel }}" placeholder="Telefon mobil (opțional)" autocomplete="tel" x-moz-errormessage="Te rugăm să introduci un număr de telefon valid" />
                                </div>
                            </div>
                        </fieldset>
                        
                        <fieldset class="margin-bottom">
                            <legend>Adresa de domiciliu</legend>
                            <div class="form-group">
                                <div class="col-xs-9">
                                    <input type="text" class="form-control text-capitalize" id="strada" value="{{ strada }}" name="strada" placeholder="Strada" x-moz-errormessage="Strada este obligatorie" maxlength="70" required />
                                </div>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="numar" value="{{ numar }}" name="numar" placeholder="Numar" x-moz-errormessage="Numarul este obligatoriu" maxlength="6" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="bloc" value="{{ bloc }}" name="bloc" placeholder="Bloc" maxlength="5">
                                </div>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="scara" value="{{ scara }}" name="scara" placeholder="Scara" maxlength="5">
                                </div>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="etaj" value="{{ etaj }}" name="etaj" placeholder="Etaj" maxlength="5">
                                </div>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" id="ap" value="{{ ap }}" name="ap" placeholder="Ap." maxlength="5">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    {% include "components/county.html" %}
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control text-capitalize" id="localitate" value="{{ localitate }}" name="localitate" placeholder="Localitate" x-moz-errormessage="Orasul este obligatoriu" maxlength="40" required />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="margin-bottom">
                            <div class="form-group type-of-income">
                                <div class="col-xs-12">
                                    <legend>
                                        Tip de venit <br>
                                    </legend>
                                    <p class="income-explanation">
                                        Pentru ce tip de venit vrei să redirecționezi către acest ONG?
                                    </p>
                                </div>
                                <div class="col-xs-12">
                                    <label for="income-wage">
                                        <input id="income-wage" type="radio" name="income" value="wage" checked>
                                        Salariu
                                    </label>
                                </div>
                                <div class="col-xs-12">
                                    <label for="income-pension">
                                        <input id="income-pension" type="radio" name="income" value="pension">
                                        Pensie
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <div class="col-xs-12 col-lg-10 checkbox">
                                    <label class="anonim-label" for="anonim">
                                        <input type="checkbox" name="anonim" id="anonim" />
                                        Sunt de acord ca acest ONG să mă contacteze pe viitor cu detalii despre proiectele implementate. 
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-lg-10 checkbox">
                                    <label class="agree-label" for="agree">
                                        <input type="checkbox" name="agree" id="agree" required />
                                        Sunt de acord cu <a href="/termeni" target="_blank">Termenii aplicației</a> și cu <a href="/politica" target="_blank">Politica de confidențialitate</a>.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group margin-top">
                                <div class="col-xs-12">
                                    <button id="submit-twopercent-form" type="submit" class="btn btn-lg btn-primary">
                                        {# Descarcă și mergi la pasul următor #}
                                        Mergi la pasul următor
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                {% else %}
                    <h3>Se pare că asociația încă nu și-a activat această formă de donație.</h3>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="g-recaptcha" data-sitekey="{{ captcha_public_key }}" data-size="invisible" data-callback="onSubmit"></div>
        </div>

        <div id="invalid-form-alert" class="row hidden">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Oops! </strong><span>Se pare că formularul conține câmpuri invalide.</span>
                </div>
            </div>
        </div>

        {% if not errors and ngo.account and ngo.cif %}
            <div class="row donation-note">
                {# info about saved data #}
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Notă!</strong> Toate datele de pe această pagină sunt transmise folosind o conexiune sigură. Singurele date salvate sunt: numele, prenumele, orasul, judetul, email/telefon. <br /> <br />
                        Poți citi mai multe despre <a href="{{ url_for('note') }}" target="_blank">Drepturile tale cu privire la protectia datelor</a>.
                    </div>
                </div>
            </div>
        {% endif %}

    {% else %}
        <div class="row text-center">
            <div id="donations-closed-alert" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <div class="alert alert-info">
                    <strong>Notă!</strong> Formularul de donație poate fi completat doar între <span>1 Ianuarie</span> și <span>15 martie</span> ale anului curent.
                </div>
            </div>
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <a class="btn btn-link" role="button" data-toggle="collapse" href="#donation-form-explanation" aria-expanded="false" aria-controls="donation-form-explanation">
              Citește mai multe despre această pagină <i class="glyphicon glyphicon-triangle-bottom read-more-icon"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
            <ul id="donation-form-explanation" class="list-unstyled collapse">
                <li>
                    <h3>Ce reprezintă formularul de 2%?</h3>
                    <p class="text-muted">
                        Formularul este o metodă prin care oricine își poate redirecționa 2% din impozitul anual către un ONG. Acest lucru înseamnă că acea sumă nu va mai ajunge în bugetul statului ci va fi direcționată către contul ONG-ului.
                    </p>
                </li>
                <li>
                    <h3>Ce se întâmplă cu datele de pe această pagină?</h3>
                    <p class="text-muted">
                        Datele de pe această pagină sunt folosite doar pentru a crea fișierul PDF. Doar numele, prenumele, orașul, județul și email-ul/telefonul sunt salvate în baza noastră de date pentru a-i oferi ocazia ONG-ului să intre în legatură cu tine, doar dacă tu decizi acest lucru.
                    </p>
                </li>
                <li>
                    <h3>Care sunt următorii pași?</h3>
                    <p class="text-muted">
                        După ce vei completa toate datele din acest formular, vei fi direcționat către o pagină de unde poți descarcă fișierul PDF. Acela va conține datele tale și datele ONG-ului care va primi cei 2%.
                    </p>
                </li>
            </ul>
        </div>
    </div>

    {% include "components/be-a-hero.html" %}
    
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/js/shorten.js"></script>
    
    <script type="text/javascript" src="/js/twopercent.js"></script>
{% endblock %}