<div class="form-group">
  <label for="{{ input_id }}">

    <span class="block mb-1 font-medium text-gray-700 text-sm/6">
      {{ input_title }}
      {% if is_required %}<span class='text-red-600'>*</span>{% endif %}
    </span>

  </label>


  <div class="w-full">
    {% block input %}{% endblock %}

    {% if field and field.errors %}
      <div class="pristine-error mt-2 text-sm text-red-600" style="" id="error-{{ input_id }}" role="alert">{{ field.errors }}</div>
    {% endif %}

  </div>

</div>
