<div class="form-group">
  <label for="{{ input_id }}">

    <span class="block text-sm/6 font-medium text-gray-500 mb-1">
      {{ input_title }}
      {% if is_required %}<span class='text-red-600'>*</span>{% endif %}
    </span>

  </label>

  <div
    class="relative block w-full before:absolute before:inset-px before:rounded-[calc(theme(borderRadius.lg)-1px)] before:bg-white before:shadow after:pointer-events-none after:absolute after:inset-0 after:rounded-lg after:ring-inset after:ring-transparent sm:after:focus-within:ring-2 sm:after:focus-within:ring-blue-500 has-[[data-disabled]]:opacity-50 before:has-[[data-disabled]]:bg-zinc-950/5 before:has-[[data-disabled]]:shadow-none before:has-[[aria-invalid]]:shadow-red-500/10">
    {% block input %}{% endblock %}
  </div>

</div>
