<div class="form-group w-full">
  <label for="{{ input_id }}" class="flex cursor-pointer items-center gap-2 text-sm font-medium text-neutral-600 [&:has(input:checked)]:text-neutral-900  [&:has(input:disabled)]:opacity-75 [&:has(input:disabled)]:cursor-not-allowed">
    <div class="relative flex items-center">
        <input 
          id="{{ input_id }}"
          name="{{ input_name }}"
          type="checkbox" 
          class="before:content[''] peer relative size-4 cursor-pointer appearance-none overflow-hidden rounded border border-neutral-300 bg-neutral-50 before:absolute before:inset-0 checked:border-black checked:before:bg-black focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-neutral-800 checked:focus:outline-black active:outline-offset-0 disabled:cursor-not-allowed"
          {% if is_required %}required{% endif %}
          {% if input_value == True %}checked{% endif %}
          {% if is_disabled %}disabled{% endif %}
          {% if input_value == True %}input-original-value="true"{%else%} input-original-value="false" {% endif %}

        />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" stroke="currentColor" fill="none" stroke-width="4" class="pointer-events-none invisible absolute left-1/2 top-1/2 size-3 -translate-x-1/2 -translate-y-1/2 text-neutral-100 peer-checked:visible">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"/>
        </svg>
    </div>
    <span>{{ input_title }}{% if is_required %}<span class='text-red-600'>*</span>{% endif %}</span>
  </label>
</div>
