{% extends 'components/input/base.html' %}

{% block input %}

  <select
    id="{{ input_id }}"
    name="{{ input_name }}"
    autocomplete="address-level1"
    {% if is_required %}required{% endif %}
    {% if value %}value="{{ value }}"{% endif %}
    {% if is_disabled %}disabled{% endif %}
    class="relative block w-full appearance-none rounded-lg px-[calc(theme(spacing[3.5])-1px)] py-[calc(theme(spacing[2.5])-1px)] sm:px-[calc(theme(spacing[3])-1px)] sm:py-[calc(theme(spacing[1.5])-1px)] text-base/6 text-zinc-950 placeholder:text-zinc-500 sm:text-sm/6 border border-zinc-950/10 hover:border-zinc-950/20 bg-transparent focus:outline-none aria-[invalid]:border-red-500 aria-[invalid]:hover:border-red-500 disabled:border-zinc-950/20 disabled:bg-zinc-950/5 disabled:text-zinc-950/50 disabled:cursor-not-allowed">

    <option value="" class="select-placeholder">
      {{ input_title }}
    </option>
    <optgroup label="București">
      {% for sector in '123456'|make_list %}
        <option
          value="{{ forloop.counter }}"
          {% if number == county %}selected{% endif %}>
          Sector {{ forloop.counter }}
        </option>
      {% endfor %}
    </optgroup>
    {% for county_name in counties %}
      <option
        value="{{ county_name }}"
        {% if county_name == county %}selected{% endif %}>
        {{ county_name }}
      </option>
    {% endfor %}
  </select>


{% endblock %}
