{% if filter.options %}

  {% with input_id=filter.id %}
    {% with input_title=filter.title %}
      {% with input_name=filter.key %}
        {% with options=filter.options %}
          {% with current_value=filters_active|get_item:filter.key %}

            {% if filter.type == "combobox" %}
              {% include "components/input/combobox.html" %}
            {% elif filter.type == "select" %}
              {% include "components/input/select.html" %}
            {% endif %}

          {% endwith %}
        {% endwith %}
      {% endwith %}
    {% endwith %}
  {% endwith %}

{% endif %}
