{% extends 'components/input/base.html' %}

{% block input %}

  <input
    id="{{ input_id }}"
    type="{{ input_type }}"
    name="{{ input_name }}"
    {% if maxlength %}maxlength="{{ maxlength }}"{% endif %}
    {% if input_autocomplete %}autocomplete="{{ input_autocomplete }}"{% endif %}
    {% if is_required %}required{% endif %}
    {% if value %}value="{{ value }}"{% endif %}
    {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
    {% if is_disabled %}disabled{% endif %}
    {% if max_length %}maxlength="{{ max_length }}"{% endif %}
    class="block w-full rounded-md px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-amber-400 sm:text-sm/6 disabled:cursor-not-allowed disabled:opacity-50 disabled:bg-gray-500">

{% endblock %}
