{% extends 'components/input/base.html' %}

{% block input %}

  <input
        id="{{ input_id }}"
        name="{{ input_name }}"
        type="{{ input_type }}"
        class="relative block w-full appearance-none rounded-lg px-[calc(theme(spacing[3.5])-1px)] py-[calc(theme(spacing[2.5])-1px)] sm:px-[calc(theme(spacing[3])-1px)] sm:py-[calc(theme(spacing[1.5])-1px)] text-base/6 text-zinc-950 placeholder:text-zinc-500 sm:text-sm/6 border border-zinc-950/10 hover:border-zinc-950/20 bg-transparent focus:outline-none aria-[invalid]:border-red-500 aria-[invalid]:hover:border-red-500 disabled:border-zinc-950/20 disabled:bg-zinc-950/5 disabled:text-zinc-950/50 disabled:cursor-not-allowed"
        {# The following attributes are added to the input element #}
        {% if input_autofocus %}autofocus{% endif %}
        {% if max_length %}maxlength="{{ max_length }}"{% endif %}
        {% if input_autocomplete %}autocomplete="{{ input_autocomplete }}"{% endif %}
        {% if is_required %}required{% endif %}
        value="{% if value %}{{ value }}{% elif field and field.value %}{{ field.value }}{% endif %}"
        {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
        {% if is_disabled %}disabled{% endif %}
        {# TODO: Display the errors in a `data-pristine-required-message` property, if they exist #}
        {% if field and field.errors %}data-pristine-required-message="{{ field.errors|join:", " }}"{% endif %}
        />

{% endblock %}
