{% load i18n %}

<label
  for="searchBox_{{ input_id }}"
  class="block sr-only">
  {{ search_title }}
</label>

<div
  x-data="{ currentSearch: '{{ search_query }}' }"
  class="flex rounded-xl bg-white outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-amber-600">

  <svg class="self-center col-start-1 row-start-1 ml-3 text-gray-400 pointer-events-none size-5 sm:size-4" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
    <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd"/>
  </svg>

  <input
    x-model="currentSearch"
    id="searchBox_{{ input_id }}"
    type="text"
    name="q"
    class="border-none col-start-1 row-start-1 block w-full bg-white py-1.5 pr-3 text-base text-gray-900 placeholder:text-gray-400 sm:text-sm/6 "
    placeholder="{{ search_title }}"
    title="{{ search_title }}"
    maxlength="100"
    autocomplete="off"
    value="{{ search_query }}"
  >

  <div class="flex">
    <a
      x-cloak
      x-show="currentSearch.length > 0"
      href="?"
      aria-label="{% trans 'Clear search' %}"
      type="button"
      class="w-full flex shrink-0 items-center rounded-r-xl bg-white px-3 py-2 text-sm font-semibold text-gray-900 hover:bg-gray-50 "
    >
      <svg class="-ml-0.5 size-4 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"/>
      </svg>
    </a>
  </div>

</div>
