{% extends 'components/input/base.html' %}

{% load i18n %}

{% block input %}

  <div x-data="select({{ options }},{% if current_value %}'{{ current_value }}'{% else %}null{% endif %})">

    <select
      id="{{ input_id }}"
      name="{{ input_name }}"
      x-ref="select"
      x-model="selectedOption"
      {% if on_change %}@change="{{ on_change }}"{% endif %}
      class="block w-full rounded-md bg-white py-1.5 pl-3 pr-12 text-base outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-amber-600 sm:text-sm/6"
      {% if on_change %}:class="selectedOption !== '' ? 'ring-1 ring-amber-700 text-gray-900' : 'text-gray-500'"{% endif %}
    >
      {% if include_default_option %}
        <option value="" :selected="selectedOption === ''">
          {{ input_title }}
        </option>
      {% endif %}

      <hr>

      <template x-for="option in options" :key="option.value">
        <option
          :value="option.value"
          x-text="option.title"
          :selected="option.value===selectedOption"></option>
      </template>
    </select>

  </div>

{% endblock %}
