{% extends 'components/input/base.html' %}

{% block input %}

  <textarea
    id="{{ input_id }}"
    name="{{ input_name }}"
    rows="{% if input_rows %}{{ input_rows }}{% else %}3{% endif %}"
    {% if is_required %}required{% endif %}
    {% if is_disabled %}disabled{% endif %}
    {% if value %}input-original-value="{{ value }}"{% endif %}
    class="flex min-h-[60px] w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-base shadow-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm">{{ value }}</textarea>

{% endblock %}
