{% extends 'components/input/base.html' %}

{% block input %}

  <textarea
    id="{{ input_id }}"
    name="{{ input_name }}"
    rows="{% if input_rows %}{{ input_rows }}{% else %}3{% endif %}"
    {% if is_required %}required{% endif %}
    {% if is_disabled %}disabled{% endif %}
    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-amber-400 sm:text-sm/6 disabled:border-zinc-950/20 disabled:bg-zinc-950/5 disabled:text-zinc-950/50 disabled:cursor-not-allowed">{{ value }}
  </textarea>

{% endblock %}
