{% extends "base.html" %}

{% block content %}
  <header class="-mt-16 bg-yellow-400">
    <div class="container flex flex-col max-w-4xl gap-6 text-center pt-9 pb-14">
      <h1 class="text-3xl font-bold text-center text-gray-900">
        Explorează organizații
      </h1>

      <p class="font-medium text-gray-900">
        Fără să te coste nimic în plus, redirecționând, oferi un strop de putere în plus unui ONG care să facă bine și în numele tău. Poți opta pentru redistribuirea sumei până pe 25 Mai.
      </p>
    </div>
  </header>

  <section class="container grid gap-12">
    <!-- Search and filters -->
    <form action="" method="GET">
      {% include "public/components/ngo-search.html" %}
    </form>

    <div class="grid gap-x-8 gap-y-16 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-10 xl:gap-y-20">
      {% include "public/components/pagination.html" with page_obj=page_obj %}


      {% for ngo in ngos %}
        {% include "public/components/ngo-card.html" with ngo=ngo %}
      {% endfor %}
    </div>

    {% include "public/components/pagination.html" with page_obj=page_obj %}
  </section>

  <aside class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="max-w-2xl mx-auto text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-gray-900 text-balance sm:text-5xl">
        Reprezinți un ONG?
      </h2>
      <p class="max-w-xl mx-auto mb-10 text-xl text-gray-600 text-pretty sm:text-3xl">
        Află cum te ajută redirecționează.ro
      </p>

      <a href="{% url 'signup' %}" class="py-3 font-semibold text-center text-gray-900 rounded-md shadow-sm px-7 bg-amber-300 hover:bg-amber-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-300">Începe aici</a>

    </div>
  </aside>

{% endblock %}
