{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <header class="-mt-16 bg-yellow-400">
    <div class="container flex flex-col max-w-4xl gap-6 text-center pt-9 pb-14">
      <h1 class="text-3xl font-bold text-center text-gray-900">
        {% trans "Explore organizations" %}
      </h1>

      <p class="font-medium text-gray-900">
        {% blocktranslate trimmed %}
          Without costing you anything extra,
          by redirecting,
          you give a little extra power to an NGO to do good in your name.
          You can opt for the redistribution of the amount until
        {% endblocktranslate %}
        <strong class="text-cyan-900">{{ limit.day }} {{ month_limit }}</strong>.
      </p>
    </div>
  </header>

  <section class="container grid gap-12">
    <!-- Search and filters -->
    <form action="" method="GET">
      {% trans "Search for an NGO by its name or CUI/CIF" as search_title %}
      <div class="py-8">
        {% include "components/input/search-box.html" with input_id="ngo_search" target_id="#ngos" %}
      </div>
    </form>

    <div id="ngos" class="grid gap-x-8 gap-y-16 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-10 xl:gap-y-20">
      {% if not causes %}
        <div class="col-span-full text-center">
          <p class="text-gray-900 text-4xl font-bold">
            {% trans "No organizations found." %}
          </p>
        </div>
      {% else %}
        {% trans "organizations" as paginated_type %}
        {% include "public/components/pagination.html" with page_obj=page_obj url_params=url_search_query paginated_type=paginated_type show_pagination_count=True %}

        {% for cause in causes %}
          {% include "public/components/grid-card.html" with card_logo=cause.display_image card_slug=cause.slug card_title=cause.name card_description=cause.description %}
        {% endfor %}
      {% endif %}
      
      {% include "public/components/pagination.html" with page_obj=page_obj url_params=url_search_query %}
    </div>

  </section>

  {% include "account/snippets/cta-ngohub.html" %}

{% endblock %}
