{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="bg-white">
      <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
        <div class="mx-auto max-w-4xl divide-y divide-gray-900/10">
          <h1 class="text-6xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
            FAQ – Întrebări frecvente
          </h1>

          {% for section in questions %}

            <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
              {{ section.title }}
            </h2>

            <dl class="mt-10 space-y-6 divide-y divide-gray-900/10">

              {% for question in section.questions %}
                <div class="pt-6">
                  {% include "public/components/faq-question-title.html" with question=question.title %}
                  {% include "public/components/faq-question-answer.html" with answer=question.answer %}
                </div>
              {% endfor %}

            </dl>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
