{% extends "base.html" %}

{% block content %}

  <div class="container">
    <article>
      <div class="prose prose-lg max-w-none prose-headings:text-cyan-700 prose-cyan">
        <h1>FAQ – Întrebări frecvente</h1>
      </div>

      {% for section in questions %}
        <div>
          <h2
            id="#{{ section.title | slugify }}"
            class="pt-10 font-semibold tracking-tight text-gray-900 sm:text-3xl">

            <a href="#{{ section.title | slugify }}" class="group">
              {{ section.title }}
            </a>
          </h2>

          <dl class="grid mt-8">
            {% for question in section.questions %}
              {% include "public/components/faq-question.html" with question=question.title answer=question.answer %}
            {% endfor %}
          </dl>

        </div>
      {% endfor %}

      <div class="pt-20 pb-10 prose-sm prose prose-headings:text-cyan-700 prose-cyan">
        <h2> Nu ai găsit ce căutai? </h2>

        <p>
          Trimite-ne întrebarea ta la adresa de email
          <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
          și vom răspunde în cel mai scurt timp posibil.
        </p>
      </div>
    </article>
  </div>
{% endblock %}
