{% load i18n %}

<div class="relative pt-8 pb-4" x-data="ngoSearch" x-on:click.outside="close">
  <label class="relative grid grid-cols-1">
    {% trans "Search for an NGO by its name or CUI/CIF" as search_title %}
    <span class="sr-only">{{ search_title }}</span>

    <input
      type="text"
      name="q"
      class="border-none col-start-1 row-start-1 block w-full rounded-full bg-white py-1.5 pl-10 pr-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-amber-300 sm:pl-9 sm:text-sm/6 focus:outline-none"
      placeholder="{{ search_title }}"
      autocomplete="off"
      value="{{ current_search }}"
    >

    <svg class="self-center col-start-1 row-start-1 ml-3 text-gray-400 pointer-events-none size-5 sm:size-4" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
      <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd"/>
    </svg>
  </label>
</div>
