{% load i18n elided_pagination %}

{% if page_obj.paginator.num_pages > 1 %}
  <div class="flex items-center justify-between col-span-full">
    <div class="flex justify-between flex-1 sm:hidden">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-yellow-400">
          <svg class="mr-3 size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M18 10a.75.75 0 0 1-.75.75H4.66l2.1 1.95a.75.75 0 1 1-1.02 1.1l-3.5-3.25a.75.75 0 0 1 0-1.1l3.5-3.25a.75.75 0 1 1 1.02 1.1l-2.1 1.95h12.59A.75.75 0 0 1 18 10Z" clip-rule="evenodd"/>
          </svg>
          {% trans "Previous" %}
        </a>
      {% endif %}

      <div class="flex justify-end flex-1 w-0 -mt-px">
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-yellow-400">
            {% trans "Next" %}
            <svg class="ml-3 size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M2 10a.75.75 0 0 1 .75-.75h12.59l-2.1-1.95a.75.75 0 1 1 1.02-1.1l3.5 3.25a.75.75 0 0 1 0 1.1l-3.5 3.25a.75.75 0 1 1-1.02-1.1l2.1-1.95H2.75A.75.75 0 0 1 2 10Z" clip-rule="evenodd"/>
            </svg>
          </a>
        {% endif %}
      </div>
    </div>

    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div class="text-sm text-gray-700">
        {% if show_pagination_count %}
          <span class="font-medium">{{ page_obj.paginator.count }}</span>
          {{ paginated_type }}
        {% else %}
          {{ page_obj.paginator.per_page }} {{ paginated_type }} {% trans "per page" %}
        {% endif %}
      </div>

      <nav class="inline-flex gap-1{% if not show_pagination_count %} inset-y-0 right-0{% endif %} isolate" aria-label="Pagination">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="relative inline-flex items-center justify-center text-gray-500 rounded-full w-9 h-9 hover:bg-yellow-100 focus:z-20 focus:outline-offset-0">
            <span class="sr-only">
              {% trans "Previous" %}
            </span>
            <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd"/>
            </svg>
          </a>
        {% endif %}

        {% adjusted_elided_page_range paginator page_obj.number 2 1 as page_range %}

        {% for num in page_range %}
          {% if num == '…' %}
            <span class="relative inline-flex items-center justify-center text-sm font-semibold text-gray-500 rounded-full w-9 h-9 focus:outline-offset-0">&hellip;</span>
          {% elif page_obj.number == num %}
            <a
              href="?page={{ num }}"
              aria-current="page"
              class="relative z-10 inline-flex items-center justify-center text-sm font-semibold text-gray-900 bg-yellow-400 rounded-full w-9 h-9 focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-400">
              {{ num }}
            </a>
          {% else %}
            <a href="?page={{ num }}" class="relative inline-flex items-center justify-center text-sm font-semibold text-gray-500 rounded-full w-9 h-9 hover:bg-yellow-100 focus:z-20 focus:outline-offset-0">
              {{ num }}
            </a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="relative inline-flex items-center justify-center text-gray-500 rounded-full w-9 h-9 hover:bg-yellow-100 focus:z-20 focus:outline-offset-0">
            <span class="sr-only">
              {% trans "Next" %}
            </span>
            <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/>
            </svg>
          </a>
        {% endif %}
      </nav>

    </div>
  </div>
{% endif %}
