{% load unfold %}

{% for stat_row in header_stats %}
  {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}
    {% for stat in stat_row %}
      {% component "unfold/components/card.html" with class="lg:w-1/3" label=stat.label footer=stat.footer footer_class=stat.footer_class %}
        {% component "unfold/components/title.html" %}
          {{ stat.metric }}
        {% endcomponent %}

        {% component "unfold/components/text.html" %}
          {{ stat.title }}
        {% endcomponent %}
      {% endcomponent %}
    {% endfor %}
  {% endcomponent %}
{% endfor %}
