{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3>FAQ</h3>
                <h4>Întrebări adesea adresate</h4>

                <button class="accordion">Ce e asta</button>
                <div class="panel">
                    <p>
                        “Redirectioneaza.ro” este o platformă online dezvoltată de Asociația Code for Romania - Codează
                        pentru România (denumită în continuare “Code for Romania”) care vine în sprijinul acțiunilor
                        civice de redirecționare a până la 3.5% din impozitul anual, având ca obiectiv facilitarea
                        relației cu ONG-urile. În acest scop, Code for Romania colectează date personale conform acestei
                        Note de informare, în calitate de operator de date.
                    </p>
                </div>

                <button class="accordion">Dar pagina asta ce e?</button>
                <div class="panel">
                    <p>
                        Vrem să explicăm cum funcționează platforma și să răspundem la întrebările frecvente.
                    </p>

                    <button class="accordion">Mai pot pune o întrebare?</button>
                    <div class="panel">
                        <p>
                            Da.
                        </p>

                    </div>

                    <button class="accordion">Și încă una?</button>
                    <div class="panel">
                        <p>
                            Da.
                        </p>

                    </div>

                    <button class="accordion">Și încă-încă una?</button>
                    <div class="panel">
                        <p>
                            Da.
                        </p>

                    </div>

                    <button class="accordion">Și încă-încă-încă una?</button>
                    <div class="panel">
                        <p>
                            Nu.
                        </p>

                    </div>

                </div>

                <button class="accordion">Câte întrebări putem pune?</button>
                <div class="panel">
                    <p>
                        Destul de multe.
                    </p>
                </div>

            </div>
        </div>

        <div class="row instructions-row">
            <h4>Nu ai găsit ce căutai?</h4>
            <ul class="list list-unstyled">
                <li>
                    Trimite-ne întrebarea ta la adresa de email
                    <a href="mailto:redirectioneaza@code4.ro">redirectioneaza@code4.ro</a>
                    și vom răspunde în cel mai scurt timp posibil.
                </li>
            </ul>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ static('js/accordion.js') }}"></script>
{% endblock %}
