{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h3>FAQ – Întrebări frecvente</h3>

        <button class="accordion">
          PENTRU ORGANIZAȚII
        </button>

        <div class="expanding-panel">
          <button class="accordion">
            Ce informații sunt necesare pentru a crea un cont de organizație?
          </button>
          <div class="expanding-panel">
            <p>
              Pentru a crea un profil de organizație pe platformă sunt necesare următoarele date:
              denumirea legală a organizației, adresa, regiunea în care își desfășoară activitatea,
              CUI/CIF, IBAN, o scurtă descriere și logo-ul.
              Toate aceste informații pot fi editate și ulterior, dacă este necesar.
            </p>
            <p>
              <strong>
                Atenție!
                Aceste informații sunt preluate automat pentru completarea Declarației 230.
                Orice posibilă greșeală în datele organizației va determina crearea unor declarații
                invalide.
              </strong>
            </p>
          </div>


          <button class="accordion">
            În cât timp după crearea paginii organizației aceasta devine activă?
          </button>
          <div class="expanding-panel">
            <p>
              După crearea paginii aceasta devine imediat activă,
              ceea ce înseamnă că pot fi colectate formulare de redirecționare a impozitului pe venit.
              Verificați link-ul (URL-ul) înainte de a-l distribui mai departe,
              ca să vă asigurați că cei care vor să redirecționeze nu vor întâmpina dificultăți.
            </p>
          </div>


          <button class="accordion">
            După crearea contului, ce date asociate contului organizației pot fi editate?
          </button>
          <div class="expanding-panel">
            <p>
              Din contul organizației se pot edita toate informațiile:
              nume, descriere, adresă, regiunea în care își desfășoară activitatea, URL, CUI/CIF, IBAN.
            </p>
            <p>
              De asemenea, tot de pe aceeași pagină se pot selecta și deselecta următoarele opțiuni:
            </p>
            <ul>
              <li>
                Asociație înregistrată ca furnizor autorizat de servicii sociale;
              </li>
              <li>
                Doresc să primesc formularele completate pe email.
              </li>
            </ul>
          </div>


          <button class="accordion">
            Dacă editez date ale organizației care apar pe Declarația 230,
            acestea sunt automat modificate pe noile declarații?
          </button>
          <div class="expanding-panel">
            <p>
              Modificările realizate în contul organizației vor fi vizibile online în câteva minute,
              pe platforma Redirecționează și imediat în noile declarații depuse de contribuabili.
            </p>
            <p><strong>
              Atenție!
              Declarațiile deja completate de către contribuabili vor păstra informațiile vechi,
              valabile la data completării lor.
            </strong></p>
          </div>


          <button class="accordion">
            Cum se poate activa opțiunea de semnare online a formularelor?
          </button>
          <div class="expanding-panel">
            <p>
              Pentru ca organizația să poată primi formularele deja semnate de către contribuabili,
              în contul organizației trebuie bifată opțiunea:
              <strong>
                ”Doresc să primesc formularele completate pe email.
                Selectând aceasta opțiune confirm că ONG-ul are cont SPV pentru a depune formularele.”
              </strong>
            </p>
          </div>


          <button class="accordion">
            Cum se poate schimba adresa de e-mail asociată contului organizației?
          </button>
          <div class="expanding-panel">
            <p>
              Pentru a schimba adresa de e-mail asociată contului sunt necesari câțiva pași:
            </p>
            <ul>
              <li>
                Creați un nou cont pe redirectioneaza.ro cu noua adresă pe care vreți să o folosiți,
                fără a completa datele ONG-ului.

              </li>
              <li>
                Trimiteți-ne un e-mail pe adresa
                <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
                în care să soliciți schimbarea adresei atașate contului,
                atașând mesajului certificatul de înregistrare al organizației
                și un document care să ateste poziția solicitantului în ONG
                (ex:declarație semnată de conducerea organizației).
              </li>
            </ul>
          </div>


          <button class="accordion">
            Pot crea mai multe conturi pentru aceeași organizație?
          </button>
          <div class="expanding-panel">
            <p>
              Nu pot fi create mai multe conturi pe platforma Redirecționează pentru aceeași organizație.
              Fiecărui CUI/CIF îi poate corespunde un singur cont pe redirectioneaza.ro
            </p>
          </div>


          <button class="accordion">
            Mai este necesar să depun la ANAF declarațiile primite pe platforma Redirecționează?
          </button>
          <div class="expanding-panel">
            <p>
              Prin intermediul platformei Redirecționează se pot doar colecta
              declarațiile de la contribuabili.
              Este în continuare obligația fiecărei organizații neguvernamentale de a depune la ANAF
              formularul unic ce conține informațiile despre fiecare declarație de
              redirecționare a procentului de 3,5% din impozitul pe venit.
              Pentru a facilita acest proces, din contul organizației de pe platforma Redirecționează,
              poți descărca o arhivă ce conține următoarele documente:
            </p>
            <ul>
              <li>
                Un fișier HTML (se deschide în orice browser – ex.
                Chrome, Safari, Edge)
                cu informații despre conținutul arhivei
                și cu explicațiile pașilor necesari pentru a depune
                declarațiile în conformitate cu cerințele ANAF
              </li>
              <li>
                Un fișier CSV cu informații care centralizează datele contribuabililor
              </li>
              <li>
                Un dosar/folder cu formularele completate de către contribuabili
              </li>
              <li>
                Un dosar/folder cu fișierele XML ce pot fi încarcă în PDF-ul ANAF
              </li>
            </ul>
          </div>
        </div>


        <button class="accordion">
          PENTRU CONTRIBUABILI
        </button>

        <div class="expanding-panel">
          <button class="accordion">
            Cine poate redirecționa 3,5% din impozitul pe venit?
          </button>
          <div class="expanding-panel">
            <p>
              Conform Ordinului ANAF nr. 103/2025,
              publicat în Monitorul Oficial nr. 68 din 28 ianuarie 2025,
              formularul 230 reprezintă
              „Cerere privind destinația sumei reprezentând până la 3,5% din impozitul anual
              <strong>
                pe veniturile din salarii și asimilate salariilor”.
              </strong>
            </p>
            <p>
              Astfel, persoanele care pot completa formularul 230 sunt cele care realizează venituri salariale sau asimilate salariilor.
            </p>
          </div>

          <button class="accordion">
            Cum pot redirecționa 3,5% din impozitul pe venit?
          </button>
          <div class="expanding-panel">
            <p>
              Redirecționarea procentului din impozitul pe venit se face prin depunerea declarației 230
              până la data de
              {{ limit.strftime("%d.%m.%Y") }}
              .
              Există trei variante de a depune declarația:
            </p>
            <ol>
              <li>
                Poți depune declarația personal, în format fizic la registratura organului fiscal
                de care aparții sau prin poștă la adresa serviciului fiscal.
              </li>
              <li>
                Poți depune electronic, prin serviciul Spațiul Privat Virtual personal.
              </li>
              <li>
                Poți trimite formularul către organizația pentru care dorești să redirecționezi
                și ei se vor ocupa de depunerea acestora către ANAF.
                Prin intermediul platformei Redirecționează,
                poți face acest lucru semnând declarația
                <a href="{{ reverse('organizations') }}">aici</a>
                .
              </li>
            </ol>
          </div>

          <button class="accordion">
            Pot depune mai multe declarații?
          </button>
          <div class="expanding-panel">
            <p>
              Nu, pe platforma redirectioneaza.ro se poate completa și
              depune declarația 230 pentru o singură organizație.
              Dacă veți depune mai multe astfel de declarații,
              veți fi contactat ulterior de către autorități pentru a verifica pe care vreți să o
              păstrați.
            </p>
          </div>

          <button class="accordion">
            După ce am semnat declarația, mă mai pot răzgândi?
          </button>
          <div class="expanding-panel">
            <p>
              Odată semnată declarația online prin intermediul platformei,
              acesta nu mai poate fi retrasă din centralizarea organizației
              către care ați ales să redirecționați cei 3,5% din impozitul pe venit.
            </p>
          </div>

          <button class="accordion">
            Dacă am semnat declarația online, mai este necesar să o depun și eu la
            ANAF?
          </button>
          <div class="expanding-panel">
            <p>
              Nu.
              Odată semnată online, declarația este transmisă automat organizației către care
              ați ales să redirecționați procentul din impozitul pe venit.
              Devine astfel responsabilitatea organizației să transmită către
              Agenția Națională de Administrare Fiscală
              situația centralizată cu toate declarațiile primite.
              Dacă vreți să vă retrageți declarația după depunere,
              trebuie să luați legătura direct cu organizația pentru care ai completat declarația.
            </p>
          </div>
        </div>

        <div class="contact-row">
          <h4>Nu ai găsit ce căutai?</h4>
          <ul class="list list-unstyled">
            <li>
              Trimite-ne întrebarea ta la adresa de email
              <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
              și vom răspunde în cel mai scurt timp posibil.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ static('js/accordion.js') }}"></script>
{% endblock %}
