{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3>Notă de informare</h3>
                <h4>Privind prelucrarea datelor cu caracter personal</h4>

                <p>
                    “Redirectioneaza.ro” este o platformă online dezvoltată de Asociația Code for Romania - Codează
                    pentru România (denumită în continuare “Code for Romania”) care vine în sprijinul acțiunilor civice
                    de redirecționare a până la 3.5% din impozitul anual, având ca obiectiv facilitarea relației cu
                    ONG-urile. În acest scop, Code for Romania colectează date personale conform acestei Note de
                    informare, în calitate de operator de date.
                </p>

                <p>
                    Asociația Code for Romania - Codează pentru România este o persoană juridică, având sediul in
                    București, Piața Alba Iulia nr. 7, bloc I6, etaj 1, ap. 6, înregistrată în registrul special, Partea
                    A, secțiunea I 67/06.07.2016, cu CIF RO36317167.
                </p>

                <p>
                    Înțelegem că ești conștient despre și ai grija de propriile tale interese personale privind
                    confidențialitatea și luăm acest lucru în serios. Această Notă de informare descrie politicile și
                    practicile Code for Romania privind colectarea și utilizarea datelor tale personale.
                </p>

                <h4>
                    1. Datele personale prelucrate
                </h4>

                <p>
                    Completând formularul pus la dispoziție în dreptul fiecărui ONG pe care l-ai selectat, putem colecta
                    următoarele date cu caracter personal (denumite în continuare „Date personale”):
                </p>
                <ul class="list">
                    <li>nume și prenume</li>
                    <li>cod numeric personal</li>
                    <li>adresă</li>
                    <li>e-mail</li>
                    <li>număr de telefon</li>
                    <li>inițiala prenumelui tatălui</li>
                </ul>

                <h4>
                    2. Scop și temei
                </h4>

                <p>
                    Code for Romania prelucrează date cu caracter personal doar în interesul utilizatorilor site-ului
                    care își exprimă consimțământul cu privire la facilitarea completării formularului tip 230 de către
                    Code for Romania sau dacă utilizatorii doresc transmiterea datelor lor către ONG-uri.
                </p>
                <p>
                    Code for Romania prelucrează datele tale personale menționate mai sus doar dacă dorești ca
                    preambulul formularului tip 230 să fie pre-completat de către noi cu datele necesare, astfel încât
                    formularul să fie valabil, conform prevederilor legale. În acest fel, formularul tip 230 se
                    generează în format PDF, putând fi descărcat ulterior de către tine.
                </p>
                <p>
                    În cazul în care nu dorești ca datele tale personale să fie prelucrate, poți alege să redirecționezi
                    cei până la 3.5% din impozit descărcând și completând chiar tu formularul tip 230 de pe site.
                </p>
                <p>
                    De asemenea, poți alege să transmiți datele tale de contact către ONG-ul preferat, pentru ca aceștia
                    să te poată contacta ulterior sau să-ți poată transmite alte materiale informative referitoare la
                    activitatea lor. Aceste date personale vor fi transmise direct către ONG, ele nu vor fi accesibile
                    sau utilizate în vreun fel de Code for Romania.
                </p>

                <h4>
                    3. Durata stocării
                </h4>

                <p>
                    Datele personale furnizare sunt stocate temporar până la completarea formularului tip 230, urmând a
                    fi șterse din evidențele Code for Romania imediat după ce formularul tip 230 a fost completat.
                </p>

                <h4>
                    4. Transmiterea datelor personale către terți
                </h4>

                <p>
                    Code for Romania poate furniza datele personale, pe care le-ai oferit, ONG-ului ales de tine. Acest
                    lucru se întâmplă în temeiul consimțământului exprimat de tine, prin bifarea opțiunii de a permite
                    ONG-ului să te contacteze. Acest ONG își asumă un angajament de confidențialitate, prin care
                    garantează că datele personale sunt păstrate în siguranță.
                </p>
                <p>
                    Datele pot fi furnizate și către instituții sau autorități publice, precum și altor organe abilitate
                    ale statului, în baza și în limitele prevederilor legale, ca urmare a unor cereri expres formulate
                    de acestea.
                </p>

                <h4>
                    5. Drepturile tale
                </h4>

                <p>
                    În calitate de utilizator al platformei
                    <a href="https://redirectioneaza.ro">redirectioneaza.ro</a>,
                    potrivit Legii nr. 679/2016, precum și, începând cu 25 mai 2018, potrivit Regulamentului general
                    privind protecția datelor, ai următoarele drepturi:
                </p>
                <ul class="list">
                    <li>
                        Dreptul la informare cu privire la prelucrarea datelor personale de către Code for Romania;
                    </li>
                    <li>
                        Dreptul de acces la datele personale, la cerere și în mod gratuit printr-o solicitare pe an;
                    </li>
                    <li>
                        Dreptul de intervenție, rectificare, ștergere sau portabilitate a datelor personale, la cerere
                        și în mod gratuit;
                    </li>
                    <li>
                        Dreptul de a te adresa Autorității Naționale de Supraveghere privind Prelucrarea Datelor cu
                        Caracter
                        Personal (cu sediul în București, sector 1, B-dul G-ral. Gheorghe Magheru,
                        <a href="https://www.dataprotection.ro">www.dataprotection.ro</a>)
                        sau justiției, pentru apărarea oricăror drepturi garantate de lege;
                    </li>
                    <li>
                        Dreptul la opoziție şi procesul decizional individual automatizat;
                    </li>
                    <li>
                        Dreptul la restricționarea prelucrării, începând cu 25 mai 2018, potrivit Regulamentului general
                        privind protecția datelor.
                    </li>
                </ul>

                <h4>
                    6. Securitate și confidențialitate
                </h4>

                <p>
                    Protecția informațiilor în cursul prelucrării datelor tale personale este o preocupare majoră a Code
                    for Romania, de aceea toate datele personale colectate în cursul vizitelor pe
                    <a href="https://redirectioneaza.ro">redirectioneaza.ro</a>
                    sunt prelucrate conform prevederilor legale în vigoare din România. Code for Romania folosește
                    tehnologii de ultimă generație și ia toate măsurile tehnice rezonabile pentru transmiterea și
                    păstrarea datelor personale în condiții de deplină securitate și confidențialitate.
                </p>
                <p>
                    Toate datele personale de pe site sunt stocate și procesate pe servere situate în Uniunea Europeană,
                    ce intră sub incidența legislației europene de protecție a datelor personale. Nicio informație
                    oferită pe acest site nu părăsește teritoriul Uniunii Europene.
                </p>
                <p>
                    Code for Romania se angajează să nu dezvăluie datele personale cu privire la vizitele tale pe
                    <a href="https://redirectioneaza.ro">redirectioneaza.ro</a>,
                    exceptând situațiile legale sau situațiile prezentate în această Notă de
                    informare.
                </p>
                <p>
                    Dacă descoperim un incident cu privire la securitatea datelor personale care prezintă un risc pentru
                    drepturile și libertățile utilizatorilor noștri, vom notifica Autoritatea Națională de Supraveghere
                    privind Prelucrarea Datelor cu Caracter Personal în termen de 72 de ore. Dacă incidentul de
                    securitate este de natură să prezinte un risc ridicat pentru drepturile și libertățile tale, vei fi,
                    de asemenea, notificat.
                </p>

                <h4>
                    7. Contactează Code for Romania
                </h4>

                <p>
                    Pentru orice întrebări sau preocupări, precum și pentru exercitarea drepturilor tale legate de
                    prelucrarea datelor cu caracter personal de către Code for Romania, ne poți contacta astfel:
                </p>
                <p>
                    Adresa: Piața Alba Iulia nr. 7, bloc I6, etaj 1, ap. 6, București, România
                    <br/>
                    E-mail: <a href="mailto:redirectioneaza@code4.ro">redirectioneaza@code4.ro</a>
                </p>

            </div>
        </div>
    </div>
{% endblock %}
