{% extends "base.html" %}

{% block additional_headers %}
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@3.0.0-beta.4/dist/signature_pad.umd.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="signature-container">
            <div class="signature-title-wrapper text-center">
                <span>Adaugă semnătura pentru a finaliza completarea formularului</span>
            </div>
            <canvas id="signature" width="600" height="200" style="border: 1px solid #ddd;"></canvas>
            <div class="signing-line"></div>
        </div>

        <div class="signature-button-container">
            <form action="{{ url('ngo-twopercent-signature', kwargs={'ngo_url': ngo.slug}) }}" role="form" method="post" class="signature-form">
                {{ csrf_input }}
                <span class="reset-button">
                    <button id="clear-signature" class="btn btn-lg" type="button">
                    Resetează
                </button>
                </span>
                <input id="signature-input" type="hidden" name="signature">
                <button id="signature-send" class="btn btn-primary btn-lg hidden" disabled="disabled" type="submit">
                    Trimite
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ static('js/signature.js') }}"></script>
    <script>
        $(document).ready(function() {
            $signature_send_btn = $("#signature-send")
            setTimeout(function() {
                $signature_send_btn.removeClass("hidden");
            }, 2000);
            setTimeout(function() {
                $signature_send_btn.removeAttr("disabled");
            }, 3000);
        });
    </script>
{% endblock %}
