
{% extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="row margin-top">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                <div class="row">
                    <img src="{{ static('images/thank_you.jpg') }}" width="180px" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <a href="{{ donor.pdf_url }}" class="btn btn-primary btn-lg ngo-form-url" download="Formular_donatie_2%.pdf" target="_blank">
                    Descarcă formularul tău
                </a>
            </div>
        </div>

        {% if donor.has_signed %}
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <p>
                        Îți mulțumim! Formularul tau a fost trimis la organizatie si ai primit si tu pe email o copie a acestuia.
                    </p>
                    <p>
                        Împreună suntem mai buni, mai puternici și mai curajosi. Împreună putem aduce o schimbare în bine în societatea noastră, de aceea avem nevoie de cât mai mulți oameni ca tine.
                    </p>
                    <p>
                        Dacă vrei să susții organizația mai departe, spune și prietenilor tăi să intre pe <a href="https://redirectioneaza.ro">redirectioneaza.ro</a>.
                    </p>
                </div>
            </div>
        {% else %}
            <div class="row instructions-row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <h4>Următorii pași:</h4>
                    <ul class="list list-unstyled">
                        <li>
                            Pasul 2. Printează formularul, completează câmpul de CNP dacă nu ai făcut-o la pasul anterior și semnează-l.
                        </li>
                        <li>
                            Pasul 3. Apoi, ai următoarele optiuni:
                            <ol type="A">
                                {# if the ngo agreed to receive forms through email #}
                                {% if ngo.accepts_forms %}
                                    <li>
                                        Fie îl scanezi și îl trimiți pe e-mail ONG-ului și se ocupă ei de depunerea lui. Adresa de e-mail a ONG-ului este: <a href="mailto:{{ ngo.email }}">{{ ngo.email }}</a>;
                                    </li>
                                {% endif %}
                                <li>
                                    Fie îl trimiți prin poștă cu <strong>scrisoare recomandată</strong> către unitatea ANAF de care aparții.
                                    {% if anaf %}
                                        <strong>În cazul tău, aceasta este:</strong>
                                        <div class="address-box">
                                            <strong>{{ anaf['name'] }}</strong>
                                            <br>
                                            Adresa: {{ anaf['address'] }}
                                        </div>
                                    {% else %}
                                        Caută oficiul de care aparții în <a href="https://static.anaf.ro/static/10/Anaf/AsistentaContribuabili_r/telefoane_judete/Regiuni.htm" target="_blank">această</a> listă;
                                    {% endif %}
                                </li>
                                <li>
                                    Fie îl trimiți prin poștă sau curier la adresa ONG-ului și se ocupă ei de depunerea lui. Adresa lor este: <strong>{{ ngo.name }}, {{ ngo.address }}</strong>.
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-8 col-md-offset-2 margin-top text-center">
                    <h4>Trimite formularul completat până la data de <strong class="deadline">{{ limit.day }} {{ month_limit }}</strong>!</h4>
                </div>
                {% if ngo.tel or ngo.email %}
                    <div class="col-xs-12 col-md-8 col-md-offset-2 ngo-details">
                        Dacă dorești să iei legatura cu organizația pentru colectarea formularului sau alte informații, o poți face la: <br>
                        {% if ngo.tel %}
                            Telefon: {{ ngo.tel }} <br>
                        {% endif %}
                        {% if ngo.email %}
                            Email: {{ ngo.email }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% include "components/be-a-hero.html" %}

    </div>

{% endblock %}
