<div>
  <a
    {% if style == "white" %}
      class="w-full px-2 py-1 text-sm text-center no-underline text-gray-900 rounded-full shadow-sm bg-white border border-gray-300 sm:text-base sm:px-6 sm:py-2 hover:bg-gray-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-300"
    {% else %}
      class="w-full px-2 py-1 text-sm text-center no-underline text-gray-900 rounded-full shadow-sm bg-amber-300 sm:text-base sm:px-6 sm:py-2 hover:bg-amber-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-300"
    {% endif %}
    href="{{ button_url }}"
  >
    {{ button_title }}
  </a>
</div>
