{% load i18n %}

<div>
  <label>
    <span class="block text-sm/6 font-medium text-gray-900 mb-2">
      {% trans "Email address" %}
    </span>
    <input
      type="email"
      name="email"
      autocomplete="email"
      aria-errormessage="Te rugăm sa introduci o adresa de email validă"
      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-amber-400 sm:text-sm/6"
      required>
  </label>
</div>
