{% block footer %}

    <tr>
        <td class="content-block">
            Proiect realizat în totalitate prin implicarea voluntarilor Code for Romania. Pentru a ține proiecte ca
            acesta în viață și pentru a susține crearea unor noi aplicații de acest fel, puteți susține <a
            href="https://code4.ro">Code for Romania</a> cu donație recurentă.
        </td>
    </tr>
    <tr>
        <td class="content-block">
            Ai primit din greșeală acest email? Contactează-ne la <b>redirectioneaza@code4.ro</b>
        </td>
    </tr>

{% endblock %}
