{% extends "base.html" %}
{% load i18n allauth account %}

{% block content %}
  <div class="container">
    <div class="flex flex-col gap-16 lg:grid lg:grid-cols-2 xl:gap-32 2xl:gap-64">

      {% if SOCIALACCONUNT_ONLY %}

        <div class="md:col-span-2">
          {% include "account/snippets/third-party.html" with page_type="login" %}
        </div>

      {% elif SOCIALACCOUNT_ENABLED %}

        <div>
          {% include "account/snippets/login-form.html" %}
        </div>

        <div>
          {% include "account/snippets/third-party.html" with page_type="login" %}
        </div>

      {% else %}

        <div class="md:col-span-2">
          {% include "account/snippets/login-form.html" %}
        </div>

      {% endif %}

    </div>

    {% include "components/recaptcha-div.html" with captcha_public_key=captcha_public_key %}

  </div>


  {% include "account/snippets/cta-ngohub.html" %}

{% endblock content %}
