{% extends "base.html" %}
{% load i18n static %}

{% block additional_headers %}
  <script src='https://www.google.com/recaptcha/api.js?hl=ro' async defer></script>
{% endblock %}

{% block content %}
  <div class="container max-w-6xl">

    <div class="row">
      {% if errors %}
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Oops!</strong> {{ errors }}
          </div>
        </div>
      {% elif found %}
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>OK!</strong> {{ found }}
          </div>
        </div>
      {% endif %}
    </div>

    <form id='forgot-password-form' action="/forgot/" role="form" method="post">
      <header class="flex flex-col justify-center items-center">
        <h1 class="text-center text-gray-900 text-3xl font-bold leading-9 mb-6">
          {% trans "Password recovery" %}
        </h1>
      </header>

      {% csrf_token %}

      <div class="overflow-hidden rounded-lg bg-white drop-shadow ring-1 ring-gray-200">
        <div class="px-10 py-8 grid gap-8">

          {% include "account/components/email-input.html" with max_length=320 %}

          <p>
            {% blocktrans trimmed %}
              To recover your password, please enter the email address you registered with
              and then press the Send button.
            {% endblocktrans %}
          </p>


          <button
            type="submit"
            class="w-full text-center bg-amber-300 sm:text-base text-sm sm:px-6 sm:py-2 px-2 py-1 shadow-sm rounded-full text-gray-900 hover:bg-amber-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-300">
            {% trans "Send" %}
          </button>
        </div>
      </div>

      <div class="g-recaptcha" data-sitekey="{{ captcha_public_key }}" data-size="invisible" data-callback="onSubmit"></div>
    </form>
  </div>
{% endblock %}


{% block scripts %}
  <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}
