{% extends "base.html" %}
{% load i18n static %}

{% block additional_headers %}
  <script src='https://www.google.com/recaptcha/api.js?hl=ro' async defer></script>
{% endblock %}

{% block content %}

  <div class="container">

    <form id='forgot-password-form' action="{% url 'forgot' %}" role="form" method="post">

      <header class="flex flex-col justify-center items-center text-gray-900">
        <h1 class="text-center  text-3xl font-bold leading-9 mb-6">
          {% trans "Password recovery" %}
        </h1>

        <p class="text-center sm:text-base text-sm max-w-lg mb-10">
          {% blocktrans trimmed %}
            To recover your password, please enter the email address you registered with
            and then press the Send button.
          {% endblocktrans %}
        </p>

      </header>

      {% csrf_token %}

      <div class="flex flex-col justify-center items-center">
        <div class="overflow-hidden rounded-lg bg-white w-full max-w-lg">
          <div class="px-10 py-8 grid gap-8">

            {% trans "E-mail address" as input_title %}
            {% include "components/input/input.html" with input_id="email" input_name="email" input_title=input_title field=form.email input_type="email" max_length=254 is_required=True input_autocomplete="email" %}

            <button
              type="submit"
              class="w-full text-center bg-amber-300 sm:text-base text-sm sm:px-6 sm:py-2 px-2 py-1 shadow-xs rounded-full text-gray-900 hover:bg-amber-200 focus-visible:outline-solid focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-300">
              {% trans "Send" %}
            </button>

          </div>
        </div>
      </div>

      {% include "components/recaptcha-div.html" with captcha_public_key=captcha_public_key %}

    </form>

  </div>

{% endblock %}
