{% extends "base.html" %}
{% load i18n static %}

{% block additional_headers %}
  <script src='https://www.google.com/recaptcha/api.js?hl=ro' async defer></script>
{% endblock %}

{% block content %}

  <div class="container">

    <form id='reset-password' action="{% url 'password' %}" role="form" method="post">

      <header class="flex flex-col justify-center items-center">
        <h1 class="text-center text-gray-900 text-3xl font-bold leading-9 mb-6">
          {% trans "Set a new password" %}
        </h1>
      </header>

      {% csrf_token %}

      <div class="flex flex-col justify-center items-center ">
        <div class="overflow-hidden rounded-lg bg-white drop-shadow ring-1 ring-gray-200 w-full max-w-3xl">
          <div class="px-10 py-8 grid gap-8">

            {% trans "New password" as input_title %}
            {% include "components/input/input.html" with input_id="password" input_name="password" field=form.email input_type="password" input_autocomplete="new-password" max_length=254 is_required=True %}

            {% trans "Confirm password" as input_title %}
            {% include "components/input/input.html" with input_id="password_confirm" input_name="password_confirm" field=form.email input_type="password" input_autocomplete="new-password" max_length=254 is_required=True %}

            <input type="hidden" name="token" value="{{ token }}"/>

            <button
              type="submit"
              class="w-full text-center bg-amber-300 sm:text-base text-sm sm:px-6 sm:py-2 px-2 py-1 shadow-sm rounded-full text-gray-900 hover:bg-amber-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-300">
              {% trans "Change password" %}
            </button>

          </div>
        </div>
      </div>

      <div id=g-recaptcha" class="g-recaptcha" data-sitekey="{{ captcha_public_key }}" data-size="invisible" data-callback="onSubmit"></div>

    </form>

  </div>

{% endblock %}
