{% extends "public/articles/base.html" %}

{% load i18n %}

{% block article_content %}

  <h1>
    {% trans "Your account has been succesfully validated!" %}
  </h1>

  <p>
    {% blocktrans trimmed %}
      Congratulations! You have completed your redirectioneaza.ro account validation.
      Now you can return to the authentication page and log into your account.
    {% endblocktrans %}
  </p>

  {% url "login" as button_url %}
  {% trans "Authenticate" as button_title %}
  {% include "components/buttons/link.html" %}

{% endblock article_content %}
