{% extends "emails/base.html" %}

{% load i18n %}

{% block heading %}
  {% trans "Good news! You have just redirected a part of your income tax!" %}
{% endblock %}

{% block content %}

  <p>
    {% blocktrans trimmed %}
      Thank you for choosing to support {{ ngo_name }}!
      Your form has reached the organization,
      so you don't have to worry about anything else.
      You can see the form you have filled in by clicking the button below.
    {% endblocktrans %}
  </p>

  {% if donation_is_two_years %}
    <p>
      {% blocktrans trimmed %}
        Redirection duration: 2 years
      {% endblocktrans %}
    </p>
  {% else %}
    <p>
      {% blocktrans trimmed %}
        Redirection duration: 1 year
      {% endblocktrans %}
    </p>
  {% endif %}


  {% trans "Download form" as action_title %}
  {% include "emails/components/action.html" with title=action_title url=action_url %}

  <p>
    {% blocktrans trimmed %}
      The download link is valid for one year.
    {% endblocktrans %}
  </p>

  {% include "emails/components/extra-hand.html" %}

  <p>
    {% trans "Thank you for your involvement!" %}
  </p>

  {% include "emails/components/misdelivered.html" %}

{% endblock %}
