{% load i18n %}

<div class="h-0 flex-grow overflow-auto" data-simplebar>

    <div class="module {% if 'TODO123' in request.path %}current-app{% endif %}">
        <ol class="px-6">
            <li>

                <h2>
                    <a href="#menu-1"
                        class="block font-semibold mb-2 mt-4 text-font-important-light text-sm truncate dark:text-font-important-dark">
                        {% translate "Menu Header 111" %}
                    </a>
                </h2>

                <ol>
                    <li class="model-user {% if 'TODO123' in request.path|urlencode %} current-model{% endif %}">
                        <a href="#menu-1-1" id="link-user-changelist"
                            class="block -mx-3 px-3 py-3 rounded-md truncate">
                            {% translate "Menu Item 1" %}
                        </a>
                    </li>
                </ol>

            </li>
        </ol>
    </div>

</div>