
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <div class="be-a-hero">
            <div class="title">
                <h3>
                    <i class="glyphicon glyphicon-heart"></i>
                    <span>
                        Fii un Supererou Civic!
                    </span>
                </h3>
            </div>

            <p>
                Ne bucurăm să te avem aici, în comunitatea oamenilor cu spirit civic. Împreună suntem mai buni, mai puternici și mai curajosi. Împreună putem aduce o schimbare în bine în societatea noastră, de aceea avem nevoie de cât mai mulți oameni ca tine. În cazul în care tu ești scutit de impozit, dar vrei să ajuți, descarcă formularul precompletat cu datele ONG-ului pe care vrei să-l ajuţi, printează-l și transmite-l colegilor, prietenilor și familiei. <br>
                Ce spui? Putem conta pe tine?
            </p>

            {# if we already have an url for this ngo's url #}
            <a href="{{ reverse('api-ngo-form-url', kwargs={'ngo_url': ngo.slug}) }}"
               class="btn btn-primary btn-block ngo-form-url">
                Descarcă un model de formular
            </a>
        </div>
    </div>
</div>
