<div class="homepage-paragraph row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h3>Reprezinți un ONG?</h3>
        <p>
            Înregistrează-ți organizația pe
            <strong>redirectioneaza.ro</strong>
            în doar câteva clipe și începe să aduni Declarațiile 230 mult mai ușor.
            Folosirea platformei este gratuită pentru toate organizațiile neguvernamentale
            din România care îndeplinesc
            <a href="{{ reverse('terms') }}">Termenii și Condițiile</a>.
        </p>
    </div>
</div>
<div class="homepage-paragraph row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <a id="for-ngos" class="btn btn-primary btn-primary-contrast btn-lg" href="{{ reverse('signup') }}">
            Creează cont
        </a>
    </div>
</div>
