


<div class="row">
    {# ngo details #}
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6">
        <div class="media ngo-details" itemscope itemtype ="http://schema.org/NGO" >
            <div class="media-left">
                {% if ngo.logo_url %}
                    <img class="media-object" itemprop="logo" src="{{ ngo.logo_url }}" />
                {% endif %}
            </div>
            <div class="media-body">
                <h1>
                    <a href="/{{ ngo.form_url }}">
                        <span itemprop="name" >{{ ngo.name }}</span>
                    </a>
                </h1>
                {% if ngo.description|length > 250 %}
                    <div class="description" itemprop="description">
                        {% for line in ngo.description.splitlines() %}
                            {{ line }}<br>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ ngo.description }}
                {% endif %}

                {% if ngo_website %}
                    <p class='ngo-website'>
                        <strong>Website:</strong> <br />
                        <a href="{{ ngo_website }}" target="_blank">{{ ngo_website_description }}</a>
                    </p>
                {% endif %}

                {% if is_admin %}
                    <a href="{{ url('admin-ong', kwargs={'ngo_url': ngo.form_url}) }}" class="btn btn-link">
                        Editează ONG-ul
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
