{% load i18n %}

{% blocktranslate trimmed asvar banner_message %}
  <p>
    Your organization is not accepting forms by e-mail.
    This means that users will have to download and print the form, fill it in,
    and send it to the organization's address or to their ANAF office.
  </p>
{% endblocktranslate %}

{% if active_tab == "presentation" %}
  {% url "my-organization:forms" as banner_cta_url %}
  {% trans "Go to the form page" as banner_cta_message %}
{% endif %}

{% include "components/info-banner.html" with style="warning" %}
