{% load i18n %}

{% blocktranslate trimmed asvar banner_message %}
  <p>
    The information below is public for redirectioneaza.ro users.
  </p>
  <p>
    Some fields are disabled because they are automatically taken
    from your organization's account in NGO Hub.
    You can modify them at any time directly in NGO Hub,
    then update them on redirectioneaza.ro
    by pressing the "Fetch from NGO Hub" button.
  </p>
{% endblocktranslate %}

{% trans "Go to NGO Hub" as banner_cta_message %}

{% include "components/info-banner.html" with style="info" banner_cta_url=ngohub_url %}
