{% load i18n %}

{% blocktranslate trimmed asvar banner_message %}
  <p>
    The information below appears on your organization's page on redirectioneaza.ro.
  </p>
  <p>
    The disabled fields contain information automatically taken into the organization's account from NGO Hub.
    These can be edited at any time directly in NGO Hub
    and then updated on redirectioneaza.ro by pressing the
    "Resynchronize information from NGO Hub" button.
  </p>
{% endblocktranslate %}

{% trans "Go to NGO Hub" as banner_cta_message %}

{% include "components/info-banner.html" with style="info" banner_cta_url=ngohub_url %}
