{% extends "base.html" %}

{% block header %}
    {% include "ngo/account-header.html" %}
{% endblock %}

{% block content %}
<div class="my-account-container">

    {# if the user has an ngo attached, everything is ok #}
    {% if user.ngo %}
        {# show message if the user hasn't verified its address yet #}
        {% if not user.verified %}
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Nota!</strong> Te rugam sa accesezi linkul primit pe email pentru a-ti verifica adresa.
                    </div>
                </div>
            </div>
        {% endif %}

        {% if not can_donate %}
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Nota!</strong> Formularul de redirectionare a 2% din impozitul anual poate fi completat de cei care viziteaza pagina asociatiei, doar intre 1 Ianuarie si {{ limit.day }} {{ months[limit.month] }} ale anului curent.
                    </div>
                </div>
            </div>
        {% endif %}

        {% include "components/ngo-header.html" %}
    
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div data-toggle="popover" data-placement="bottom" data-content="Apasa CTRL+C pentru a copia adresa">
                    <label for="url-ngo">URL:</label>
                    <input id="url-ngo" class="ngo-copy-url form-control" value="{{ ngo_url }}" readonly />
                </div>
            </div>
        </div>

        <div class="row">
            {% include "ngo/donations-view.html" %}
        </div>

    {% else %}
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h3>Salut, {{ user.last_name }}. Bine ai venit pe redirectioneaza.ro</h3>
                <h4>Mai intai, spune-ne despre asociatie.</h4>
                {% include "components/ngo-details-form.html" %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="suggestions-box">
                <p>
                    <strong>Salut!</strong> Dacă întâmpini orice dificultate te rugăm să ne transmiți un e-mail la <a href="mailto:redirectioneaza@code4.ro">redirectioneaza@code4.ro</a>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="/js/account.js"></script>
{% endblock %}