{% extends "base.html" %}

{% block header %}
    {% include "ngo/account-header.html" %}
{% endblock %}

{% block content %}
<div class="container">

    {% if errors %}
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Oops!</strong> {{ errors }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            {% include "components/ngo-details-form.html" %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}