{% load i18n %}

{% if archive_jobs|length == 0 %}

  <tr class="text-sm text-gray-600">
    <td class="py-4 pl-4 pr-3 font-medium text-gray-900 sm:pl-0" colspan="7">
      {% trans "No archives were generated" %}
    </td>
  </tr>

{% else %}

  {% for archive in archive_jobs %}
    <tr class="text-sm text-left text-gray-600">

      <td class="py-4 pl-4 pr-3 font-medium text-gray-900 whitespace-nowrap sm:pl-0">
        {{ forloop.counter0|add:page_obj.start_index }}
      </td>

      <td class="py-4 pl-4 pr-3 font-medium text-gray-900 whitespace-normal sm:pl-0">
        {{ archive.date_created|date:"SHORT_DATE_FORMAT" }}
        <br>
        {{ archive.date_created|time:"TIME_FORMAT" }}
      </td>
      <td class="px-1 py-4 whitespace-nowrap">
        {{ archive.bank_account }}
      </td>
      <td class="px-1 py-4 whitespace-nowrap">
        {{ archive.get_status_display }}
      </td>
      <td class="px-1 py-4 whitespace-nowrap">
        <a href="{{ archive.uploaded_data.url }}">{{ archive.uploaded_data.name }}</a>
      </td>
      <td class="px-1 py-4 whitespace-nowrap">
        {{ archive.items_count }}
      </td>
      <td class="px-1 py-4 whitespace-nowrap">
        {% if archive.is_successful %}
          {% if archive.result_data %}
            <a href="{% url 'my-organization:byof-download-link' job_id=archive.pk %}" download>
              {% trans "Download" %}
            </a>
          {% else %}
            {% trans "No results file" %}
          {% endif %}
        {% endif %}

        {% if archive.is_failed %}
          <p>
            {{ archive.result_text }}
          </p>
        {% endif %}

        {% if archive.is_in_progress %}
          <p>
            &ndash;
          </p>
        {% endif %}
      </td>

    </tr>
  {% endfor %}

{% endif %}
