
{% extends "base.html" %} 


{% block content %}
    <div class="container">
        <div class="row margin-top">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                <div class="row">
                    <img src="images/thank_you.jpg" width="180px" />
                </div>
            </div>
        </div>

        <div class="row">
            {# if the ngo allows the donor to upload the signed and scaned pdf  #} 
            {% if ngo.allow_upload %}
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <h3>Daca doresti, incarca formularul pentru a fi expediat de ONG catre ANAF in numele tau:</h3>
                <form action="{{ ngo.key.id()/succes }}" class="form" enctype="multipart/form-data">
                    <div class="form-group text-center">
                        <label for="signed-pdf" class="btn btn-default btn-lg">
                            Alege un fisier
                        </label>
                        <input id="signed-pdf" name="signed-pdf" type="file" accept="image/*, application/pdf" class="hidden" required title="Va rugam alegeti un fisier" x-moz-errormessage="Va rugam alegeti un fisier" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary margin-top pull-right">Incarca</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>

        <div class="row instructions-row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 margin-top">
                <a href="{{ donor.pdf_url }}" class="btn btn-primary btn-block ngo-form-url" download="Formular_donatie_2%.pdf" target="_blank">
                    Descarca formularul tau
                </a>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-2 margin-top">
                <ol class="list" start="2">
                    <li>
                        Printeaza formularul, completeaza campul de CNP daca nu ai facut-o la pasul anterior si semneaza-l.
                    </li>
                    <li>
                        Ai urmatoarele optiuni:
                        <ol type="A">
                            <li>
                                Fie il trimiti prin posta cu <strong>scrisoare recomandata</strong> catre unitatea ANAF de care apartii.
                                {% if anaf %}
                                    <strong>In cazul tau, aceasta este:</strong>
                                    <div class="address-box">
                                        <strong>{{ anaf['name'] }}</strong>
                                        <br>
                                        Adresa: {{ anaf['address'] }}
                                    </div>
                                {% else %}
                                    Cauta oficiul de care apartii in <a href="https://static.anaf.ro/static/10/Anaf/AsistentaContribuabili_r/telefoane_judete/Regiuni.htm" target="_blank">aceasta</a> lista.
                                {% endif %}
                            </li>
                            <li>
                                Fie il trimiti prin posta sau curier la adresa ONG-ului si se ocupa ei de depunerea lui. Daca sunteti in acelasi oras, le poti face o vizita, suntem siguri ca sunt bucurosi de oaspeti 
                                {% if ngo.address %}
                                    <div class="address-box">
                                        <strong>{{ ngo.name }}</strong>
                                        <br>
                                        Adresa: {{ ngo.address }}
                                    </div>
                                {% endif %}
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-2 margin-top text-center">
                <h4>Trimite pana la data de <strong class="deadline">15 martie</strong>!</h4>
            </div>
        </div>

        {% include "components/be-a-hero.html" %}

    </div>

{% endblock %}
