{% load i18n static %}

<html lang="ro">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title }}</title>

</head>

<body style="font-family:Inter, Arial, sans-serif;background-color:#f4f4f4;margin:0;padding:0;">
<div style="margin:auto auto 3rem;text-align:left;background:#ffffff;width:75%;max-width:600px;">

  <div style="background:#ecfeff;padding:20px;margin-top:0;">
    <img
        src="{% static 'images/logo.png' %}"
        alt="Redirecționează logo"
        style="width:50%;margin:0 ;display:block;">
  </div>

  <div style="padding:20px;">
    <h2 style="color:#000000;">
      {% block header %}{% endblock %}
    </h2>
  </div>

  {% block content %}{% endblock %}

  {% include "emails/base-footer.html" %}

</div>
</body>

</html>
