/* Base */

body,
body *:not(html):not(style):not(br):not(tr):not(code) {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  position: relative;
}

body {
  -webkit-text-size-adjust: none;
  background-color: #ffffff;
  color: #000;
  height: 100%;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  width: 100% !important;
}

p,
ul,
ol,
blockquote {
  line-height: 1.6;
  text-align: left;
}

ol li + li,
ul li + li {
  margin-top: 1em;
  font-size: 16px;
}

a {
  color: #0891b2;
  text-decoration: underline;
  font-weight: 500;
}

a img {
  border: none;
}

/* Typography */

h1, h2, h3 {
  color: #000;
  font-weight: bold;
  margin-top: 0;
  text-align: left;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
  margin-top: 0;
}

p.sub {
  font-size: 12px;
}

img {
  max-width: 100%;
}

/* Layout */

.wrapper {
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
  background-color: #f8fafc;
  margin: 0;
  padding: 32px 0 0;
  width: 100%;
}

.content {
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Header */

.header {
  background-color: #ffffff;
}


/* Logo */

.logo {
  height: 75px;
  max-height: 75px;
  width: 75px;
}

/* Body */

.body {

  -premailer-cellspacing: 0;
  -premailer-width: 100%;
  background-color: #f8fafc;
  border-bottom: 1px solid #f8fafc;
  border-top: 1px solid #f8fafc;
  margin: 0;
  padding: 0;
  width: 100%;
}

.inner-body {

  -premailer-cellspacing: 0;
  -premailer-width: 570px;
  background-color: #ffffff;
  border-color: #e8e5ef;
  border-radius: 2px;
  border-width: 1px;
  box-shadow: 0 2px 0 rgba(0, 0, 150, 0.025), 2px 4px 0 rgba(0, 0, 150, 0.015);
  margin: 0 auto;
  padding: 0;
  width: 570px;
}

/* Subcopy */

.subcopy {
  border-top: 1px solid #e8e5ef;
  color: #334155;
  margin-top: 25px;
  padding-top: 25px;
}

.subcopy p {
  font-size: 14px;
}

/* Footer */

.footer {

  -premailer-cellspacing: 0;
  -premailer-width: 570px;
  margin: 0 auto;
  padding: 0;
  /* text-align: center; */
  width: 570px;
}

.footer p {
  color: #334155;
  font-size: 14px;
}

.footer a {
  color: #0891b2;
  text-decoration: underline;
}

.footer .content-cell {
  padding: 38px 32px;
}

.footer .content-cell > * + * {
  margin-top: 16px;
}

.footer .icons a {
  text-decoration: none;
  display: inline-block;
  margin-right: 16px;
}

.footer .icons img {
  display: inline-block;
  height: 24px;
  width: 24px;
}

/* Tables */

.table table {
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
  margin: 30px auto;
  width: 100%;
}

.table th {
  border-bottom: 1px solid #edeff2;
  margin: 0;
  padding-bottom: 8px;
}

.table td {
  color: #74787e;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  padding: 10px 0;
}

.content-cell {
  max-width: 100vw;
  padding: 24px 32px;
}

/* Buttons */

.action {
  -premailer-cellspacing: 0;
  -premailer-width: 100%;
  margin: 30px auto;
  padding: 0;
  text-align: center;
  width: 100%;
  font-size: 14px;
}

.action a {
  color: #334155;
}

/* text-align: center;  */
.button {
  -webkit-text-size-adjust: none;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  border-radius: 19px;
  /* padding: 10px 20px; */
  font-weight: 500;
}

.button-yellow,
.button-primary {
  color: #000000;
  background-color: #FFD209;
  border-bottom: 9px solid #FFD209;
  border-left: 17px solid #FFD209;
  border-right: 17px solid #FFD209;
  border-top: 9px solid #FFD209;
}

.button-green,
.button-success {
  background-color: #48bb78;
  border-bottom: 9px solid #48bb78;
  border-left: 17px solid #48bb78;
  border-right: 17px solid #48bb78;
  border-top: 9px solid #48bb78;
}

.button-red,
.button-error {
  background-color: #e53e3e;
  border-bottom: 9px solid #e53e3e;
  border-left: 17px solid #e53e3e;
  border-right: 17px solid #e53e3e;
  border-top: 9px solid #e53e3e;
}

/* Panels */

.panel {
  margin: 21px 0;
}

.panel-content {
  background-color: #ecfeff;
  color: #000;
  padding: 16px;
  font-size: 16px;
}

.panel-content p {
  color: #000;
}

.panel-item {
  padding: 0;
}

.panel-item p:first-of-type,
.panel-item *:first-child {
  margin-top: 0;
  padding-top: 0;
}

.panel-item p:last-of-type,
.panel-item *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Utilities */

.break-all {
  word-break: break-all;
}

dl {
  margin: 0;
  padding: 0;
}

dl > * + * {
  margin-top: 0.5em;
}

dt {
  display: inline;
}

dd {
  display: inline;
  margin: 0;
}
