{% load i18n %}

{% if archive_jobs|length == 0 %}

  <tr class="text-sm text-gray-600">
    <td class="py-4 pl-4 pr-3 font-medium text-gray-900 sm:pl-0" colspan="4">
      {% trans "No archives were generated" %}
    </td>
  </tr>

{% else %}

  {% for archive in archive_jobs %}
    <tr class="text-sm text-gray-600">

      <td class="py-4 pl-4 pr-3 font-medium text-gray-900 whitespace-nowrap sm:pl-0">
        {{ forloop.counter0|add:page_obj.start_index }}
      </td>

      <td class="py-4 pl-4 pr-3 font-medium text-gray-900 whitespace-normal sm:pl-0">
        {{ archive.date_created|date:"SHORT_DATE_FORMAT" }}
      </td>
      <td class="px-1 py-4 whitespace-nowrap">
        {% if archive.status == "done" %}
          {% trans "Done" %}
        {% elif archive.status == "new" %}
          {% trans "In progress" %}
        {% elif archive.status == "error" %}
          {% trans "Error" %}
        {% else %}
          {% trans "Unknown" %}
        {% endif %}
      </td>
      <td class="px-1 py-4 whitespace-nowrap">
        {% if archive.number_of_donations > 0 %}
          {{ archive.number_of_donations }}
        {% else %}
          —
        {% endif %}
      </td>
      <td class="px-1 py-4 whitespace-nowrap">
        {% if archive.status == "done" %}
          <a href="{% url 'my-organization:archive-download-link' job_id=archive.pk %}">
            {% trans "Download" %}
          </a>
        {% else %}
          <p>
            —
          </p>
        {% endif %}
      </td>

    </tr>
  {% endfor %}

{% endif %}
