{% extends "ngo-account/redirections/base.html" %}

{% load i18n static %}

{% block page_title %}
  {% trans "Archives history" %}
{% endblock %}

{% block page_subtitle %}
  {% blocktrans trimmed %}
    Here you can find the archives of forms that have been exported.
    If are collecting signed forms,
    the archive containing those forms will also contain the documents for the ANAF dynamic PDF.
  {% endblocktrans %}
{% endblock %}


{% block content %}
  <div>
    {% include "ngo-account/archives/listing.html" %}
  </div>
{% endblock %}
