{% extends "ngo-account/base.html" %}

{% load i18n static %}

{% block page_heading %}

  <div class="container max-w-4xl">

    <h1 class="text-2xl text-gray-900 font-semibold">
      {% trans "" %}
    </h1>

    <p class="text-lg pt-2 mt-2 text-gray-500">
      {% blocktrans %}
        Here you can find the archives of forms that have been exported.
        If are collecting signed forms,
        the archive containing those forms will also contain the documents for the ANAF dynamic PDF.
      {% endblocktrans %}
    </p>

  </div>

{% endblock %}


{% block content %}
  <div class="px-4 sm:px-6 lg:px-8">
    {% include "ngo-account/archives/listing.html" %}
  </div>
{% endblock %}
