{% extends "ngo-account/base.html" %}

{% load i18n static %}

{% block page_heading %}

  <div>

    <h1 class="text-2xl font-semibold text-gray-900">
      {% trans "Archives history" %}
    </h1>

    <p class="pt-2 mt-2 text-lg text-gray-500">
      {% blocktrans trimmed %}
        Here you can find the archives of forms that have been exported.
        If are collecting signed forms,
        the archive containing those forms will also contain the documents for the ANAF dynamic PDF.
      {% endblocktrans %}
    </p>

  </div>

{% endblock %}


{% block content %}
  <div>
    {% include "ngo-account/archives/listing.html" %}
  </div>
{% endblock %}
