{% load i18n %}

<a href="{{ url }}" style="display: inline-block; background-color: #FFD209; padding: 10px 20px; text-align: center; text-decoration: none; border-radius: 19px; color: #000000; font-weight: 500;">
  {{ title }}
</a>

<div style="margin-top: 0.5rem;padding:0 10px;font-size: 0.8rem;color: #5e5e5e;">
  <p style="margin:0;">
    {% blocktrans trimmed %}
      If the button above does not work, you can also click on the following link:
    {% endblocktrans %}
  </p>
  <a style="margin:0;" href="{{ url }}">{{ url }}</a>
</div>
