
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <div class="be-a-hero">
            <div class="title">
                <h3>
                    <i class="glyphicon glyphicon-heart"></i>
                    <span>
                        Fii un Supererou Civic!
                    </span>
                </h3>
            </div>

            <p>
                Ne bucuram sa te avem aici, in comunitatea oamenilor cu spirit civic. Impreuna suntem mai buni, mai puternici si mai curajosi. Impreuna putem aduce o schimbare in bine in societatea noastra, de aceea avem nevoie de cat mai multi oameni ca tine. În cazul în care tu ești scutit de impozit, dar vrei sa ajuți, descarca formularul precompletat cu datele ONG-ului pe care vrei sa-l ajuţi, printeaza-l si transmite-l colegilor, prietenilor si familiei. <br>
                Ce spui? Putem conta pe tine?
            </p>

            {# if we already have an url for this ngo's url #}
            <!-- TODO UNCOMMENT THIS ONCE DONE WITH API PART -->
            <!-- <a href="{{ url_for('api-ngo-form-url', ngo_url=ngo.url) }}" class="btn btn-primary btn-block ngo-form-url"> -->
                Descarca un model de formular
            </a>
        </div>
    </div>
</div>