{% load i18n %}


<div
  x-data="{ archiveMenuOpen: false }"
  @click.away="archiveMenuOpen = false"
  @keydown.escape.stop="archiveMenuOpen = false"
  @keydown.tab="archiveMenuOpen = false"
  class="relative inline-block text-left">
  <div>

    <button
      @click="archiveMenuOpen = !archiveMenuOpen"
      x-tooltip.raw="{{ multiple_info_tooltip_text }}"
      type="button"
      class="inline-flex items-center gap-x-1.5 rounded-md border-gray-200 border px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-amber-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600 disabled:border-zinc-950/20 disabled:bg-zinc-950/5 disabled:text-zinc-950/50 disabled:cursor-not-allowed"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true">

      {% trans "Generate ANAF Archive" %}

      <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/>
      </svg>

    </button>

  </div>

  <div
    x-cloak
    x-show="archiveMenuOpen"
    {% if redirections|length == 0 %}
      disabled
    {% endif %}
    x-transition:enter="transition ease-out duration-100"
    x-transition:enter-start="transform opacity-0 scale-95"
    x-transition:enter-end="transform opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="transform opacity-100 scale-100"
    x-transition:leave-end="transform opacity-0 scale-95"
    class="absolute right-0 z-10 -mr-1 mt-2 w-96 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1">

    {% for cause in causes %}
      {% include "ngo-account/redirections/generate-archive/multiple-dropdown.html" with cause=cause %}
    {% endfor %}

  </div>
</div>
