{% extends "emails/base.html" %}

{% load i18n %}

{% block heading %}
  {% trans "You're one step closer to redirecting your income tax to the cause you believe in" %}
{% endblock %}

{% block content %}

  <p>
    {% blocktrans trimmed %}
      Thank you for choosing to support {{ ngo_name }}!
      You can download the completed form by clicking the button below.
    {% endblocktrans %}
  </p>

  {% trans "Download form" as action_title %}
  {% include "emails/components/action.html" with title=action_title url=action_url %}

  <h2>
    {% trans "The next steps" %}
  </h2>

  <p>
    {% blocktranslate trimmed %}
      To complete the redirection,
      print and sign the form,
      then send it by courier or mail to the NGO's address,
      and they will take care of the submission,
      or you can hand it over personally to a representative of the organization.
    {% endblocktranslate %}
  </p>

  <h2>
    {% trans "The organization's contact info" %}
  </h2>

  {% blocktrans trimmed asvar panel %}
    <dl>
      <div>
        <dt>Name:</dt>
        <dd>{{ ngo_name }}</dd>
      </div>

      <div>
        <dt>Address:</dt>
        <dd>{{ ngo_address }}</dd>
      </div>

      <div>
        <dt>Email:</dt>
        <dd><a href="mailto:{{ ngo_email }}">{{ ngo_email }}</a></dd>
      </div>
    </dl>
  {% endblocktrans %}

  {% include "emails/components/panel.html" with content=panel %}

  <h2>
    {% trans "Do you want to give an extra helping hand?" %}
  </h2>

  <p>
    {% blocktrans trimmed %}
      If you want to be a true civic superhero,
      you can help the organization collect more forms!
      Here's how:
    {% endblocktrans %}
  </p>

  <ul style="list-style: disc outside;">
    <li>
      {% blocktranslate trimmed %}
        Share the
        <a href="{{ ngo_url }}">organization's page</a>
        on social networks
        and encourage your friends to complete the form online for the organization you believe in,
        simply and safely,
        on redirectioneaza.ro.
      {% endblocktranslate %}
    </li>
    <li>
      {% blocktranslate trimmed %}
        Download the form 230 template for {{ ngo_name }},
        print multiple copies and convince your colleagues,
        friends or family to complete it.
      {% endblocktranslate %}
    </li>
  </ul>

  <p>
    {% trans "Thank you for your involvement!" %}
  </p>

{% endblock %}
