{% load i18n %}

<label>
  <span class="block text-sm/6 font-medium text-gray-900">
    {{ input_title }}
  </span>

  {% if input_id == "county" %}

    <select
      id="county"
      name="county"
      autocomplete="address-level1"
      {% if is_required %}required{% endif %}
      aria-describedby="input-error"
      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-amber-400 sm:text-sm/6">
      <option value="" class="select-placeholder">
        {{ input_title }}
      </option>
      <optgroup label="București">
        {% for sector in '123456'|make_list %}
          <option value="{{ forloop.counter }}">Sector {{ forloop.counter }}</option>
        {% endfor %}
      </optgroup>
      {% for county_name in counties %}
        <option value="{{ county_name }}">{{ county_name }}</option>
      {% endfor %}
    </select>

  {% else %}

    <input
      id="{{ input_id }}"
      type="{{ input_type }}"
      name="{{ input_name }}"
      autocomplete="{{ input_autocomplete }}"
      {% if is_required %}required{% endif %}
      aria-describedby="input-error"
      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-amber-400 sm:text-sm/6">

  {% endif %}

</label>
