{% load i18n %}
{% load allauth %}
{% load socialaccount %}

<div class="row">
  {% if errors %}
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oops!</strong> {{ errors }}
      </div>
    </div>
  {% endif %}
</div>

    <form id='login-form' class="form form-horizontal" action="/login/" role="form" method="post">
      {{ csrf_input }}
      <fieldset>
        <legend>Login</legend>
        <div class="form-group">
          <div class="col-sm-12">
            <input class="form-control" type="email" name="email" value="{{ email }}" placeholder="Email" autocomplete="email" x-moz-errormessage="Te rugăm sa introduci o adresa de email validă" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input class="form-control" type="password" name="password" placeholder="Parola" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Trimite</button>

            <a href="{% url 'forgot' %}" class="btn btn-link pull-right">Am uitat parola</a>
            <a href="{% url 'signup' %}" class="btn btn-link pull-right">Vreau un cont nou</a>
          </div>
        </div>
      </fieldset>
    </form>

