{% load i18n static %}

{% if not custom_subdomain %}
  <div class="px-6 pt-16 my-16 overflow-hidden shadow-2xl bg-cyan-800 sm:px-16 md:pt-24 lg:px-24 lg:pt-0">
    <div class="relative max-w-6xl mx-auto lg:flex lg:gap-x-20 isolate">

      <svg
        viewBox="0 0 1024 1024"
        class="absolute left-1/2 top-1/2 -z-10 size-256 -translate-y-1/2 mask-[radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
        aria-hidden="true">
      </svg>

      <div class="max-w-md mx-auto text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
        <h2 class="text-3xl font-semibold tracking-tight text-white text-balance sm:text-4xl">
          {% trans "Do you represent an NGO? Join NGO Hub" %}
        </h2>

        <p class="mt-6 text-slate-300 text-pretty text-lg/8">
          {% blocktrans trimmed %}
            We provide redirectioneaza.ro,
            through which NGOs can more easily collect the 230 forms.
            The platform is part of the NGO Hub ecosystem,
            along with other digital solutions created for the needs of non-profit organizations.
            And your organization can have access, for free!
          {% endblocktrans %}
        </p>

        <div class="flex items-center justify-center mt-10 gap-x-6 lg:justify-start">
          <a
            href="https://app.ngohub.ro"
            class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-xs hover:bg-gray-100 focus-visible:outline-solid focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
            {% trans "Register organization" %}
          </a>
          <a href="https://www.ngohub.ro" class="font-semibold text-white text-sm/6 hover:underline">
            {% trans "Find out more" %}
            <span aria-hidden="true">→</span>
          </a>
        </div>
      </div>

      <div class="relative mt-16 h-80 lg:mt-8">
        <img
          class="absolute left-0 top-0 w-228 max-w-none rounded-md bg-white/5 ring-1 ring-white/10"
          src="{% static 'images/ngohub-screenshot.png' %}"
          alt="App screenshot" width="2000" height="1080">
      </div>
    </div>

  </div>
{% endif %}
