{% load i18n %}

<div class="grid pb-6 border-b border-gray-200 gap-x-6 gap-y-3 md:grid-cols-3 lg:grid-cols-4">

  <h2 class="text-2xl text-gray-900 lg:col-span-2 text-bold">
    {{ title }}
  </h2>

  <div class="grid items-center justify-end gap-2 sm:flex md:col-span-2">
    {% if not hide_public_page_button and ngo.can_receive_forms %}
      <a
        {# XXX: [MULTI-FORM] If we have an NGO page this should take us to that page #}
        href="{% url 'twopercent' ngo.slug %}"
        target="_blank"
        class="px-3 py-2 text-sm font-semibold text-gray-700 no-underline border-2 rounded-md border-gray-300 bg-white hover:bg-gray-200 hover:cursor-pointer">

        <span class="flex items-center justify-center gap-x-1.5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>

          <span>
            {% trans "View public page" %}
          </span>
        </span>

      </a>
    {% endif %}

    {% if has_ngohub and not hide_ngohub_button %}
      <div>
        {% trans "Get from NGO Hub" as button_title %}
        <button
          form="refresh-ngohub-form"
          type="submit"
          name="refresh-with-ngohub"
          class="w-full px-3 py-2 text-sm font-semibold text-gray-700 no-underline border-2 rounded-md border-gray-300 bg-white hover:bg-gray-200 hover:cursor-pointer">

          <span class="flex items-center justify-center gap-x-1.5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"/>
            </svg>

            <span>
              {{ button_title }}
            </span>
          </span>

        </button>
      </div>
    {% endif %}

    {% if not hide_save_button %}
      <div>
        {% trans "Save changes" as button_title %}
        <button
          type="submit"
          class="w-full px-3 py-2 text-sm font-semibold text-gray-800 no-underline border-2 rounded-md border-amber-300 bg-amber-300 hover:bg-amber-200 hover:cursor-pointer">
          {{ button_title }}
        </button>
      </div>
    {% endif %}

  </div>
</div>
