{% extends "emails/base.html" %}

{% load i18n %}

{% block heading %}
  {% trans "Hello," %}
{% endblock %}

{% block content %}

  <p>
    {% blocktrans trimmed %}
      We have received your request and prepared the archive with your organization's forms.
      You can access the documents by clicking the button below.
      Remember that the deadline for submitting the forms to ANAF is
    {% endblocktrans %}
    <strong>{{ donation_limit_day }} {{ donation_limit_month_name }} {{ donation_limit_year }}</strong>.
  </p>


  {% trans "Download archive" as action_title %}
  {% include "emails/components/action.html" with title=action_title url=action_url %}

  {% blocktrans trimmed %}
    Thank you for being part of this community!
  {% endblocktrans %}

{% endblock %}
