{% load i18n %}

<section class="container">
  <header class="prose">
    <h1 class="mb-0">
      {% if custom_subdomain %}
        {% trans "Explore the NGOs" %}
      {% else %}
        {% trans "Explore NGOs" %}
      {% endif %}
    </h1>
    <p>
      {% trans "Choose the organization you want to redirect to!" %}
    </p>
  </header>

  <div class="grid gap-8 my-12 sm:grid-cols-2 lg:grid-cols-4 lg:gap-10">
    {% for ngo in ngos %}
      {% include "public/components/ngo-card.html" with ngo=ngo %}
    {% endfor %}
  </div>

  {% if not custom_subdomain %}
    <div>
      <a
        class="w-full px-2 py-1 text-sm text-center text-gray-900 rounded-full shadow-sm bg-amber-300 sm:text-base sm:px-6 sm:py-2 hover:bg-amber-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-300"
        href="{% url 'organizations' %}"
      >
        Vezi toate organizațiile
      </a>
    </div>
  {% endif %}

</section>
