{% load i18n static %}

<section class="relative overflow-hidden isolate">
  <div class="container pb-8 lg:grid lg:grid-cols-12 lg:gap-x-8 lg:pt-8 lg:pb-24">
    <div class="px-6 lg:px-0 lg:pt-4 lg:col-span-7">
      <div class="max-w-lg mx-auto lg:max-w-none">

        <h1 class="block mt-1 text-4xl font-extrabold tracking-tight sm:text-5xl xl:text-6xl">

          {% if custom_subdomain %}
            {% if has_custom_note %}
              {% trans "Redirect 3.5% of your income tax" as heading_main %}
              {% trans "to a cause of your choice" as heading_secondary %}
            {% else %}
              {% trans "Redirect 3.5% of your tax to one of the NGOs" as heading_main %}
              {% blocktrans trimmed asvar heading_secondary %}
                supported by {{ company_name }}
              {% endblocktrans %}
            {% endif %}
          {% else %}
            {% trans "You decide what happens" as heading_main %}
            {% trans "with 3.5% of the income tax" as heading_secondary %}
          {% endif %}

          {% if heading_main %}
            <div class="block text-gray-900">
              {{ heading_main }}
            </div>
          {% endif %}

          {% if heading_secondary %}
            <div class="block text-gray-900 underline decoration-amber-300">
              {{ heading_secondary }}
            </div>
          {% endif %}

        </h1>

        <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
          {% blocktranslate trimmed %}
            Without costing you anything extra,
            by redirecting,
            you give a little extra power to an NGO to do good in your name.
            You can opt for the redistribution of the amount until
          {% endblocktranslate %}
          <strong class="text-cyan-700">{{ limit.day }} {{ month_limit }}</strong>.
        </p>

        {% if has_custom_note %}
          <p class="mt-3 text-base text-gray-500 sm:mt-5">
            {% blocktrans trimmed %}
              If your favorite NGO is not on this page,
              check the full list of organizations on
              <a class="underline text-cyan-700" href="https://redirectioneaza.ro">redirectioneaza.ro</a>.
            {% endblocktrans %}
          </p>
        {% endif %}

        {% if not custom_subdomain %}
          {% include "public/components/home/hero-search.html" %}

          {% include "public/components/home/hero-stats.html" %}
        {% endif %}

      </div>
    </div>

    <div class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen lg:col-span-5">
      {% if custom_subdomain %}
        <img class="w-full max-w-lg mx-auto lg:max-w-none" src="{% static 'images/hero-partner.svg' %}" alt="">
      {% else %}
        <img class="w-full max-w-lg mx-auto lg:max-w-none" src="{% static 'images/hero.svg' %}" alt="">
      {% endif %}
    </div>

  </div>
</section>
