<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('home') }}">
                <img src="{{ static('images/logo-smaller.png') }}" alt="Redirectioneaza logo" width="90px;">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('admin-index') }}">Acasă</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Organizații
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url('admin-ngos-by-date') }}">Organizații după data creării</a></li>
                        <li><a href="{{ url('admin-ngos-by-name') }}">Organizații alfabetic</a></li>
                        <li><a href="{{ url('admin-ngos-by-forms') }}">Organizații după formulare</a></li>
                    </ul>
                </li>

                <li><a href="{{ url('admin-users') }}">Conturi</a></li>
                {% if is_staff %}
                    <li><a href="{{ url('admin:index') }}">Admin avansat</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url('admin:logout') }}?next=/">Ieși din cont admin</a></li>
            </ul>
        </div>
    </div>
</nav>
