{% extends "base.html" %}

{% block header %}
    {% include "admin2/header.html" %}
{% endblock %}

{% block content %}
<div class="container">
    {% if errors %}
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="aler alert-error">
                    <strong>Eroare</strong> {{ errors }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            {% include "components/ngo-details-form.html" %}
        </div>
    </div>
</div>
{% endblock %}
