{% extends "base.html" %}

{% block header %}
    {% include "admin2/header.html" %}
{% endblock %}


{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nume ONG</th>
                <th>Email</th>
                <th>Județ</th>
            </tr>
        </thead>
        <tbody>
            {% if ngos %}
                {% for ngo in ngos if ngo.slug %}
                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            <a href="{{ url('admin-ong', kwargs={'ngo_url': ngo.slug}) }}">{{ ngo.name }}</a>
                        </td>
                        <td>
                            {{ ngo.email or '' }}
                        </td>
                        <td>
                            {{ ngo.county }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">
                        <p class="well well-lg text-center">
                            Din păcate nu există nici un ONG înregistrat.
                        </p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
